
<div style="margin:10px 30px; background: #c12e2a">
  <seer-card>
    <div class="row justify-content-center">
      <div class="col-md-12 search">
        <div class="row" style="margin: 10px 0 30px 0">
          <mark (click)="toggle('all',0)" [class]="className[0]">全部交易记录</mark>
          <mark
            *ngFor="let tradeType of tradeTypes;let i=index;"
            [class]="className[i+1]"
            (click)="toggle(tradeType.code,i+1)"
          >{{tradeType.tradeTypeName}}
          </mark>
        </div>
        <div class="row" style="margin: 10px 0 20px 0">
          <div class="form-group col-sm-12 col-md-12 col-lg-6">
            <div class="row">
              <div class="form-group col-sm-12">
                <label  class="col-sm-2 control-label">交易时间</label>
                <div  class="col-sm-4">
                  <seer-datepicker
                    [dateFormatingRules]="dateFormatingRules || 'yyyy/MM/dd'"
                    (dateChange)="handleStartFilterChange()"
                    [(date)]="startTime"
                  ></seer-datepicker>
                </div>
                <label  class="col-sm-2 control-label">至</label>
                <div  class="col-sm-4">
                  <seer-datepicker
                    [dateFormatingRules]="dateFormatingRules || 'yyyy/MM/dd'"
                    (dateChange)="handleEndFilterChange()"
                    [(date)]="endTime"
                  ></seer-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-6">
            <div class="row">
              <label for="" class="col-sm-2 control-label">状态</label>
              <div class="col-sm-4 col-lg-3 ">
                <select name="" id="" class="form-control col-sm-4"  [(ngModel)]="pageInfo.transState" (ngModelChange)="transStateChange()">
                  <option value="">全部</option>
                  <option value="1">成功</option>
                  <option value="2">失败</option>
                </select>
              </div>
              <div class="col-sm-6 col-lg-3" style="text-align: center;">
                <button class="btn btn-outline-dark left-button" (click)="resetSelect()">重置</button>
              </div>
              
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="row">
          <seer-table
            [data]="tradesRecord"
            [titles]="titlesTradesRecord"
            [paginationRules]="0"
            [pageNum]="pageInfo.pageNum"
            [pageSize]="pageInfo.pageSize"
            [total]="pageInfo.total"
            [hideActions]="true"
            [hideAddButton]="true"
            [showSeq]="true"
            [hideExport]="true"
            [hidePrint]="true"
            [hideRemoveAll]="true"
            [hideColumns]="true"
            [hideCheckbox]="true"
            [hidePrint]="true"
            (changePage)="handlePageChange($event)"
          >
          </seer-table>
        </div>
      </div>
    </div>
  </seer-card>
</div>
