<div class="header" *ngIf="currentActivityPlan">

  <button type="button" class="btn btn-default" (click)="cancel()">返回列表</button>
  <button type="submit"
          class="btn btn-info"
          [disabled]="showerror&&(!currentActivityPlan.activityPlanName
          ||!currentActivityPlan.activityPlanLocation||!currentActivityPlan.startTime||!currentActivityPlan.endTime)"
          (click)="save()">保存
  </button>
    <span *ngIf="showerror&&(!currentActivityPlan.activityPlanName
          ||!currentActivityPlan.activityPlanLocation||!currentActivityPlan.startTime||!currentActivityPlan.endTime)"  class="seer_span_alert" >* 为必须填写项！</span>

</div>


<div class="header_box header_margin" *ngIf="currentActivityPlan">

  <div class="row">
    <div class="col-xs-12">
      <label class="seer_font">活动计划详情</label>
    </div>
  </div>
  <div class="row">
    <div class="header_border">

    </div>
  </div>


  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label">活动编号</label>
      </div>
      <div class="col-xs-3">
        <label class="car_label">{{currentActivityPlan.activityPlanNum}}</label>
      </div>
    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label required">活动名称</label>
      </div>
      <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentActivityPlan.activityPlanName}">
        <input class="form-control" type="text" [(ngModel)]="currentActivityPlan.activityPlanName"/>
      </div>

      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label required">活动类型</label>
      </div>
      <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentActivityPlan.activityPlanLocation}">
<!--        <input class="form-control" type="text" [(ngModel)]="currentActivityPlan.activityPlanLocation"/>-->

        <select class="form-control"
                dict-select
                [key]="'ACTIVITY_PLAN_LOCATION'"
                [selected]="currentActivityPlan.activityPlanLocation"
                [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                [(ngModel)]="currentActivityPlan.activityPlanLocation"></select>
      </div>
    </div>
  </div>


  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label">供应商</label>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" *ngIf="!currentActivityPlan.supplierName" type="text" disabled value="请选择"/>
            <input class="form-control" *ngIf="currentActivityPlan.supplierName" type="text" disabled [(ngModel)]="currentActivityPlan.supplierName"/>
            <input type="text" class="form-control" style="display: none" [(ngModel)]="currentActivityPlan.supplierId"/>
            <supplierClientPicker
              class="input-group-addon"
              style="padding:0"
              [buttonWidth]="'100'"
              (notify)="onSelectSupplier($event)"
              [type]="'supplier'"
            ></supplierClientPicker>
          </div>
        </div>
      </div>

      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label">品牌</label>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" *ngIf="!currentActivityPlan.brandName" type="text" disabled value="请选择"/>
            <input class="form-control" *ngIf="currentActivityPlan.brandName" type="text" disabled [(ngModel)]="currentActivityPlan.brandName"/>
            <input type="text" class="form-control" style="display: none" [(ngModel)]="currentActivityPlan.brandId"/>
            <brandPicker
              class="input-group-addon"
              style="padding:0"
              (notify)="onSelectBrand($event)"
              [id]="currentActivityPlan.supplierId"
            ></brandPicker>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label">客户</label>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" *ngIf="!currentActivityPlan.customerName" type="text" disabled value="请选择"/>
            <input class="form-control" *ngIf="currentActivityPlan.customerName" type="text" disabled [(ngModel)]="currentActivityPlan.customerName"/>
            <input type="text" class="form-control" style="display: none" [(ngModel)]="currentActivityPlan.customerId"/>
            <supplierClientPicker
              class="input-group-addon"
              style="padding:0"
              [buttonWidth]="'100'"
              (notify)="onSelectClient($event)"
              [type]="'client'"
            ></supplierClientPicker>
          </div>
        </div>
      </div>

      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label">门店</label>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <div class="input-group">

            <input type="text" class="form-control"  disabled [(ngModel)]="currentActivityPlan.customerStoreNames"/>
            <input type="text" class="form-control" style="display: none" [(ngModel)]="currentActivityPlan.customerStoreIds"/>
            <storePicker
              class="input-group-addon"
              style="padding:0"
              [id]="currentActivityPlan.customerId"
              [selectedIds]="currentActivityPlan.customerStoreIds"
              (notify)="onSelectStores($event)"
            >
            </storePicker>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label required">开始时间</label>
      </div>
      <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentActivityPlan.startTime}">
        <input
          class="form-control"
          [(ngModel)]="currentActivityPlan.startTime"
          close-on-select="true"
          date-only="true"
          readonly
          ng2-datetime-picker
        />
      </div>

      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label required">结束时间</label>
      </div>
      <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentActivityPlan.endTime}">
        <input
          class="form-control"
          [(ngModel)]="currentActivityPlan.endTime"
          close-on-select="true"
          date-only="true"
          readonly
          ng2-datetime-picker
        />
      </div>
    </div>
  </div>


  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label">总金额</label>
      </div>
      <div class="col-xs-3">
        <input class="form-control" disabled type="text" value="{{renderTotalPrice()}}" [(ngModel)]="currentActivityPlan.activityAmount"/>
      </div>

      <div class="col-xs-offset-1 col-xs-2">
        <label class="pull-right car_label">使用代垫</label>
      </div>
      <div class="col-xs-3">

     <!--   <ss-multiselect-dropdown
          [options]="actingMatList"
          [(ngModel)]="currentActivityPlan.actingMatIds"
          (ngModelChange)="onChangeMatColonne($event)"
        ></ss-multiselect-dropdown>-->

        <div class="form-group">
          <div class="input-group">
            <input class="form-control" *ngIf="!currentActivityPlan.actingMatIds||!currentActivityPlan.actingMatIds.length" type="text" disabled value="请选择"/>
            <input class="form-control" *ngIf="currentActivityPlan.actingMatIds&&currentActivityPlan.actingMatIds.length" type="text" disabled value="{{currentActivityPlan.actingMatIds.length}}个选中"/>
            <input type="text" class="form-control" style="display: none" [(ngModel)]="currentActivityPlan.actingMatIds"/>
            <actingmatplanPicker
              class="input-group-addon"
              style="padding:0"
              [selectedIds]="currentActivityPlan.actingMatIds"
              [hideUsageAmount]="currentActivityPlan.id"
              (notify)="onSelectActing($event)"
            ></actingmatplanPicker>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row spbrow">
    <div class="col-xs-12">
      <label class="seer_font">活动费用列表</label>
    </div>
  </div>
  <div class="row ">
    <div class="header_border">

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <button type="button"  class="btn btn-info pull-right" (click)="addActingMatBudget()">新增</button>
        <table class="table table-bordered">
          <tr>
            <th class="text-center"><b class="seer_font">关联代垫名称</b></th>
            <th class="text-center" *ngFor="let title of budgetTitle"><b class="seer_font">{{title.label}}</b></th>
            <th class="text-center"><b class="seer_font">操作</b></th>
          </tr>
          <tr *ngFor="let item of actingMatBudgets;let index=index">
            <td class="text-center">
              {{item.actingMatName}}
            </td>
            <td class="text-center">
              <input class="form-control" type="text" [(ngModel)]="item.budgetName"/>
            </td>
            <td class="text-center">
        <!--      <span class="seer_font">
                <span dict-trans [key]="'BUDGET_SUBJECT'" [value]="item.budgetSubject">加载中...</span>
              </span>-->
              <select class="form-control"
                      dict-select
                      [key]="'BUDGET_SUBJECT'"
                      [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                      [(ngModel)]="item.budgetSubject"
                      [selected]="item.budgetSubject">
              </select>
            </td>
            <td class="text-center">
              {{item.budgetAmountTotal}}
            </td>
            <td class="text-center">
              <input class="form-control" type="text" [(ngModel)]="item.budgetAmount"/>
            </td>
            <td class="text-center">
              <button (click)="removeActingMatBudgets(index)" class="btn btn-xs btn-danger"><i
                class="ion-close-round"></i> 删除
              </button>
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <b>以上费用合计: {{renderActingMatBudgetsPrice()}} 元   </b>
      </div>
      <div class="col-xs-6">
        <b *ngIf="!currentActivityPlan.id">  关联代垫预算费用合计: {{renderActingMatBudgetsPriceTotal()}} 元</b>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row spbrow">
    <div class="col-xs-12">
      <label class="seer_font">活动商品列表</label>
    </div>
    <div class="">

    </div>
  </div>
  <div class="row ">
    <div class="header_border">

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <button type="button"  class="btn btn-info pull-right" (click)="openBrandGoodsModal()">选择商品</button>
        <table class="table table-bordered">
          <tr>
            <th class="text-center" *ngFor="let title of activityPlanGoodsTitles"><b
              class="seer_font">{{title.label}}</b></th>
            <th class="text-center"><b class="seer_font">操作</b></th>
          </tr>
          <tr *ngFor="let item of activityPlanGoods; let index=index">
            <td class="text-center">
              <span class="seer_font">{{item.goodsNumber}}</span>
            </td>
            <td class="text-center">
              <span class="seer_font">{{item.goodsName}}</span>
            </td>
            <td class="text-center">
              <span class="seer_font">{{item.goodsPrice}}</span>
            </td>
            <td class="text-center">
              <span class="seer_font">{{item.goodsRetailPrice}}</span>
            </td>
            <td class="text-center">
              <span class="seer_font">{{item.goodsNum}}</span>
            </td>
            <td class="text-center">
              <input class="form-control" (change)="activityGoodDiscountChange(item)" type="number" [(ngModel)]="item.activityDiscount"/>
            </td>
            <td class="text-center">
              <input class="form-control" type="text" [(ngModel)]="item.activityPrice"/>
            </td>
            <td class="text-center">
              <input class="form-control" type="number" [(ngModel)]="item.activityQuantity"/>
            </td>
            <td class="text-center">
              <input
                class="form-control"
                [(ngModel)]="item.startTime"
                close-on-select="true"
                date-only="true"
                readonly
                ng2-datetime-picker
              />
            </td>
            <td class="text-center">
              <input
                class="form-control"
                [(ngModel)]="item.endTime"
                close-on-select="true"
                date-only="true"
                readonly
                ng2-datetime-picker
              />
            </td>

            <td class="text-center">
              <button (click)="removeActivityPlanGoods(index)" class="btn btn-xs btn-danger"><i
                class="ion-close-round"></i> 删除
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <b>以上商品折让金额总计: {{renderActivityPlanGoodsPrice()}} 元</b>
      </div>
    </div>
  </div>


  <hr/>
  <div class="row spbrow">
    <div class="col-xs-12">
      <label class="seer_font">活动效果图</label>
    </div>
    <div class="">

    </div>
  </div>
  <div class="row ">
    <div class="header_border">

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="bringFileSelector()">上传图片</button>
        <input #fileUpload style="display: none" type="file" name="file" hidden="true" id="uploadFile"
               (change)="onFiles()">
      </div>
      <div class="col-xs-12">
     <!--   <table class="table table-bordered">
          <tr>
            <th class="text-center"><b>名称</b></th>
            <th class="text-center"><b>操作</b></th>
          </tr>
          <tr *ngFor="let x of currentAttachments; let index=index">
            <td class="text-center">
              <input type="text" class="form-control" name="attachName" [(ngModel)]="x.attachName"/>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-info btn-xs" (click)="downloadAttach(x)">
                <i class="ion-edit"></i> 查看
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="removeAttach(index)">
                <i class="ion-close-round"></i> 删除
              </button>
            </td>
          </tr>
        </table>-->
        <div class="col-xs-3 acting-picture" *ngFor="let picturefile of currentAttachments; let index=index">
          <div class="picture-group" [ngClass]="{uploading: uploadInProgress}" (click)="previewAttachPicture(picturefile)">
            <div class="picture-wrapper">
              <img src="{{ picturefile.attachUrl }}" *ngIf="picturefile.attachUrl">
              <img src="{{ defaultPicture }}" *ngIf="!picture && defaultPicture">

              <div class="loading" *ngIf="uploadInProgress">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div>
            </div>
            <i class="ion-ios-close-outline" (click)="removeAttach(index)"></i>
          </div>
          <div class="acting-picture-foot">
            <a class="acting-picture-foot focus-link" style="float: left;" (click)="previewAttachPicture(picturefile)">预览</a>
            <a class="acting-picture-foot focus-link" style="float: left;" (click)="removeAttach(index)">&nbsp;删除</a>
          </div>
        </div>
      </div>






    </div>
  </div>







</div>




<div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <label class="pull-left">
          商品列表
        </label>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <div class="alert alert-info" *ngIf="!brandGoods.length">
                找不到此品牌对应的商品！
              </div>
            </div>
            <div class="col-xs-12" *ngIf="brandGoods.length">
              <seertable
                [data]="brandGoods"
                [titles]="goodsTitles"
                [hideColonnes]="true"
                [hideRemoveAll]="true"
                [hideAddButton]="true"
                [hideActions]="true"
                [hideExport]="true"
                [hidePrint]="true"
                [hideRemoveButton]="true"
                [hideEditButton]="true"
              >
              </seertable>
            </div>
          </div>
        </div>

        <div class="row spbrpw">
          <div class="col-xs-12">
            <button type="button" class="btn btn-info pull-right" (click)="selectGoods()">保存</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<seeralert
  [type]="'alert'"
  [content]="alertContent"
  [action]="alertAction"
  (notify)="onSelectAlert($event)"
></seeralert>
