:host /deep/ {
  thead{ display: none}
  .table tbody{ border-width: 0 0px;}
  .table th,.table td{ border:none}
  .label {
    margin-left: 5px;
    background-clip: padding-box;
    border-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Open Sans", "Segoe UI";
    font-size: 12px;
    font-weight: 300;
    height: 20px;
    line-height: 20px;
    list-style: none outside none;
    padding: 1px 3px 3px 3px;
    text-align: center;
    text-shadow: none;
    text-size-adjust: 100%;
    vertical-align: baseline;
    white-space: nowrap;
    width: 84px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .label-10{
    background: rgb(208, 85, 85) none;
  }
  .label-20{
    background: rgb(208, 154, 85) none;
  }
  .label-30{
    background: rgb(208, 183, 85) none;
  }
  .label-40{
    background: rgb(208, 208, 85) none;
  }
  .label-60{
    background: rgb(85, 208, 178) none;
  }
  .label-81{
    background: rgb(85, 160, 208) none;
  }
  .label-100{
    background: rgb(192, 160, 208) none;
  }
  .label-10000{
    background: rgb(204, 204, 204) none;
  }




}
