<!--<div class="row">-->
  <!--<ba-card [title]="title" baCardClass="with-scroll">-->
    <!--<div style="width: 200px;">-->
      <!--<div class="form-group">-->
        <!--<input #search class="form-control" id="inputUserName" type="text" placeholder="Search..." (keyup)="onSearch(search.value)">-->
      <!--</div>-->
    <!--</div>-->
    <!--<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (edit)="onEdit(($event))"></ng2-smart-table>-->
  <!--</ba-card>-->
<!--</div>-->



<!--<div class="row">-->
  <!--<ba-card [title]="title" baCardClass="with-scroll">-->
    <!--<data_table-->
      <!--[data]="data1"-->
      <!--[settings]="settings1"-->
      <!--(notify)="onChange($event)"-->
    <!--&gt;</data_table>-->
  <!--</ba-card>-->
<!--</div>-->



<seer-card>
  <seerlisttable
  [data]="data"
  [titles]="titles"
  [titleOption]="titleOption"
  (notify)="onChange($event)"
  ></seerlisttable>
</seer-card>



<!--<div class="row frame card">-->
  <!--<div class="col-xs-12">-->
    <!--<div class="seer-table-padding">-->
      <!--<seertable-->
        <!--[data]="data1"-->
        <!--[titles]="titles"-->
        <!--[titleOption]="titleOption"-->
        <!--(notify)="onChange($event)"-->
      <!--&gt;</seertable>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--<app-ng2-city></app-ng2-city>-->

<!--<ng2-datepicker [(ngModel)]="date"></ng2-datepicker>-->
<div dynamic-component></div>
