<!--<div class="header_box header_margin">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<label class="seer_font">查询区域</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="header_border"></div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">销售分类</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" [(ngModel)]="soCategory">-->
        <!--<option value="">全部</option>-->
        <!--<option *ngFor="let data of soCategoryDict" [value]="data.dictValueId">{{data.dictValueName}}</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">客户名称</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" (change)="typeChange(customerId)" [(ngModel)]="customerId">-->
        <!--<option value="">全部</option>-->
        <!--<option *ngFor="let data of customerList" [ngValue]="data.id">{{data.customerName}}</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">门店名称</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" [(ngModel)]="customerStoreId">-->
        <!--<option value="">全部</option>-->
        <!--<option *ngFor="let data of customerStoreList" [value]="data.id">{{data.storeName}}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">销售人员</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<div class="input-group">-->
        <!--<input class="form-control" type="text" readonly="readonly" [(ngModel)]="staffId"/>-->
        <!--<span class="input-group-btn">-->
          <!--<button class="btn btn-default" tree-picker [data]="staffs" (notify)="onTreePickerNotify($event)" [excludeFolders]="true" [multiSelect]="false" [selectParentCascade]="false">选择</button>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">开始时间</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<input class="form-control" [(ngModel)]="startTime" close-on-select="true" date-only="true" ng2-datetime-picker/>-->
    <!--</div>-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">结束时间</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<input class="form-control" [(ngModel)]="endTime" close-on-select="true" date-only="true" ng2-datetime-picker/>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">订单状态</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" [(ngModel)]="soState">-->
        <!--<option value="">全部</option>-->
        <!--<option *ngFor="let data of soStateDict" [value]="data.dictValueId">{{data.dictValueName}}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-xs-12">-->
      <!--<button type="button" class="btn btn-primary" (click)="searchSaleOrder()">搜索</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<seer-card [title]="title">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>销售分类</label>
        <select class="form-control" [(ngModel)]="soCategory">
          <option value="">全部</option>
          <option *ngFor="let data of soCategoryDict" [value]="data.dictValueId">{{data.dictValueName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>客户名称</label>
        <select class="form-control" (change)="typeChange(customerId)" [(ngModel)]="customerId">
          <option value="">全部</option>
          <option *ngFor="let data of customerList" [ngValue]="data.id">{{data.customerName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>门店名称</label>
        <select class="form-control" [(ngModel)]="customerStoreId">
          <option value="">全部</option>
          <option *ngFor="let data of customerStoreList" [value]="data.id">{{data.storeName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>销售人员</label>
        <div class="input-group">
          <input class="form-control" type="text" readonly="readonly" [(ngModel)]="staffName"/>
          <input style="display: none" type="text" class="form-control" [(ngModel)]="staffId"/>
          <span class="input-group-btn">
          <button class="btn btn-default" tree-picker [data]="staffs" (notify)="onTreePickerNotify($event)" [excludeFolders]="true" [multiSelect]="false" [selectParentCascade]="false"><i class="fa fa-search"></i></button>
        </span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>开始时间</label>
        <input class="form-control" [(ngModel)]="startTime" close-on-select="true" date-only="true" ng2-datetime-picker/>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>结束时间</label>
        <input class="form-control" [(ngModel)]="endTime" close-on-select="true" date-only="true" ng2-datetime-picker/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>订单状态</label>
        <select class="form-control" [(ngModel)]="soState">
          <option value="">全部</option>
          <option *ngFor="let data of soStateDict" [value]="data.dictValueId">{{data.dictValueName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row col-sm-12">
    <button type="button" class="btn btn-primary" (click)="searchSaleOrder()">搜索</button>
    <button type="button" class="btn btn-default" (click)="reset()">重置</button>
  </div>
</seer-card>

