<div style="margin:10px 30px; background: #c12e2a">
  <seer-card>
    <div class="row" style="margin-bottom: 10px;" >
      <seer-checkbox *ngFor="let process of processDefinition;let i=index" (click)="taskFiler(process.key)" [isChecked]="process.isChecked" [label]="process.name+' ('+process.total+')'"></seer-checkbox>
    </div>
    <div class="row" >
      <table class="table table-hover" *ngIf="tasks.length>0">
        <tbody>
          <tr *ngFor="let task of tasks">
            <td><p (click)="loadForm(task)"><span class="label label-{{task.projectStatus}}"  >{{task.taskName}}</span> {{task.processInstance.instanceName}}</p></td>
            <td>{{task.createTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </seer-card>
</div>
<seer-loading [isLoading]="isLoading" [type]="'big'"></seer-loading>
