
<div class="row org">
  <div class="col-sm-3 org-left">
    <seer-collapse-card [title]="title" baCardClass="with-scroll tree-card list-tree-card">
        <div class="col-sm-12">
            <seer-tree
            (notify)="onNotify($event) "
            [permissions]="treePermissions"
            [nodes]="treeNode"
            [defaultNodeName]="'新建部门'"
            [loadingText]="''"
            >
            </seer-tree>
        </div>
    </seer-collapse-card>
  </div>
  <div class="col-sm-9">
    <seer-collapse-card [title]="tableTitle" baCardClass="with-scroll" [canCollapse]=false>
      <seer-collapse-card
      >
        <seer-filter
          [hasGlobalFilter]="hasGlobalFilter"
          [filters]="filters"
          (onFiltersChanged)=handleFiltersChanged($event)
          (onSearchBtnClicked)=handleSearchBtnClicked($event)
        ></seer-filter>
      </seer-collapse-card>
      <seer-collapse-card>
        <seer-table
          [data]="source"
          [titles]="titles"
          (notify)="onChange($event)"
          [hideCheckbox]="true"
          [hidePrint]="true"
          [hideRemoveAll]="true"

        ></seer-table>
      </seer-collapse-card>
    </seer-collapse-card>
  </div>
</div>
<div dynamic-component></div>
<seer-loading [isLoading]="isLoading" [type]="'big'"></seer-loading>
