<seer-content-top [fixedTop]="false">
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    [filters]="filters"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>
</seer-content-top>
<seer-collapse-card>
  <seer-table
    [paginationRules]="paginationRules"
    [rowsOnPageSet]="rowsOnPageSet"
    [rowsOnPage]="rowsOnPage"
    [pageSize]="pageSize"
    [customActions]="customActions"
    [hideAddButton]=true
    [hideRemoveAll]=true
    [data]="members"
    [titles]="titles"
    [translate]="dict"
    (notify)="onChange($event)"
    (changePage)="onPageChange($event)"
    [total]="total"
    [pageNum]="pageNum"
  ></seer-table>
</seer-collapse-card>
