<seer-content-top [fixedTop]="false">
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    [filters]="filters"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleFiltersChanged($event)
  ></seer-filter>
</seer-content-top>
<seer-collapse-card>
  <seer-table
    [data]="members"
    [titles]="titles"
    [translate]="dict"
    [paginationRules]="0"
    [pageNum]="pageInfo.pageNum"
    [pageSize]="pageInfo.pageSize"
    [total]="pageInfo.total"
    [showSeq]="true"
    [hideExport]="true"
    [hideAddButton]=true
    [hideRemoveAll]=true
    [hideCheckbox]="true"
    [hidePrint]="true"
    [hideColumns]="true"
    (notify)="onChange($event)"
    (changePage)="handlePageChange($event)"
  ></seer-table>
</seer-collapse-card>
