<!--<div class="header_box header_margin">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<label class="seer_font">查询区域</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="header_border"></div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">企业性质</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" id="supplierNature" [(ngModel)]="supplierNature">-->
        <!--<option value="">请选择</option>-->
        <!--<option *ngFor="let data of supplierNatureDict" [value]="data.dictValueId">{{data.dictValueName}}</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">供应商状态</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" id="supplierState" [(ngModel)]="supplierState">-->
        <!--<option value="">请选择</option>-->
        <!--<option *ngFor="let data of supplierStateDict" [value]="data.dictValueId">{{data.dictValueName}}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-xs-12">-->
      <!--<button type="button" class="btn btn-primary" (click)="searchSupplier()">搜索</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<seer-card [title]="title">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="supplierNature">企业性质</label>
        <select class="form-control" id="supplierNature" [(ngModel)]="supplierNature">
          <option value="">请选择</option>
          <option *ngFor="let data of supplierNatureDict" [value]="data.dictValueId">{{data.dictValueName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="supplierState">供应商状态</label>
        <select class="form-control" id="supplierState" [(ngModel)]="supplierState">
          <option value="">请选择</option>
          <option *ngFor="let data of supplierStateDict" [value]="data.dictValueId">{{data.dictValueName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row col-sm-12">
    <button type="button" class="btn btn-primary" (click)="searchSupplier()">搜索</button>
    <button type="button" class="btn btn-default" (click)="reset()">重置</button>
  </div>
</seer-card>
