.control-label {
  text-align: right;
}

.input-group-addon {
  font-size:14px;
}

.seer-mcr-card:hover {
  background: #007bff;
}

.seer-mcr-card:active {
  background: #007bff;
}

.text-danger {
  text-align: left;
}
.img_title {
  max-width: 170px;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  padding-top: 5px;
}
