<seer-loading [isLoading]="isLoading" [type]="'big'"></seer-loading>
<seer-content-top>
  <button class="btn btn-outline-dark" (click)="handleBackBtnClick()">返回</button>
  <ng-container *ngIf="method!='preview'">
  <button class="btn btn-primary" (click)="submitAudit()">提交</button>
  </ng-container>
</seer-content-top>
<seer-progress [type]="'progress'" [contentList]="projectProgres" [currentNode]="currentNode"></seer-progress>
<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">

      <seer-collapse-card cardTitle="会员信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
        <div class="row">
          <form class="form-horizontal" #form1="ngForm">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">用户名</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6">{{member.userName}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">真实姓名</label>
                <div class="col-sm-8 ">
                  <label class="form-control" style="background: #f6f6f6">{{member.trueName}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">手机号</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6">{{member.phoneNumber}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">身份证号</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6">{{member.idNumber}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">性别</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'M_SEX'" [value]="member.mSex"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">年龄</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6">{{member.mAge}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">学历</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'EDUCATION'" [value]="member.education"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label" >婚姻状况</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'MARRAGE_STATUS'" [value]="member.maritaStatus"></label>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <label for="domicilePlace" class="col-sm-4 col-md-2 col-lg-2 col-xlg-1 control-label">户口所在地</label>
                <div class="col-sm-8 col-md-10 col-lg-10 col-xlg-10" id="domicilePlace">
                  <seer-address-picker  [defaultItemCode]="member.domicileDistrict" [defaultAddress]="member.domicileDistrict" [classNames]="classNames" [disabled]="true">
                  </seer-address-picker>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <label for="currentResidence" class="col-sm-4 col-md-2 col-lg-2 col-xlg-1 control-label">现居住地</label>
                <div class="col-sm-8 col-md-10 col-lg-10 col-xlg-10" id="currentResidence">
                  <seer-address-picker  [defaultItemCode]="member.liveDistrict" [defaultAddress]="member.liveAddress" [classNames]="classNames" [disabled]="true">
                  </seer-address-picker>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <label class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 ">资产介绍</label>
                <div class="col-sm-11 col-md-10 col-lg-10 col-xlg-11">
                  <label class="form-control" style="background: #f6f6f6;overflow: hidden; word-wrap: break-word; resize: horizontal; min-height:20px">{{member.assetDesc}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <label class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 ">债务介绍</label>
                <div class="col-sm-11 col-md-10 col-lg-10 col-xlg-11">
                  <label class="form-control" style="background: #f6f6f6;overflow: hidden; word-wrap: break-word; resize: horizontal; min-height:20px">{{member.debtDesc}}</label>
                </div>
              </div>
            </div>
          </form>
         <!-- <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label  class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 ">信用信息</label>
              <div class="col-sm-11 col-md-10 col-lg-10 col-xlg-11">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                  <div class="row">
                    <div class="card checkable-card" style="max-width: 20rem;">
                      <div class="card-header">个人风险报告</div>
                      <div class="card-body text-secondary">
                        <p class="card-text">{{riskReport.updateTime || '未查询'}}</p>
                        <ng-container *ngIf="!riskReport.updateTime">
                          <a href="javascript:void(0)" class="card-link" (click)="requery(1)">获取信用报告</a>
                        </ng-container>
                        <ng-container *ngIf="riskReport.updateTime">
                          <a [href]="riskReport.creditReport" class="card-link" target="_blank" >预览</a>
                          <a [href]="riskReport.creditReport" class="card-link" download >下载</a>
                          <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(1)">重新获取</a>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                  <div class="row">
                    <div ngClass="{}" class="card checkable-card" style="max-width: 20rem;">
                      <div class="card-header">个人信用报告</div>
                      <div class="card-body text-secondary">
                        <p class="card-text">{{creditReport.updateTime || '未查询'}}</p>
                        <ng-container *ngIf="!creditReport.updateTime">
                          <a href="javascript:void(0)" class="card-link" (click)="requery(2)">获取信用报告</a>
                        </ng-container>
                        <ng-container *ngIf="creditReport.updateTime">
                          <a [href]="creditReport.creditReport" class="card-link" target="_blank" >预览</a>
                          <a [href]="creditReport.creditReport" class="card-link" download >下载</a>
                          <a *ngIf="!disabled" href="javascript:void(0)"  class="card-link" (click)="requery(2)">重新获取</a>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                  <div class="row">
                    <div class="card checkable-card" style="max-width: 20rem;">
                      <div class="card-header">个人反欺诈报告</div>
                      <div class="card-body text-secondary">
                        <p class="card-text">{{antiFraudReport.updateTime || '未查询'}}</p>
                        <ng-container *ngIf="!antiFraudReport.updateTime">
                          <a href="javascript:void(0)" class="card-link" (click)="requery(3)">获取信用报告</a>
                        </ng-container>
                        <ng-container *ngIf="antiFraudReport.updateTime">
                          <a [href]="antiFraudReport.creditReport" target="_blank" class="card-link" >预览</a>
                          <a [href]="antiFraudReport.creditReport" download class="card-link" >下载</a>
                          <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(3)">重新获取</a>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </seer-collapse-card>
      <seer-collapse-card cardTitle="借款信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
        <!--借款基本信息-->
        <div class="row">
          <form class="form-horizontal" #form2="ngForm">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">借款类型</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'LOAN_TYPE'" [value]="loan.loanType"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label text-right">借款金额</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6">{{loan.applyAmt}}元</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">借款期限</label>
                <div class="col-sm-8 ">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'LOAN_APPLY_EXPIRY'" [value]="loan.loanExpiry"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">新手标</label>
                <div class="col-sm-8 ">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'GREEN_HAND'" [value]="loan.greenHand"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">项目编号</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6">{{loan.projectNum}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">年利率</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6">{{loan.annualRate}}%</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">加息</label>
                <div class="col-sm-8 ">
                  <label class="form-control" style="background: #f6f6f6">{{loan.raiseRate}}%</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">还款方式</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'REFUND_WAY'" [value]="loan.repayType"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">手续费</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" >{{loan.serviceRate}}元</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">借款用途</label>
                <div class="col-sm-8 ">
                  <label class="form-control" style="background: #f6f6f6" dict-trans [key]="'LOAN_PURPOSE'" [value]="loan.loanPurpose"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">最小投资金额</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" >{{loan.minInvestAmount}}元</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">最大投资金额</label>
                <div class="col-sm-8">
                  <label class="form-control" style="background: #f6f6f6" >{{loan.maxInvestAmount}}元</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">招标开始日期</label>
                <div class="col-sm-8 ">
                  <label class="form-control" style="background: #f6f6f6">{{loan.loanBeginDate | date:'yyyy-MM-dd'}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">招标结束日期</label>
                <div class="col-sm-8 ">
                  <label class="form-control" style="background: #f6f6f6">{{loan.loanEndDate | date:'yyyy-MM-dd'}}</label>
                </div>
              </div>
            </div>
            <!--<div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="repayFrom" class="col-sm-4 control-label">还款来源</label>
                <div class="col-sm-8">
                  <select class="form-control" id="repayFrom" [(ngModel)]="loan.repayFrom" [ngModelOptions]="{standalone: true}"
                          dict-select
                          [key]="'PAYMENTING_SOURCE'"
                          [selected]="loan.repayFrom"
                          [topOption]="{itemid:'',itemName:'请选择'}">
                  </select>
                </div>
              </div>
            </div>-->
          </form>
        </div>

        <!--<hr *ngIf="loan.loanType == 1 || loan.loanType == 2">

        &lt;!&ndash; 抵押物信息 &ndash;&gt;
        <div class="row" *ngIf="loan.loanType == 1 || loan.loanType == 2">
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label *ngIf="loan.loanType == 1" class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 ">抵押车辆</label>
              <label *ngIf="loan.loanType == 2" class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 ">抵押房屋</label>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <label  class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 "></label>
            <div *ngIf="loan.loanType == 1" class="col-sm-11 col-md-10 col-lg-10 col-xlg-11">
              &lt;!&ndash; 抵押车辆 &ndash;&gt;
              <div *ngIf="pawnVehicle != null" class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                <div class="row">
                  <div class="card checkable-card active" style="max-width: 20rem;">
                    <div class="card-header">{{pawnVehicle.carBrand}}-{{pawnVehicle.carModel}}</div>
                    <div class="card-body text-secondary">
                      <p class="card-text">{{pawnVehicle.carNumber}}、行驶{{pawnVehicle.mileage}}公里、{{pawnVehicle.carAge}}年车龄、评估价格为{{pawnVehicle.pricePotential}}元</p>
                      <a href="javascript:void(0)" class="card-link" (click)="vehicleModal(vehicleTemplate, true, pawnVehicle)">查看详情</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="loan.loanType == 2" class="col-sm-11 col-md-10 col-lg-10 col-xlg-11">
              &lt;!&ndash; 抵押房屋 &ndash;&gt;
              <div *ngIf="pawnHouse != null "  class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                <div class="row">
                  <div class="card checkable-card active" style="max-width: 20rem;">
                    <div class="card-header">价格：{{pawnHouse.pricePotential}}</div>
                    <div class="card-body text-secondary">
                      <p class="card-text">{{pawnHouse.houseAdress}}、{{pawnHouse.area}} </p>
                      <a href="javascript:void(0)" class="card-link" (click)="houseModal(houseTemplate, true, pawnHouse)">查看详情</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <hr>
        <!-- 抵押物资料 -->
        <!--<div class="row">
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 ">审核资料</label>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 "></label>
              <div class="col-sm-11 col-md-10 col-lg-10 col-xlg-11">
                <ng-container *ngFor="let item of auditMaterials; let i = index">
                  <ng-container *ngIf="imageType.indexOf(item.fileSuff.toLowerCase()) != -1">
                    <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xlg-2">
                      <div class="row">
                        <img src="{{item.uploadPath}}" height="108px"><p></p>
                        <a href="javascript:void(0)" class="card-link" (click)="downloadFile(item)">下载</a>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngFor="let item of auditMaterials; let i = index">
                  <ng-container *ngIf="imageType.indexOf(item.fileSuff.toLowerCase()) == -1">
                    <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                      <div class="row">
                        <div class="card" style="width: 20rem;">
                          <div class="card-body">
                            <h4 class="card-title"></h4>
                            <h6 class="card-subtitle mb-2 text-muted"> </h6>
                            <p class="card-text">{{item.fileName}}</p>
                            <p class="card-text">{{item.createTime}}</p>
                            <a href="javascript:void(0)" class="card-link" (click)="downloadFile(item)">下载</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                &lt;!&ndash;<ng-container *ngIf="attachments.length == 0">暂未添加审核资料</ng-container>&ndash;&gt;
              </div>
            </div>
          </div>
        </div>-->

      </seer-collapse-card>
      <ng-container *ngIf="loan.loanType == 1 ">
        <seer-collapse-card cardTitle="抵押车辆信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <ng-container *ngIf="pawnVehicle.length > 0">
            <seer-simple-table
              [data]="pawnVehicle"
              [titles]="titlesVehicleInfo"
              [hidePagination]="true"
              [hideActions]="true"
              [hideAddButton]="true"
            ></seer-simple-table>
          </ng-container>
        </seer-collapse-card>
      </ng-container>
      <ng-container *ngIf="loan.loanType == 2 ">
        <seer-collapse-card cardTitle="抵押房屋信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <ng-container *ngIf="pawnHouse.length > 0">
            <seer-simple-table
              [data]="pawnHouse"
              [titles]="titlesHouseInfo"
              [hidePagination]="true"
              [hideActions]="true"
              [hideAddButton]="true"
            ></seer-simple-table>
          </ng-container>
        </seer-collapse-card>
      </ng-container>

      <seer-collapse-card cardTitle="个人征信信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
        <ng-container *ngIf="creditInfo.length > 0">
            <seer-simple-table
              [data]="creditInfo"
              [titles]="titlesCreditInfo"
              [hidePagination]="true"
              [hideAddButton]="true"
              [showSeq]="true"
              [actions]="creditActions"
              (notify)="openLink($event)"
            >
            </seer-simple-table>
        </ng-container>
        <ng-container *ngIf="creditInfo.length == 0">暂无征信记录</ng-container>
      </seer-collapse-card>

      <seer-collapse-card cardTitle="附件信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
        <ng-container *ngIf="auditMaterials.length > 0">
          <seer-simple-table
            [data]="auditMaterials"
            [titles]="titlesAuditMaterials"
            [hidePagination]="true"
            [showSeq]="true"
            [hideAddButton]="true"
            [actions]="auditMaterialsActions"
            (notify)="openMaterials($event)"
          ></seer-simple-table>
        </ng-container>
        <ng-container *ngIf="investRecords.length == 0">暂无附件记录</ng-container>
      </seer-collapse-card>

      <ng-container *ngIf="loan.projectStatus != 0 ">
      <seer-collapse-card cardTitle="投资记录" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
        <ng-container *ngIf="investRecords.length > 0">
          <seer-simple-table
            [data]="investRecords"
            [titles]="investTitle"
            [hidePagination]="true"
            [showSeq]="true"
            [hideActions]="true"
            [hideAddButton]="true"
          ></seer-simple-table>
        </ng-container>
        <ng-container *ngIf="investRecords.length == 0">暂无投资记录</ng-container>
      </seer-collapse-card>
      </ng-container>
      <seer-collapse-card cardTitle="审批流程" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
        <ng-container *ngIf="auditProcessRecords.length > 0">
          <seer-simple-table
            [data]="auditProcessRecords"
            [titles]="auditProcessTitle"
            [showSeq]="true"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
          ></seer-simple-table>
        </ng-container>
        <ng-container *ngIf="auditProcessRecords.length == 0">暂无审批流程</ng-container>
      </seer-collapse-card>

      <ng-container *ngIf="method!='preview'">
        <seer-collapse-card cardTitle="审批意见" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div class="row">
            <form class="form-horizontal" >
              <div class="form-group col-sm-12 col-md-8 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">审批意见</label>
                  <div class="col-sm-8">
                    <div class="radio">
                      <ng-container *ngIf="method!='abortive'">
                        <label class="radio-inline"><input type="radio" name="auditResult" value="pass"   [(ngModel)]="auditResult">通过</label>
                      </ng-container>
                      <label class="radio-inline"><input type="radio" name="auditResult" value="refuse" [(ngModel)]="auditResult">拒绝（流标）</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-8 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">原因(假)</label>
                  <div class="col-sm-8">
                    <select *ngIf="auditResult != 'pass'" class="form-control" id="auditReason" [(ngModel)]="auditReason" [ngModelOptions]="{standalone: true}">
                      <option value="">请选择原因</option>
                      <option value="基本信息问题">基本信息问题</option>
                      <option value="其他">其他</option>
                    </select>

                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-8 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">备注</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="auditOpinion" [(ngModel)]="auditOpinion" [ngModelOptions]="{standalone: true}" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 84px;"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </seer-collapse-card>
      </ng-container>
    </div>
  </div>
</div>


