

<div class="header_box header_margin" *ngIf="company">
  <div class="row" style="margin-top:15px;">
    <div class="col-xs-12">
      <label>公司管理</label>
    </div>
    <div class="col-xs-12 header_border">

    </div>
  </div>
  <div class="row spbrow">
    <div class="col-xs-12 col-md-6">
      <label class="required">公司编号</label>
      <input type="text" class="form-control" [(ngModel)]="company.companyNo"/>
    </div>
  </div>
  <div class="row spbrow">
    <div class="col-xs-12 col-md-6">
      <label class="required">公司名称</label>
      <input type="text" class="form-control" [(ngModel)]="company.companyName"/>
    </div>
  </div>
  <div class="row spbrow">
    <div class="col-xs-12 col-md-6">
      <label class="required">金额有效位数( 例如100.{{renderAmountExemple()}}元 )</label>
      <select [(ngModel)]="company.accountLimitation" class="form-control">
        <option *ngFor="let item of amounts" [value]='item'>{{item}}</option>
      </select>
    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-12 col-md-6">
      <button type="button" class="btn btn-info"
              [disabled]="!company.companyNo||!company.companyName||!company.accountLimitation"
              (click)="save()">保存</button>
    </div>
  </div>
</div>






