<div class="row org">
  <div class="col-sm-4 org-left">
    
    <seer-collapse-card [title]="treeTitle" baCardClass="with-scroll">
      <h2 class="col-sm-12 seerTitle">国汇财富投资管理（大连）股份有限公司</h2>
      <div class="col-sm-12">
        <seer-tree
          (notify)="onNotify($event) "
          [permissions]="treePermissions"
          [nodes]="treeNode"
          [loadingText]="''">
        </seer-tree>
      </div>
    </seer-collapse-card>
  </div>


  <div class="col-sm-8">
    <seer-collapse-card [title]="tableTitle" baCardClass="with-scroll">
      <div class="form-group ">
        <div class="row">
          <label for="idNumber" class="col-sm-0 control-label" style="text-align:center; height:35px; line-height:35px;"></label>

          <div class="col-sm-6">
            <!-- <input type="text" class="form-control department" id="department" placeholder="部门"  [(ngModel)]="info.departmentName" disabled> -->
            <!-- <h3 clasa='department'>{{info.departmentName}}</h3> -->
            <div class='department' *ngIf='info.departmentName'>{{info.departmentName}}<span>(负责人:{{info.departmentLeader}})</span></div>
          </div>
          <!-- <h3 [(ngModel)]="info.departmentName" ></h3> -->
          <!-- <label for="idNumber" class="col-sm-2  col-md-2 control-label" style="text-align:center; height:35px; line-height:35px;">机构负责人:</label> -->
          <!-- <div class="col-sm-4 departmentLeader">
            <input type="text" class="form-control" id="departmentLeader" placeholder="机构负责人" [(ngModel)]="info.departmentLeader" disabled>
            负责人:{{info.departmentLeader}}
          </div> -->
        </div>
      </div>

      <seer-collapse-card>
        <div class="row">
          <div class="col-sm-4">
            <input type="text" class="form-control" id="idNumber" placeholder="全局过滤" [(ngModel)]="pageInfo.globalSearch" (change)="searchFilter()">
          </div>
          <div class="col-sm-2">
            <ng-template #template>

              <div class="modal-body">

                  <seer-tree
                    (notify)="onNotice($event) "
                    [nodes]="treeNode"
                    [permissions]="treePermissions"
                    [defaultNodeName]="'新建部门'"
                    [loadingText]="''">
                  </seer-tree>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-sx btn-info" (click)="modalRef.hide()">确定</button>
                 <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
              </div>
            </ng-template>
          </div>
        </div>
        <seer-table
          [data]="datas"
          [titles]="titles"
          [hideExport]="true"
          [hidePrint]="true"
          [hideRemoveAll]="true"
          [hideColumns]="true"
          [hideAddButton]="true"
          [hideCheckbox]="true"
          (notify)="onChange($event)"
        ></seer-table>
      </seer-collapse-card>
    </seer-collapse-card>
  </div>
</div>
<div dynamic-component></div>



