<div class="auth-body-block">

  <div class="auth-main">
    <div class="auth-bg-block"></div>
    <div class="auth-block">
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group row">
          <div class="col-sm-12 account-input">
            <input
              type="text"
              class="form-control"
              placeholder="账号"
              name="account"
              (focus)='imgError.message=""'
              required
              [formControl]="account"
            />
            <p class="text-danger" *ngIf="account.errors?.required && submitted">*请输入手机号</p>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 pass-input">
            <input
              type="password"
              class="form-control"
              placeholder="密码"
              name="password"
              (focus)='imgError.message=""'
              required
              [formControl]="password"
            />
            <p class="text-danger" *ngIf="password.errors?.required && submitted">*请输入密码</p>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 pass-input">
            <input
              type="verification"
              class="form-control"
              placeholder="图形验证码"
              name="verification"
              required
              (focus)='imgError.message=""'
              [formControl]="verification"
              style="width:70%;display:inline-block"
            />
            <img class="verifImg" [src]="imgUrl" alt="" (click)='changeImg()'>
            <p class="text-danger" *ngIf="verification.errors?.required && submitted">*请输入图形验证码</p>
            <p class="text-danger" *ngIf="imgError.message&&!verification.errors?.required">*{{imgError.message}}</p>
          </div>
        </div>

        <div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">登 录</button>
          </div>
        </div>
      </form>
    </div>
    <div class="Copyright">
      国汇巴巴爸爸网络科技（大连）有限公司<br/>
      客服电话：0411-84609588    客服邮箱：http://www.baba88.com/     公司网址：http://www.baba88.com/
    </div>
  </div>

  <div dynamic-component></div>
</div>

