.login_box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 400px;
  margin-left: -150px;
  margin-top: -250px;
  background-color: #fbfbfb
}


.seer_a_font{
  color:#00abff;
  text-decoration:underline;
  cursor:pointer;
}



.page-bottom{
  position: absolute;
  top: 75%;
  left:7%;
  height: 160px;
  overflow: auto;
  width:90% ;
}
