<seer-collapse-card cardTitle="审核资料" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
  <div class="row" style="margin-left: 10px">
    <div class="form-group col-sm-6 col-md-2 col-lg-2 col-xlg-2">
      <div class="row">
        <input *ngIf="!disabled" type="file" ng2FileSelect [uploader]="uploader" multiple (change)="uploadFile()"/>
      </div>
    </div>
    <ng-container *ngIf="progress != 0 && progress <= 100">
      <div class="form-group col-sm-6 col-md-2 col-lg-2 col-xlg-9">
        <div class="row">
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }">{{progress >= 100 ? progress + '% 已完成' : '正在上传 ' + progress + '%'}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <form class="form-horizontal">
    <div class="row" style="margin-left: 10px">
      <ng-container *ngFor="let item of attachments; let i = index">
        <ng-container *ngIf="imageType.indexOf(item.fileSuff.toLowerCase()) != -1">
          <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xlg-2">
            <div class="row">
              <img src="{{item.uploadPath}}" height="108px"><p></p>
              <a href="javascript:void(0)" class="card-link" (click)="downloadFile(item)">下载</a>
              <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="deleteFile(item, i)">删除</a>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row" style="margin-left: 10px">
      <ng-container *ngFor="let item of attachments; let i = index">
        <ng-container *ngIf="imageType.indexOf(item.fileSuff.toLowerCase()) == -1">
          <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
            <div class="row">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <h6 class="card-subtitle mb-2 text-muted"> </h6>
                  <p class="card-text">{{item.fileName}}</p>
                  <p class="card-text">{{item.createTime}}</p>
                  <a href="javascript:void(0)" class="card-link" (click)="downloadFile(item)">下载</a>
                  <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="deleteFile(item, i)">删除</a>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
</seer-collapse-card>
