<seer-content-top [fixedTop]="true">
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary left-button" [disabled]="forbidSaveBtn || !(validationForm.form.valid && (baseInfoDTO.activityScope==1 ||baseInfoDTO.activityScope==2 ||(baseInfoDTO.activityScope==3 && scopesDTO.length>0))  && (awardsDTO.redEnvelopesDTOs.length>0 || awardsDTO.rateCouponsDTOs.length>0 ||awardsDTO.physicalRewardsDTOs.length>0||awardsDTO.raffleTicketsDTOs.length>0))" (click)="handleSaveBtnClick()">保存</button>
</seer-content-top>

<div class="widgets info">
  <form  #validationForm="ngForm">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <seer-collapse-card cardTitle="活动基本信息" cardClass="with-scroll" [canCollapse]=true>
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
                <div class="row">
                  <label class="col-sm-4 col-md-2 control-label">活动主题</label>
                  <div class="col-sm-8 col-md-10">
                    <input type="text" class="form-control"  [(ngModel)]="baseInfoDTO.activityName" name="activityName" #activityName="ngModel" [rangeLength]="[0,20]" maxlength="20" required />
                     <p class="text-danger" *ngIf="activityName.errors?.required">* 必填项</p>
                    <p class="text-danger" *ngIf="activityName.errors?.rangeLength">请输入20个以内字符</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
                <div class="row">
                  <label class="col-sm-4 col-md-2 control-label">活动编号</label>
                  <div class="col-sm-8 col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="baseInfoDTO.activityCode" name="activityCode" [disabled]="true" maxlength="50" placeholder="自动生成"  />
                  </div>
                </div>
              </div>
              <!--<div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" *ngIf="isFieldShow">
                <div class="row">
                  <label  class="col-sm-4 col-md-2 control-label">关联活动</label>
                  <div class="col-sm-8 col-md-10 needBtn">
                    <input type="text" class="form-control" name="parentId" [disabled]="true"  [(ngModel)]="baseInfoDTO.parentId" #parentId="ngModel" [rangeLength]="[0,20]" maxlength="20"  />
                    <span class="select_btn">
                      <button (click)="openParentIdModal(relation,'0')" class="btn btn-center">选择</button>
                      <button (click)="clear()" class="btn btn-right">清除</button>
                    </span>
                    <p class="text-danger" *ngIf="parentId.errors?.rangeLength">请输入20个以内字符</p>
                  </div>
                </div>
              </div>-->
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
                <div class="row">
                  <label  class="col-sm-4 col-md-2 control-label">触发方式</label>
                  <div class="col-sm-8 col-md-10" >
                    <select class="form-control" name="trigMode"  [(ngModel)]="baseInfoDTO.trigMode" #trigMode="ngModel" required
                            dict-select
                            [key]="'TRIG_MODE'"
                            [selected]="baseInfoDTO.trigMode"
                            (change)="chooseTrigMode($event.target.value)"
                            [topOption]="{itemid:'',itemName:'请选择'}" >
                    </select>
                    <p class="text-danger" *ngIf="trigMode.errors?.required">* 必填项</p>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="!isInvestMode">
                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" >
                  <div class="row">
                    <label  class="col-sm-4 col-md-2 control-label">标的条件</label>
                    <div class="col-sm-8 col-md-10" >
                      <select class="form-control"  [(ngModel)]="baseInfoDTO.productCategory" name="productCategory" #productCategory="ngModel" required
                              dict-select
                              [key]="'PRODUCT_CATEGORY'"
                              [selected]="baseInfoDTO.productCategory"
                              [topOption]="{itemid:'',itemName:'请选择'}" >
                      </select>
                      <p class="text-danger" *ngIf="productCategory.errors?.required">* 必填项</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" >
                  <div class="row">
                    <label  class="col-sm-4 col-md-2 control-label">投资条件</label>
                    <div class="col-sm-8 col-md-10" >
                      <select class="form-control" name="investLimit" [(ngModel)]="baseInfoDTO.investLimit" #investLimit="ngModel" required
                              dict-select
                              [key]="'INVEST_LIMIT'"
                              [selected]="baseInfoDTO.investLimit"
                              [topOption]="{itemid:'',itemName:'请选择'}" >
                      </select>
                      <p class="text-danger" *ngIf="investLimit.errors?.required">* 必填项</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xlg-6" >
                  <div class="row">
                    <label  class="col-sm-4 col-md-2 control-label">投资金额</label>
                    <div class="col-sm-8 col-md-10 group">
                      <div class="col-sm-5">
                        <input type="text" class="form-control number addUnit" [(ngModel)]="baseInfoDTO.investMinMoney"
                               name="investMinMoney" #investMinMoney="ngModel" required [range]="[1,999999999]"
                                maxlength="9"  />
                        <span class="unit">元</span>
                        <p class="text-danger" *ngIf="investMinMoney.errors?.required">* 必填项</p>
                        <p class="text-danger" *ngIf="investMinMoney.errors?.range">请输入小于1000000000的数值</p>
                      </div>
                      <label class="col-sm-2 interval">至</label>
                      <div class="col-sm-5" style="position: relative">
                        <input type="text" class="form-control number addUnit"  [(ngModel)]="baseInfoDTO.investMaxMoney"
                               name="investMaxMoney" #investMaxMoney="ngModel" required [range]="[1, 999999999]" maxlength="9"
                                 />
                        <span class="unit">元</span>
                        <p class="text-danger" *ngIf="investMaxMoney.errors?.required">* 必填项</p>
                        <p class="text-danger" *ngIf="investMaxMoney.errors?.range">请输入小于1000000000的数值</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" >
                  <div class="row">
                    <label  class="col-sm-4 col-md-2 control-label">投资次数</label>
                    <div class="col-sm-8 col-md-10 group">
                      <div class="col-sm-5">
                        <input  class="form-control number addUnit"  [(ngModel)]="baseInfoDTO.investMinNum"
                                name="investMinNum" #investMinNum="ngModel" required [range]="[1, 999]" maxlength="3"
                        />
                        <span class="unit">次</span>
                        <p class="text-danger" *ngIf="investMinNum.errors?.required">* 必填项</p>
                        <p class="text-danger" *ngIf="investMinNum.errors?.range">请输入小于1000的数值</p>
                      </div>
                      <label class="col-sm-2 interval">至</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control number addUnit"  [(ngModel)]="baseInfoDTO.investMaxNum"
                               name="investMaxNum" #investMaxNum="ngModel" required [range]="[1, 999]" maxlength="3"
                        />
                        <span class="unit">次</span>
                        <p class="text-danger" *ngIf="investMaxNum.errors?.required">* 必填项</p>
                        <p class="text-danger" *ngIf="investMaxNum.errors?.range">请输入小于1000的数值</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" [ngStyle]="{'display':isFieldShow === true ? 'block' : 'none' }">
                <div class="row">
                  <label  class="col-sm-4 col-md-2 control-label">活动时间</label>
                  <div class="col-sm-8 col-md-10 group " >
                    <div class="col-sm-5 form-group">
                      <input
                        name="beginTime"
                        id="beginTime"
                        class="form-control addUnit"
                        [(ngModel)]="baseInfoDTO.beginTime"
                        #beginTime="ngModel"
                        readonly
                      />
                      <p class="text-danger" *ngIf="!baseInfoDTO.beginTime">* 必填项</p>
                    </div>
                    <label class="col-sm-2 interval">至</label>
                    <div class="col-sm-5">
                      <input
                        name="endTime"
                        id="endTime"
                        class="form-control addUnit"
                        [(ngModel)]="baseInfoDTO.endTime"
                        #endTime="ngModel"
                        readonly
                      />
                      <p class="text-danger" *ngIf="!baseInfoDTO.endTime">* 必填项</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" *ngIf="isFieldShow">
                <div class="row">
                  <label class="col-sm-4 col-md-2 control-label">参加频率</label>
                  <div class="col-sm-8 col-md-10 group" >
                    <div class="col-sm-5">
                      <input type="text" class="form-control number addUnit"  [(ngModel)]="baseInfoDTO.participateNum1"
                             name="participateNum1" #participateNum1="ngModel" required [range]="[1, 999]" maxlength="3"
                      />
                      <span class="unit">次</span>
                      <p class="text-danger" *ngIf="participateNum1.errors?.required">* 必填项</p>
                      <p class="text-danger" *ngIf="participateNum1.errors?.range">请输入小于1000的数值</p>
                    </div>
                    <label class="col-sm-2 interval">/</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control number addUnit"  [(ngModel)]="baseInfoDTO.participateNum2" style="padding-right: 30px;text-align: right"
                             name="participateNum2" #participateNum2="ngModel" required [range]="[1, 999]" maxlength="3"
                      />
                      <span class="unit">天</span>
                      <p class="text-danger" *ngIf="participateNum2.errors?.required">* 必填项</p>
                      <p class="text-danger" *ngIf="participateNum2.errors?.range">请输入小于1000的数值</p>

                    </div>

                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
                <div class="row">
                  <label  class="col-sm-4 col-md-2 control-label">派发时间</label>
                  <div class="col-sm-8 col-md-10" >
                    <select class="form-control" name="issueTime" [(ngModel)]="baseInfoDTO.issueTime" #issueTime="ngModel" required
                            dict-select
                            [key]="'ISSUE_TIME'"
                            [selected]="baseInfoDTO.issueTime"
                            [topOption]="{itemid:'',itemName:'请选择'}"
                            [(disabled)]="!isFieldShow"
                    >
                    </select>
                    <p class="text-danger" *ngIf="issueTime.errors?.required">* 必填项</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12" *ngIf="isFieldShow" >
                <div class="row">
                  <label class="col-sm-4 col-md-2 col-lg-1 control-label">活动链接</label>
                  <div class="col-sm-8 col-md-10 col-lg-11">
                    <input type="text" class="form-control" name="activityPageUrl" [(ngModel)]="baseInfoDTO.activityPageUrl" maxlength="50"  />
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label class="col-sm-4 col-md-2 col-lg-1 control-label">活动备注</label>
                  <div class="col-sm-8 col-md-10 col-lg-11">
                    <input type="text" class="form-control" name="activityRemark" [(ngModel)]="baseInfoDTO.activityRemark" maxlength="200"  />
                    <p class="text-danger" *ngIf="baseInfoDTO.errors?.rangeLength">请输入200个以内字符</p>
                  </div>
                </div>
              </div>

            </div>

        </seer-collapse-card>
      </div>
      <div class="col-md-12">
        <seer-collapse-card cardTitle="活动奖励信息" cardClass="with-scroll" [canCollapse]=true >
          <div style="margin-bottom: 10px">
            <button class="btn btn-primary left-button" [disabled]="isAddaward" (click)="openAwardsModal('redEnvelopesDTOs',award1,-1,false)">添加现金红包</button>
            <button class="btn btn-primary left-button" [disabled]="isAddaward" (click)="openAwardsModal('redEnvelopesDTOs',award2,-1,false)">添加返现红包</button>
            <button class="btn btn-primary left-button" [disabled]="isAddaward" (click)="openAwardsModal('rateCouponsDTOs',award3,-1,false)">添加加息券</button>
            <button class="btn btn-primary left-button" [disabled]="isAddaward" (click)="openAwardsModal('physicalRewardsDTOs',award4,-1,false)">添加实物礼品</button>
            <button class="btn btn-primary left-button" [disabled]="isAddaward" (click)="openAwardsModal('raffleTicketsDTOs',award5,-1,false)">添加抽奖券</button>
          </div>
          <table class="table table-hover" >
            <thead>
            <th>奖品名称</th>
            <th class="t-a-center">奖品类型</th>
            <th class="t-a-right">已抽数量</th>
            <th class="t-a-right">奖品数量</th>
            <th class="t-a-right">发放概率(%)</th>
            <th class="t-a-center">操作</th>
            </thead>
            <tbody>
            <tr *ngFor="let redEnvelope of awardsDTO.redEnvelopesDTOs;let i=index">
              <td>{{redEnvelope.reName}}</td>
              <td class="t-a-center">{{redEnvelope.awardTitle}}</td>
              <td class="t-a-right">{{redEnvelope.awardSentSum}}</td>
              <td class="t-a-right">{{redEnvelope.awardSum}}</td>
              <td class="t-a-right">{{redEnvelope.awardPersents}}</td>
              <td class="t-a-center">
                <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('redEnvelopesDTOs',award1,i,true)" *ngIf="redEnvelope.awardTitle=='现金红包'"></i>
                <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('redEnvelopesDTOs',award2,i,true)" *ngIf="redEnvelope.awardTitle=='返现红包'"></i>
                <i class="table-action icon-edit" title="编辑" (click)="openAwardsModal('redEnvelopesDTOs',award1,i,false)" *ngIf="redEnvelope.awardTitle=='现金红包'"></i>
                <i class="table-action icon-edit" title="编辑" (click)="openAwardsModal('redEnvelopesDTOs',award2,i,false)" *ngIf="redEnvelope.awardTitle=='返现红包'"></i>
                <i class="table-action icon-delete" title="删除" (click)="delAward('redEnvelopesDTOs',i)"></i>
              </td>
            </tr>
            <tr *ngFor="let rateCoupon of awardsDTO.rateCouponsDTOs;let i=index">
              <td>{{rateCoupon.rcName}}</td>
              <td class="t-a-center">{{rateCoupon.awardTitle}}</td>
              <td class="t-a-right">{{rateCoupon.awardSentSum}}</td>
              <td class="t-a-right">{{rateCoupon.awardSum}}</td>
              <td class="t-a-right">{{rateCoupon.awardPersents}}</td>
              <td class="t-a-center">
                <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('rateCouponsDTOs',award3,i,true)"></i>
                <i class="table-action icon-edit" title="编辑" (click)="openAwardsModal('rateCouponsDTOs',award3,i,false)" ></i>
                <i class="table-action icon-delete" title="删除" (click)="delAward('rateCouponsDTOs',i)"></i>
              </td>
            </tr>
            <tr *ngFor="let physicalReward of awardsDTO.physicalRewardsDTOs;let i=index">
              <td>{{physicalReward.prName}}</td>
              <td class="t-a-center">{{physicalReward.awardTitle}}</td>
              <td class="t-a-right">{{physicalReward.awardSentSum}}</td>
              <td class="t-a-right">{{physicalReward.awardSum}}</td>
              <td class="t-a-right">{{physicalReward.awardPersents}}</td>
              <td class="t-a-center">
                <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('physicalRewardsDTOs',award4,i,true)"></i>
                <i class="table-action icon-edit" title="编辑" (click)="openAwardsModal('physicalRewardsDTOs',award4,i,false)" ></i>
                <i class="table-action icon-delete" title="删除" (click)="delAward('physicalRewardsDTOs',i)"></i>
              </td>
            </tr>
            <tr *ngFor="let raffleTicket of awardsDTO.raffleTicketsDTOs;let i=index">
              <td>{{raffleTicket.rtName}}</td>
              <td class="t-a-center">{{raffleTicket.awardTitle}}</td>
              <td class="t-a-right">{{raffleTicket.awardSentSum}}</td>
              <td class="t-a-right">{{raffleTicket.awardSum}}</td>
              <td class="t-a-right">{{raffleTicket.awardPersents}}</td>
              <td class="t-a-center">
                <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('raffleTicketsDTOs',award5,i,true)"></i>
                <i class="table-action icon-edit" title="编辑" (click)="openAwardsModal('raffleTicketsDTOs',award5,i,false)" ></i>
                <i class="table-action icon-delete" title="删除" (click)="delAward('raffleTicketsDTOs',i)"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </seer-collapse-card>
      </div>
      <div class="col-md-12">
        <seer-collapse-card cardTitle="适用用户" cardClass="with-scroll" [canCollapse]=true>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">参与用户</label>
                <div class="col-sm-8 col-md-10">

                  <select class="form-control"  [(ngModel)]="baseInfoDTO.activityScope" name="activityScope" *ngIf="baseInfoDTO.trigMode!=3"
                          dict-select
                          [key]="'ACTIVITY_SCOPE'"
                          [selected]="baseInfoDTO.activityScope"
                          (change)="showChooseMembers($event.target.value)"
                          [topOption]="{itemid:'',itemName:'请选择'}" >
                  </select>
                  <select class="form-control"  [(ngModel)]="baseInfoDTO.activityScope" name="activityScope" *ngIf="baseInfoDTO.trigMode==3"
                          dict-select
                          [key]="'ACTIVITY_SCOPE'"
                          [selected]="baseInfoDTO.activityScope"
                          (change)="showChooseMembers($event.target.value)"
                          [topOption]="{itemid:'',itemName:'请选择'}"
                          disabled
                  >
                  </select>

                  <p class="text-danger" *ngIf="!baseInfoDTO.activityScope">* 必填项</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row"  *ngIf="!hideChooseMembers">
            <div class="form-group col-sm-12">
              <div style="margin-top: 10px">
                <button class="btn btn-primary left-button"  (click)="openMemberModal(members)">
                  <span  *ngIf="scopesPageInfo.total == 0 ">选择</span>
                  <span  *ngIf="scopesPageInfo.total > 0 ">重新选择</span>
                </button>
                <button class="btn btn-primary left-button"  (click)="clearScopes()">清空</button>
              </div>
              <seer-table
                [data]="memberScopes"
                [titles]="membersTitles"
                [pageNum]="scopesPageInfo.pageNum"
                [pageSize]="scopesPageInfo.pageSize"
                [total]="scopesPageInfo.total"
                [paginationRules]="0"
                [hideExport]="true"
                [hidePrint]="true"
                [hideRemoveAll]="true"
                [hideColumns]="true"
                [hideAddButton]="true"
                [hideActions]="false"
                [hideCheckbox]="true"
                (notify)="membersOnChange($event)"
                (changePage)="membersPageChange($event)"
              ></seer-table>

            </div>
          </div>
        </seer-collapse-card>
      </div>
    </div>
  </form>
</div>

<ng-template #members >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">选择人员</h4>
  </div>
  <div class="modal-body">
    <seer-collapse-card
      cardTitle="人员列表"
      cardClass="with-scroll"
      [headerActions]="cardActions2"
      (notify)="modalChangeCard($event)"
    >
      <seer-filter
        [hasGlobalFilter]="modalhasGlobalFilter"
        [filters]="modalfilters"
        (onFiltersChanged)=modalFiltersChanged($event)
        (onSearchBtnClicked)=modalFiltersChanged($event)
        [formGroupColNum]="formGroupColNum"
      ></seer-filter>
      <seer-table
        [data]="modalUsers"
        [titles]="modalTitles"
        [pageNum]="modalPageInfo.pageNum"
        [pageSize]="modalPageInfo.pageSize"
        [total]="modalPageInfo.total"
        [paginationRules]="0"
        [translate]="translate"
        [hideExport]="true"
        [hidePrint]="true"
        [hideRemoveAll]="true"
        [hideColumns]="true"
        [hideAddButton]="true"
        [hideActions]="true"
        (notify)="modalChangeTable($event)"
        (changePage)="modalPageChange($event)"
      ></seer-table>
    </seer-collapse-card>
  </div>
</ng-template>
<ng-template #relation >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">选择关联活动</h4>
  </div>
  <div class="modal-body">
    <seer-collapse-card
      cardTitle="活动列表"
      cardClass="with-scroll"
      (notify)="modalChangeCard($event)"
    >
      <seer-filter
        [hasGlobalFilter]="true"
        [filters]=""
        (onFiltersChanged)=modalParentsFiltersChanged($event)
      ></seer-filter>
      <seer-table
        [data]="modalParents"
        [titles]="modalParentsTitles"
        [pageNum]="modalParentsPageInfo.pageNum"
        [pageSize]="modalParentsPageInfo.pageSize"
        [total]="modalParentsPageInfo.total"
        [paginationRules]="0"
        [translate]="translate"
        [hideExport]="true"
        [hidePrint]="true"
        [hideRemoveAll]="true"
        [hideColumns]="true"
        [hideAddButton]="true"
        [hideActions]="false"
        [hideCheckbox]="true"
        (notify)="modalParentsChangeTable($event,type)"
        (changePage)="modalParentsPageChange($event)"
      ></seer-table>
    </seer-collapse-card>
  </div>
</ng-template>
<ng-template #award1 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      <ng-container *ngIf="(awardCurrIndex==-1)">添加现金红包</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1)&& !awardCurrReadOnly">修改现金红包</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1) &&awardCurrReadOnly">查看现金红包</ng-container>
    </h4>
  </div>
  <div class="modal-body">
    <form #form1="ngForm">
      <div class="row info">
        <div class="form-group col-sm-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control"  [(ngModel)]="awardCurr.reName" disabled  name="reName">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">红包金额</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.reAmount" (keyup)="redEnvelopeNameChange('现金红包')"
                     name="reAmount" #reAmount="ngModel" required [range]="[1, 999999999]" maxlength="9"
                     [disabled]="awardCurrReadOnly"
              />
              <span class="unit">元</span>
              <p class="text-danger" *ngIf="reAmount.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="reAmount.errors?.range">请输入小于1000000000的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">获奖概率</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardPersents"
                     name="awardPersents" #awardPersents="ngModel" required [range]="[0,100]" maxlength="7"
                     [disabled]="awardCurrReadOnly"
                     currencyMask [options]="{ prefix: '',suffix: '% ', allowZero: false,precision:2,allowNegative:false}"
              />
              <p class="text-danger" *ngIf="awardPersents.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="awardPersents.errors?.range">请输入0-100之间的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardSum"
                     name="awardSum" #awardSum="ngModel" required [range]="[1,99999999]" maxlength="9"
                     [disabled]="awardCurrReadOnly"
              />
              <p class="text-danger" *ngIf="awardSum.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="awardSum.errors?.range">请输入小于100000000的数值</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" >
    <button type="button" class="btn btn-sx btn-info" (click)="saveAward('redEnvelopesDTOs',awardCurr,'1')" *ngIf="!awardCurrReadOnly" [disabled]="!form1.form.valid">保存</button>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
  </div>
</ng-template>
<ng-template #award2 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      <ng-container *ngIf="(awardCurrIndex==-1)">添加返现红包</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1)&& !awardCurrReadOnly">修改返现红包</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1) &&awardCurrReadOnly">查看返现红包</ng-container>
    </h4>
  </div>
  <div class="modal-body">
    <form #form2="ngForm">
      <div class="row info">
        <div class="form-group col-sm-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control"  [(ngModel)]="awardCurr.reName" disabled name="reName" />
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">红包金额</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.reAmount" (keyup)="redEnvelopeNameChange('返现红包')"
                     name="reAmount" #reAmount="ngModel" required [range]="[1, 999999999]" maxlength="9"
                     [disabled]="awardCurrReadOnly"
              />
              <span class="unit">元</span>
              <p class="text-danger" *ngIf="reAmount.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="reAmount.errors?.range">请输入小于1000000000的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6" >
          <div class="row">
            <label  class="col-sm-4  control-label">适用产品</label>
            <div class="col-sm-8" >
              <select class="form-control"  [(ngModel)]="awardCurr.productCategory" name="productCategory" #productCategory="ngModel"
                      dict-select
                      [key]="'PRODUCT_CATEGORY'"
                      [selected]="awardCurr.productCategory"
                      [topOption]="{itemid:'',itemName:'请选择'}" required
                      [disabled]="awardCurrReadOnly"
              >
              </select>
              <p class="text-danger" *ngIf="productCategory.errors?.required">* 必填项</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6" >
          <div class="row">
            <label  class="col-sm-4  control-label">激活方式</label>
            <div class="col-sm-8" >
              <select class="form-control"  [(ngModel)]="awardCurr.useLimit" name="useLimit" #useLimit="ngModel"
                      dict-select
                      [key]="'USE_LIMIT'"
                      [selected]="awardCurr.useLimit"
                      [topOption]="{itemid:'',itemName:'请选择'}" required
                      [disabled]="awardCurrReadOnly"
              >
              </select>
              <p class="text-danger" *ngIf="useLimit.errors?.required">* 必填项</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label  class="col-sm-4  control-label">启用限额</label>
            <div class="col-sm-8">
              <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.useMinAmount"
                     name="useMinAmount" #useMinAmount="ngModel" required [range]="[1, 999999999]" maxlength="9"
                     [disabled]="awardCurrReadOnly"
              >
              <span class="unit">元</span>
              <p class="text-danger" *ngIf="useMinAmount.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="useMinAmount.errors?.range">请输入小于1000000000的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label  class="col-sm-4  control-label">有效期限</label>
            <div class="col-sm-8">
              <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.expiryDate"
                     name="expiryDate" #expiryDate="ngModel" required [range]="[1, 999]" maxlength="3"
                     [disabled]="awardCurrReadOnly"
              />
              <span class="unit">天</span>
              <p class="text-danger" *ngIf="expiryDate.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="expiryDate.errors?.range">请输入小于1000的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6" >
          <div class="row">
            <label  class="col-sm-4  control-label">叠加限制</label>
            <div class="col-sm-8" >
              <select class="form-control"  [(ngModel)]="awardCurr.isStacking" name="isStacking" #isStacking="ngModel"
                      dict-select
                      [key]="'IS_STACKING'"
                      [selected]="awardCurr.isStacking"
                      [topOption]="{itemid:'',itemName:'请选择'}" required
                      [disabled]="awardCurrReadOnly"
              >
              </select>
              <p class="text-danger" *ngIf="isStacking.errors?.required">* 必填项</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label  class="col-sm-4 control-label">获奖概率</label>
            <div class="col-sm-8">
              <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardPersents"
                     name="awardPersents" #awardPersents="ngModel" required [range]="[0,100]" maxlength="6"
                     currencyMask [options]="{ prefix: '',suffix: '%', allowZero: false,precision:2,allowNegative:false}"
                     [disabled]="awardCurrReadOnly"
              />
              <p class="text-danger" *ngIf="awardPersents.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="awardPersents.errors?.range">请输入0-100之间的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardSum"
                     name="awardSum" #awardSum="ngModel" required [range]="[1, 999999999]" maxlength="9"
                     [disabled]="awardCurrReadOnly"
              />
              <p class="text-danger" *ngIf="awardSum.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="awardSum.errors?.range">请输入小于100000000的数值</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sx btn-info" [disabled]="!form2.form.valid" (click)="saveAward('redEnvelopesDTOs',awardCurr,'2')">保存</button>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
  </div>
</ng-template>
<ng-template #award3 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      <ng-container *ngIf="(awardCurrIndex==-1)">添加加息券</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1)&& !awardCurrReadOnly">修改加息券</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1) &&awardCurrReadOnly">查看加息券</ng-container>
    </h4>
  </div>
  <div class="modal-body">
    <form #form3="ngForm">
      <div class="row info">
        <div class="form-group col-sm-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control"  [(ngModel)]="awardCurr.rcName" name="rcName" disabled />
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label class="col-sm-4 control-label">加息额度</label>
            <div class="col-sm-8">
              <input  class="form-control number"  [(ngModel)]="awardCurr.rcAmount" (keyup)="rateCouponNameChange()"
                     name="rcAmount" #rcAmount="ngModel" required [range]="[0.01, 100]" maxlength="7"
                      currencyMask [options]="{ prefix: '',suffix: '%', allowZero: false,precision:2,allowNegative:false}"
                      [disabled]="awardCurrReadOnly"
              />
              <p class="text-danger" *ngIf="rcAmount.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="rcAmount.errors?.range">请输入0.01-100之间的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label  class="col-sm-4  control-label">加息期限</label>
            <div class="col-sm-8">
              <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.rcLength" (keyup)="rateCouponNameChange()"
                     name="rcLength" #rcLength="ngModel" required [range]="[1, 999]" maxlength="3"
                     [disabled]="awardCurrReadOnly"
              />
              <span class="unit">天</span>
              <p class="text-danger" *ngIf="rcLength.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="rcLength.errors?.range">请输入小于1000的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6" >
          <div class="row">
            <label  class="col-sm-4  control-label">适用产品</label>
            <div class="col-sm-8" >
              <select class="form-control"  [(ngModel)]="awardCurr.productCategory" name="productCategory" #productCategory="ngModel"
                      dict-select
                      [key]="'PRODUCT_CATEGORY'"
                      [selected]="awardCurr.productCategory"
                      [topOption]="{itemid:'',itemName:'请选择'}"
                      [disabled]="awardCurrReadOnly"
                      required
              >
              </select>
              <p class="text-danger" *ngIf="productCategory.errors?.required">* 必填项</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6" >
          <div class="row">
            <label  class="col-sm-4  control-label">激活方式</label>
            <div class="col-sm-8" >
              <select class="form-control"  [(ngModel)]="awardCurr.useLimit" name="useLimit" #useLimit="ngModel"
                      dict-select
                      [key]="'USE_LIMIT'"
                      [selected]="awardCurr.useLimit"
                      [topOption]="{itemid:'',itemName:'请选择'}"
                      [disabled]="awardCurrReadOnly"
                      required
              >
              </select>
              <p class="text-danger" *ngIf="useLimit.errors?.required">* 必填项</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label  class="col-sm-4  control-label">启用限额</label>
            <div class="col-sm-8">
              <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.useMinAmount"
                     name="useMinAmount" #useMinAmount="ngModel" required [range]="[1, 999999999]" maxlength="9"
                     [disabled]="awardCurrReadOnly"
              >
              <span class="unit">元</span>
              <p class="text-danger" *ngIf="useMinAmount.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="useMinAmount.errors?.range">请输入小于1000000000的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label  class="col-sm-4  control-label">有效期限</label>
            <div class="col-sm-8">
              <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.expiryDate"
                     name="expiryDate" #expiryDate="ngModel" required [range]="[1, 999]" maxlength="3"
                     [disabled]="awardCurrReadOnly"
              />
              <span class="unit">天</span>
              <p class="text-danger" *ngIf="expiryDate.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="expiryDate.errors?.range">请输入小于1000的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6" >
          <div class="row">
            <label  class="col-sm-4  control-label">叠加限制</label>
            <div class="col-sm-8" >
              <select class="form-control"  [(ngModel)]="awardCurr.isStacking" name="isStacking" #isStacking="ngModel"
                      dict-select
                      [key]="'IS_STACKING'"
                      [selected]="awardCurr.isStacking"
                      [topOption]="{itemid:'',itemName:'请选择'}"
                      [disabled]="awardCurrReadOnly"
                      required>
              </select>
              <p class="text-danger" *ngIf="isStacking.errors?.required">* 必填项</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <label  class="col-sm-4 control-label">获奖概率</label>
            <div class="col-sm-8">
              <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardPersents"
                     name="awardPersents" #awardPersents="ngModel" required [range]="[0,100]" maxlength="7"
                     currencyMask [options]="{ prefix: '',suffix: '% ', allowZero: false,precision:2,allowNegative:false}"
                     [disabled]="awardCurrReadOnly"
              />
              <p class="text-danger" *ngIf="awardPersents.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="awardPersents.errors?.range">请输入0-100之间的数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12">
          <div class="row">
            <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardSum"
                     name="awardSum" #awardSum="ngModel" required [range]="[1,99999999]" maxlength="9"
                     [disabled]="awardCurrReadOnly"
              />
              <p class="text-danger" *ngIf="awardSum.errors?.required">* 必填项</p>
              <p class="text-danger" *ngIf="awardSum.errors?.range">请输入小于100000000的数值</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sx btn-info" [disabled]="!form3.form.valid" (click)="saveAward('rateCouponsDTOs',awardCurr)">保存</button>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
  </div>
</ng-template>
<ng-template #award4 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      <ng-container *ngIf="(awardCurrIndex==-1)">添加实物礼品</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1)&& !awardCurrReadOnly">修改实物礼品</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1) &&awardCurrReadOnly">查看实物礼品</ng-container>
    </h4>
  </div>
  <div class="modal-body">
    <form #form4="ngForm">
    <div class="row info">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.prName" [rangeLength]="[0,20]"
                   name="prName" #prName="ngModel" required maxlength="20"
                   [disabled]="awardCurrReadOnly"
            />
            <p class="text-danger" *ngIf="prName.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="prName.errors?.rangeLength">请输入20个以内字符</p>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardPersents"
                   name="awardPersents" #awardPersents="ngModel" required [range]="[0,100]" maxlength="7"
                   currencyMask [options]="{ prefix: '',suffix: '% ', allowZero: false,precision:2,allowNegative:false}"
                   [disabled]="awardCurrReadOnly"
            />
            <p class="text-danger" *ngIf="awardPersents.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="awardPersents.errors?.range">请输入0-100之间的数值</p>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品单价</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control number addUnit"  [(ngModel)]="awardCurr.prPrice" style="padding-right: 30px"
                   name="prPrice" #prPrice="ngModel" required [range]="[1, 999999999]"
                   maxlength="9" [disabled]="awardCurrReadOnly"
            >
            <span class="unit" >元</span>
            <p class="text-danger" *ngIf="prPrice.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="prPrice.errors?.range">请输入小于1000000000的数值</p>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardSum"
                   name="awardSum" #awardSum="ngModel" required [range]="[1,999999999]" maxlength="9"
                   [disabled]="awardCurrReadOnly"
            />
            <p class="text-danger" *ngIf="awardSum.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="awardSum.errors?.range">请输入小于1000000000的数值</p>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sx btn-info" [disabled]="!form4.form.valid" (click)="saveAward('physicalRewardsDTOs',awardCurr,1)">保存</button>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
  </div>
</ng-template>
<ng-template #award5 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      <ng-container *ngIf="(awardCurrIndex==-1)">添加抽奖券</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1)&& !awardCurrReadOnly">修改抽奖券</ng-container>
      <ng-container *ngIf="(awardCurrIndex!=-1) &&awardCurrReadOnly">查看抽奖券</ng-container>
    </h4>
  </div>
  <div class="modal-body">
    <form #form5="ngForm">
    <div class="row info">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.rtName" [rangeLength]="[0,20]"
                   name="rtName" #rtName="ngModel" required maxlength="20" [disabled]="awardCurrReadOnly"
            />
            <p class="text-danger" *ngIf="rtName.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="rtName.errors?.rangeLength">请输入20个以内字符</p>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">关联活动</label>
          <div class="col-sm-8 col-md-10 needBtn">
            <p class="text-danger" *ngIf="!awardCurr.activityId"  style="top:30px">* 必填项</p>
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.activityId" name="activityId" #activityId="ngModel" [rangeLength]="[0,20]"
                   maxlength="20" [disabled]="true"
            />
            <span class="select_btn"  *ngIf="!awardCurrReadOnly">
                 <button (click)="openParentIdModal(parentId,'1')" class="btn btn-right ">选择</button>
            </span>
            <p class="text-danger" *ngIf="awardCurr.activityId==''" >* 必填项</p>
            <p class="text-danger" *ngIf="activityId.errors?.rangeLength">请输入20个以内字符</p>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">单券次数</label>
          <div class="col-sm-8 col-md-10">
            <input  class="form-control number addUnit"  [(ngModel)]="awardCurr.perNumber" style="padding-right: 30px"
                    name="perNumber" #perNumber="ngModel" required [range]="[1, 999]" maxlength="3"
                    [disabled]="awardCurrReadOnly"
            />
            <span class="unit">次</span>
            <p class="text-danger" *ngIf="perNumber.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="perNumber.errors?.range">请输入小于1000的数值</p>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardPersents"
                   name="awardPersents" #awardPersents="ngModel" required [range]="[0,100]" maxlength="7"
                   currencyMask [options]="{ prefix: '',suffix: '% ', allowZero: false,precision:2,allowNegative:false}"
                   [disabled]="awardCurrReadOnly"
            />
            <p class="text-danger" *ngIf="awardPersents.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="awardPersents.errors?.range">请输入0-100之间的数值</p>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖券总数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control number"  [(ngModel)]="awardCurr.awardSum"
                   name="awardSum" #awardSum="ngModel" required [range]="[1,999999999]" maxlength="9"
                   [disabled]="awardCurrReadOnly"
            />
            <p class="text-danger" *ngIf="awardSum.errors?.required">* 必填项</p>
            <p class="text-danger" *ngIf="awardSum.errors?.range">请输入小于1000000000的数值</p>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sx btn-info" [disabled]="!form5.form.valid || !awardCurr.activityId" (click)="saveAward('raffleTicketsDTOs',awardCurr,1)">保存</button>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
  </div>
</ng-template>
