<modal [animation]="animation" [backdrop]="backdrop" [size]="'lg'">
  <modal-header class="bordered-blue">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">{{title}}</div>
  </modal-header>
  <modal-body>
    <div>
      <div class="attach-title"  style="float: left;color: #2398e8;"><i class="fa fa-list" style="color: #2398e8;"></i>{{pictureTitle}}</div><div class="acting-error" style="float: left;color:#F00">&nbsp;&nbsp;&nbsp;{{imageError}}</div>
      <div class="col-xs-12 picture-acting-model">
        <div class="col-xs-3 acting-picture">
          <div class="picture-group" title="点击上传图片" [ngClass]="{uploading: uploadInProgress}">
            <div class="picture-wrapper" (click)="bringFileSelector();">
              <img src="{{ picture }}" *ngIf="picture">
              <img src="{{ defaultPicture }}" *ngIf="!picture && defaultPicture">

              <div class="loading" *ngIf="uploadInProgress">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div>
            </div>
            <!--<a href class="change-picture" (click)="bringFileSelector();">选择图片</a>-->
            <input #fileUpload type="file" name="file" hidden="true" id="uploadFile" (change)="onPictures()">
          </div>
          <div class="acting-picture-foot">
          </div>
        </div>
        <div class="col-xs-3 acting-picture" *ngFor="let picturefile of pictureList; let index=index">
          <div class="picture-group" [ngClass]="{uploading: uploadInProgress}">
            <div class="picture-wrapper">
              <img src="{{ picturefile.attachUrl }}" *ngIf="picturefile.attachUrl">
              <img src="{{ defaultPicture }}" *ngIf="!picture && defaultPicture">

              <div class="loading" *ngIf="uploadInProgress">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div>
            </div>
            <i class="ion-ios-close-outline" (click)="removeAttachPicture(index)" *ngIf="picturefile.attachUrl && canDelete"></i>
          </div>
          <div class="acting-picture-foot">
            <a class="acting-picture-foot focus-link" style="float: left;" (click)="previewAttachPicture(picturefile)" title="预览">预览</a>
            <a class="acting-picture-foot focus-link" style="float: left;" (click)="removeAttachPicture(index)" title="删除">&nbsp;删除</a>
          </div>
        </div>
      </div>
    </div>
    <div class="acting_middle">
      <div class="attach-title" style="float: left;color: #2398e8;"><i class="fa fa-list" style="color: #2398e8;"></i>{{datumTitle}}</div><div class="acting-error" style="float: left;color:#F00">&nbsp;&nbsp;&nbsp;{{datumError}}</div>
      <div class="col-xs-12 picture-acting-model">
        <div class="col-lg-6 col-sm-6 col-xs-12 acting-picture">
          <div class="databox databox-xs radius-bordered databox-shadowed databox-graded" title="点击上传文档">
            <div style="cursor: pointer;">
              <div class="databox-left bg-blue" (click)="bringDatumSelector();">
                <div class="databox-piechart">
                  <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95"><img src="{{ defaultDatum }}"></div>
                </div>
              </div>
              <div class="databox-right" (click)="bringDatumSelector();">
                <div class="datum-upload-button" style="font-size: 18px">点击上传文档</div>
              </div>
            </div>
            <input #datumUpload type="file" name="file" hidden="true" id="uploadDatum" (change)="onDatums()">
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 acting-picture" *ngFor="let datumfile of datumList; let index=index">
          <div class="databox databox-xs radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-blue">
              <div class="databox-piechart">
                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95"><span class="white font-90"></span></div>
              </div>
            </div>
            <div class="databox-right">
              <span class="databox-title name-overflow blue" title='点击链接下载文档'><a (click)="previewAttachDatum(datumfile)">{{datumfile.attachName}}</a></span>
              <div class="databox-text darkgray">文件大小：{{getDatumSize(datumfile.attachSize)}}KB</div>
              <div class="databox-text darkgray">上传时间：{{getDate(datumfile.createTime)}}</div>
              <div class="databox-stat bg-blue radius-bordered">
                <i class="stat-icon glyphicon glyphicon-remove focus-link" (click)="removeAttachDatum(index)" ><span aria-hidden="true" style="font-size:22px;font-weight: bold" title="删除">&times;</span></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="onSave()">保存</button>
    <button type="button" class="btn btn-default" (click)="onDestroy();clean()">取消</button>
  </modal-footer>
</modal>
