
<div class="row">
    <ba-card [title]="newTitle" baCardClass="with-scroll">
        <div style="width:100%; height:auto;">
            <ul style="width:100%; height:25px; border-bottom:1px solid #000; list-style:none;">
                <li style="float:left; margin-right:15px;">区域：</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">龙区</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">辽区</li>
            </ul>
            <ul style="width:100%; height:25px; border-bottom:1px solid #000; list-style:none;">
                <li style="float:left;  margin-right:15px;">年龄：</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">小于25</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">25-30</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">31-40</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">41-50</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">50以上</li>
            </ul>
            <ul style="width:100%; height:25px; border-bottom:1px solid #000;list-style:none;">
                <li style="float:left;  margin-right:15px;">性别：</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">男</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">女</li>
            </ul>
            <ul style="width:100%; height:25px; border-bottom:1px solid #000;list-style:none;">
                <li style="float:left;  margin-right:15px;">投资总额</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">
                    <input type="text" name="" value="" id ="money" style="border:0;">  
                    <label for="money">元</label>  
                </li>
            </ul>
            <ul style="width:100%; height:25px; border-bottom:1px solid #000;list-style:none;">
                <li style="float:left;  margin-right:15px;">单笔最多投资金额</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">
                    <input type="text" name="" value=""  style="border:0;">  
                    <label>元</label>  
                </li>
            </ul>
            <ul style="width:100%; height:25px; border-bottom:1px solid #000;list-style:none;">
                <li style="float:left;  margin-right:15px;">邀请人数</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">
                    <input type="text" name="" value=""  style="border:0;">  
                    <label >元</label>  
                </li>
            </ul>
            <ul style="width:100%; height:25px; border-bottom:1px solid #000;list-style:none;">
                <li style="float:left;  margin-right:15px;">投资时间</li>
                <li style="float:left; margin-right:15px; color:#5ea7e0;">
                    <input type="date" name="" value="" id ="money" style="border:0;">  
                    <label for="money">至</label>  
                    <input type="date" name="" value="" id ="money" style="border:0;">  
                </li>
            </ul> 
            <ul style="width:100%; height:25px; border-bottom:1px solid #000;list-style:none;">
                <li style="float:left;  margin-right:15px;">用户投资状态</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">为投资</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">已投资</li>
            </ul>
            <ul style="width:100%; height:25px; border-bottom:1px solid #000;list-style:none;">
                <li style="float:left;  margin-right:15px;">分险等级：</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">A</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">B</li>
                <li style="float:left;margin-right:15px; color:#5ea7e0;">C</li>
            </ul>
        </div> 
        <seer-content-top [fixedTop]="false">
        <seer-filter
            [hasGlobalFilter]="hasGlobalFilter"
            [filters]="filters"
            (onFiltersChanged)=handleFiltersChanged($event)
            (onSearchBtnClicked)=handleSearchBtnClicked($event)
        ></seer-filter>
        </seer-content-top>
        <seer-collapse-card>
        <seer-table
            [data]="source"
            [titles]="titles"
            [translate]="dict"
            [hideExport]="true"
            [hideColumns]="true"
            [hidePrint]="true"
            [hideRemoveAll]="true"
            [hideActions]="true"
            (notify)="onChange($event)"
        ></seer-table>
        </seer-collapse-card>
    </ba-card>
    <div style="text-align:center; margin-top:20px;">
        <button class="btn btn-primary" (click)="handleBackBtnClick()" style="display:inline-block;">返回</button>
        <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleBackBtnClick()" style="display:inline-block;">确定</button>
    </div>
    
</div>