<modal [animation]="animation" [backdrop]="backdrop" >
    <modal-header>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{title}}</h4>
    </modal-header>
    <modal-body>
      <div class="col-sm-12">
        <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
          <div class="form-group">
            <label for="budgetName" style="float: left;" class="control-label required">费用名称</label><div style="float: left;color:#F00">&nbsp;&nbsp;&nbsp;{{nameCheck}}</div>
            <div [ngClass]="{'has-error': checkinput&&!budget.budgetName}">
              <input type="text" class="form-control" [(ngModel)]="budget.budgetName" id="budgetName" name="budgetName" required  (input)="checkValue()">
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
          <div class="form-group">
            <label for="budgetSubject" style="float: left;" class="control-label required">费用科目</label><div style="float: left;color:#F00">&nbsp;&nbsp;&nbsp;{{subjectCheck}}</div>
            <div [ngClass]="{'has-error': checkinput&&!budget.budgetSubject}">
              <select dict-select [key]="'BUDGET_SUBJECT'" [topOption]="{dictValueId:'',dictValueName:'请选择'}" class="form-control"  (change)="checkValue()"
                      [selected]="budget.budgetSubject" [(ngModel)]="budget.budgetSubject" id="budgetSubject" name="budgetSubject" required>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
          <div class="form-group">
            <label for="budgetAmount" style="float: left;" class="control-label required">费用金额</label><div style="float: left;color:#F00">&nbsp;&nbsp;&nbsp;{{amountCheck}}</div>
            <div [ngClass]="{'has-error': checkinput&&!budget.budgetAmount}">
              <input type="number" class="form-control"  [(ngModel)]="budget.budgetAmount" id="budgetAmount" name="budgetAmount" required  (input)="checkValue()">
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-4">
          <label class="car_label">所属类型</label>
          <select class="form-control" name="sel"
                  [(ngModel)]="belongType">
            <option *ngFor="let x of translate.belongType"
                    [ngValue]="x.dictValueId">
              {{x.dictValueName}}
            </option>
          </select>
        </div>
        <div class="col-sm-8 col-xs-8 col-md-2 col-lg-8" *ngIf="belongType == 'STAFF'">
          <label for="staffName" style="float: left;" class="control-label">&nbsp;&nbsp;</label>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control budget_space" readonly [(ngModel)]="budget.staffName" id="staffName" name="staffName"/>
              <input style="display: none" type="text" class="form-control" [(ngModel)]="budget.staffId" name="staffId"/>
              <span class="input-group-btn">
                <a class="btn btn-default budget_link" (click)="loadStaffList()"><i class="fa fa-search" aria-hidden="true"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-xs-8 col-md-2 col-lg-8" *ngIf="belongType == 'STORE'">
          <label for="staffName" style="float: left;" class="control-label">&nbsp;&nbsp;</label>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <a class="btn btn-default budget_choose" (click)="loadStoreTree(treeType)"><i class="fa fa-search" aria-hidden="true"></i>选择门店</a>
              </span>
            </div>
          </div>
        </div>
      </div>


    </modal-body>
    <modal-footer>
      <button type="submit" class="btn btn-primary" (click)="checkInput();checkValue();onSave();">保存</button>
      <!--<button type="button" class="btn btn-primary" (click)="onEdit()">确认</button>-->
      <button type="button" class="btn btn-default" (click)="onDestroy()">取消</button>
    </modal-footer>
</modal>

<div dynamic-component></div>
