<seer-content-top>
  <seer-filter
    [hasGlobalFilter]=hasGlobalFilter
    (onInit)=handleFiltersChanged($event)
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleFiltersChanged($event)
  ></seer-filter>  
</seer-content-top>
<seer-collapse-card>
  <seer-table
    [data]=roles
    [titles]=titles
    [paginationRules]=1
    (notify)=handleNotify($event)
    [hideRemoveAll]=true
  ></seer-table>
</seer-collapse-card>
<seer-loading [isLoading]="isLoading" [type]="'big'"></seer-loading>
