<seer-content-top>
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>  
</seer-content-top>
<seer-collapse-card>
  <seer-table
    [data]="roles"
    [titles]="titles"
    [translate]="dict"
    (notify)="handleNotify($event)"
  ></seer-table>
</seer-collapse-card>

<seer-collapse-card>
  <seer-simple-table
    [data]="roles"
    [titles]="titles"
    [translate]="dict"
    (notify)="handleNotify($event)"
  ></seer-simple-table>
</seer-collapse-card>