<seer-content-top>
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>  
</seer-content-top>
<seer-collapse-card>
  <seer-table
    [data]="roles"
    [titles]="titles"
    [translate]="dict"
    (notify)="handleNotify($event)"
    [hideCheckbox]="true"
    [showSeq]="true"
    [hidePagination]="true"
  ></seer-table>
</seer-collapse-card>

<seer-collapse-card
  [title]="'simple'"
  [canCollapse]="true"
  [headerActions]="simpleTableActions"
  (notify)="handleSimpleTableCardNotify($event)"
  >
  <seer-simple-table
    #simpleTable
    [data]="roles"
    [titles]="titles"
    [translate]="dict"
    [rowsOnPageSet]="[5, 10, 15]"
    [rowsOnPage]="5"
    (notify)="handleSimpleTableNotify($event)"
    [hidePagination]="true"
    [actions]="simpleTableActions"
  ></seer-simple-table>
</seer-collapse-card>
<seer-address-picker [classNames]="classNames" (notify)="demodemo($event)"></seer-address-picker>
<seer-cool-checkbox [id]="123"></seer-cool-checkbox>