<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary left-button" [disabled]="(editType === 'edit' && !myForm.form.dirty) || !myForm.form.valid || forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
</seer-content-top>

<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card title="字典管理" cardClass="with-scroll" [canCollapse]=false>
        <form class="form-horizontal" #myForm="ngForm">
          <div class="row">

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="category" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">类型编号</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="category"
                    name="category"
                    placeholder="类型编号"
                    [required]=true
                    [(ngModel)]="dict.category"
                    />
                    <!-- <p *ngIf="category.dirty && category.errors?.required">required error</p> -->
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="categoryName" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">类型名称</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="categoryName"
                    name="categoryName"
                    placeholder="类型名称"
                    [required]=true
                    [(ngModel)]="dict.categoryName"
                    />
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="itemId" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">值编号</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="itemId"
                    name="itemId"
                    placeholder="值编号"
                    [required]=true
                    [(ngModel)]="dict.itemId"
                    />
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="itemName" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">值名称</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="itemName"
                    name="itemName"
                    placeholder="值名称"
                    [required]=true
                    [(ngModel)]="dict.itemName"
                    />
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="itemSort" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">排序</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="itemSort"
                    name="itemSort"
                    placeholder="排序"
                    [required]=true
                    [(ngModel)]="dict.itemSort"
                    />
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="delFlag" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">有效状态</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <select
                    class="form-control"
                    id="delFlag"
                    [(ngModel)]="dict.delFlag"
                    name="delFlag"
                    dict-select
                    [key]="'DICT_DEL_FLAG'"
                    [selected]="dict.delFlag"
                    >
                  </select>
                  </div>
              </div>
            </div>

          </div>
        </form>
      </seer-collapse-card>
    </div>
  </div>
</div>
