<seer-collapse-card>
    <seer-filter
        [hasGlobalFilter]="hasGlobalFilter"
        [filters]="filters"
        (onFiltersChanged)=handleFiltersChanged($event)
        (onSearchBtnClicked)=handleSearchBtnClicked($event)
    ></seer-filter>
</seer-collapse-card>
<seer-collapse-card>
    <seer-table
        [data]="spreadStatisticList"
        [titles]="titles"
        [pageNum]="pageInfo.pageNum"
        [pageSize]="pageInfo.pageSize"
        [total]="pageInfo.total"
        [paginationRules]="0"
        [showSeq]="false"
        [hideRemoveAll]="true"
        [hidePrint]="true"
        [hideCheckbox]="true"
        [hideActions]="true"
        (notify)="onChange($event)"
        (changePage)="handleChangePage($event)"
    ></seer-table>
</seer-collapse-card>
<seer-loading [isLoading]="isLoading" [type]="'big'"></seer-loading>