@import '../../../../../theme/sass/conf/conf';

.person_label{
  margin-top:20px;
  float:right;
}
.person_space{
  margin-top: 10px;
}

.cognate_top{
  margin-top: 0px;
}
.cognate_mid{
  margin-top: 15px;
}
.cognate_foot{
  margin-top: 20px;
}

.person_cognate{
  margin-top: 20px;
}

.person_td{
  width: 250px;
}

.car_label{
  margin-top:10px;
}

.spbrow{
  margin-top:15px;
}

.header_border {
  border-bottom: solid;
  border-color: #00abff;
}

.tree-header_box{
  background-color: white;
  margin-bottom: 50px;
  padding:15px;
}

label.required:after {
  content: " *";
  color: red;
}


.headbg{
  background: black;
  color: white;
  height:48px;
}
.userManagerAll{
  height: 100%;
  width: 100%;
}
.leftSide{
  background: white;
  float: left;
  height: 100%;
  width: 30%;
  margin-left: -25px;
  margin-right:-70px;
  margin-top: -15px;
  overflow-y:auto;
}
.rightSide{
  background: white;
  height: 100%;
  width:70%;
  float: right;
  margin-left: -70px;
  margin-right:-18px;
  margin-top: -15px;
}
.rightCard{
  height: 100%;
  width:65%;
}
.header{
  background-color: white;
  position: relative;
  top:-24px;
  left:-36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:5px;
  margin-right: -100px;
}
.card{position:relative;display:block;margin-bottom:.75rem;background-color:#fff;border-radius:.25rem;border:1px solid rgba(0,0,0,.125)}

.target_choose{
  margin-top: 10px;
  padding-top: 7px !important;
  padding-bottom: 8px !important;
  padding-left:  15px !important;
  padding-right:  15px !important;
}

.btn-default, .btn:focus, .btn-default:focus {
  color: #444;
  background-color: #fff;
  border-color: #ccc;

}
.target-top{
  margin-bottom: 5px;
}
