<div class=" searchFrame card">
  <div class="row">
    <div class="col-xs-12">
      <label>查询区域</label>
    </div>
    <div class="col-xs-12 header_border">
    </div>
  </div>
  <div class="row spbrow">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4" [ngClass]="{'has-error': !searchType}">
      <label class="car_label">查询条件</label>
      <select class="form-control" name="sel" (click)="isBrand()"
              [(ngModel)]="searchType">
        <option *ngFor="let x of translate.searchType"
                [ngValue]="x.dictValueId">
          {{x.dictValueName}}
        </option>
      </select>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4" *ngIf="searchType=='00'">
      <label class="car_label">&nbsp;</label>
      <input type="text" class="form-control" [(ngModel)]="search.goodsName"  name="goodsName" (input)="noSearch()">
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4" *ngIf="searchType=='01'">
      <label class="car_label">&nbsp;</label>
      <input type="text" class="form-control" [(ngModel)]="search.goodsBarCode"  name="goodsBarCode" (input)="noSearch()">
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4" *ngIf="searchType=='02'" [ngClass]="{'has-error': !supplier}" (click)="noSearch()">
      <label class="car_label">供应商</label>
      <select class="form-control" name="sel" (click)="getBrands(supplier.id)"
              [(ngModel)]="supplier">
        <option *ngFor="let supplier of suppliersData"
                [ngValue]="supplier">
          {{supplier.supplierName}}
        </option>
      </select>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4" *ngIf="searchType=='02' && supplier.id" [ngClass]="{'has-error': !supplier}" (change)="noSearch()">
      <ss-multiselect-dropdown
        [options]="brandsData"
        [(ngModel)]="brands"
        (ngModelChange)="onChangeColonne($event)"
        class="pull-left allocation_list_space"
        [settings]="dropdownSettings"
        [texts]="myRepertoryTexts"
        style="margin-left:5px"
      ></ss-multiselect-dropdown>
    </div>
  </div>
  <div class="row spbrow">
    <button type="button" class="btn btn-search btn-info"
            (click)="getAllocationRepertoryByTerms()"
            [disabled]="renderSearch()"
    >查询</button>
    <button type="button" class="btn btn-default"
            (click)="cancel()"
    >重置</button>
  </div>

</div>
<div class="row frame card">
  <div class="col-xs-12">
    <div class="seer-table-padding">
      <seertable
        [data]="data"
        [titles]="titles"
        [hideActions]="true"
        [hideAddButton]="true"
        [hideRemoveAll]="true"
        [showSelectButton]="true"
        [selectButtonText]="'移仓'"
        [titleOption]="titleOption"
        (notify)="onChange($event)"
      ></seertable>
    </div>
  </div>
</div>

<!--<div class="header" *ngIf="currentRepertory.length>0">-->

  <!--<button type="button" class="btn btn-default" (click)="cancel()">返回列表</button>-->
  <!--<button type="button"-->
          <!--class="btn btn-info"-->
          <!--[disabled]="currentRepertory."-->
          <!--(click)="saveStaff()">保存-->
  <!--</button>-->

<!--</div>-->


<div dynamic-component></div>
