<form (ngSubmit)="save()">
  <modal [animation]="true" [backdrop]="true" [size]="'lg'">
    <modal-header>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{title}}</h4>
    </modal-header>
    <modal-body>
     <!--  <div class="col-sm-12">
       <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
         <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:10.5000pt">修复bug:</span></strong></span></p>
     
         <ol>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">代垫预算的每个费用个可以关联到人或门店（门店是多选，人是单选）。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">目标管理改成分阶段添加，右边做成表格。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">人员管理添加合同编号。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">代垫计划可以不关联门店。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">入库单查询增加搜索商品，效期种类增加默认，商品列表增加订单数量。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">活动场地 修改成活动类型：场内和场外。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">活动总金额全部不能修改。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">活动用多个代垫时，选择所用费用多少。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">活动选代垫，显示剩余金额。代垫模态框里增加品牌和月份过滤。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">活动商品需要加开始时间和结束时间。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">活动计划下活动门店显示方式修改成：xxxx门店...(4).</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">合同返利：返利方式修改成返利类型，返利金额改成返利方式。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">应收的库管人员修改成销售人员。表格的列选项。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">修改品牌管理Excel导入，弹出数据验证消息</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">修改品牌管理Excel导出。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">合同对账和销售对账，门店多选。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">提取订单时候：需要有订单时间，增加时间筛选项：开始时间，结束时间。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">订单金额和审批状态。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">手动退单需要关联订单。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">修复商品显示物料和赠品的bug。</span></span></li>
         </ol>
     
         <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:10.5000pt">新增模块:</span></strong></span></p>
     
         <ol>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">库存列表模块。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">人员登陆获取头像功能。</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">公司管理模块，可以添加编辑公司编号，公司名称，公司金额有效位数</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">采购合同对账</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">销售合同对账</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">打印模版设置管理</span></span></li>
           <li><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:10.5000pt">微信端框架设计</span></span></li>
         </ol>
       </div>
     </div> -->
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" (click)="closeModal()">关闭</button>
    </modal-footer>
  </modal>
</form>
<div dynamic-component></div>









