<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary left-button" [disabled]="!myForm.form.valid || forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
</seer-content-top>
<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card title="用户管理" cardClass="with-scroll" [canCollapse]=false>
        <form class="form-horizontal" #myForm="ngForm">
          <div class="row">

            <!-- <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="userId" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">用户账号</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="userId"
                    name="userId"
                    placeholder="用户账号"
                    [required]=true
                    [(ngModel)]="user.userId"
                    />
                </div>
              </div>
            </div> -->
                        
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="loginName" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">用户名称</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="loginName"
                    name="loginName"
                    placeholder="用户名称"
                    [required]=true
                    [(ngModel)]="user.loginName"
                    />
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group" *ngIf="editType === 'add'">
              <div class="row">
                <label for="staffs" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">所属员工</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <input
                      type="text"
                      class="form-control"
                      id="staffs"
                      name="staffs"
                      placeholder="所属员工"
                      readonly
                      [required]=true
                      [value]="activeStaff.name"
                      (click)=showModal()
                      />
                    
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group" *ngIf="editType === 'edit'">
              <div class="row">
                <label class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">用户密码</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <button type="button" class="btn btn-primary" [disabled]="forbidResetPasswordBtn">密码重置</button>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">用户角色</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <div class="form-control user-role-list">
                    <label *ngFor="let role of roles">
                      <seer-cool-checkbox
                        [(checked)]=role.checked
                      ></seer-cool-checkbox> {{ role.roleName }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
      </seer-collapse-card>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #modal="bs-modal"
     (onShown)="handleModalShown()"
     (onHide)="handleModalHide()"
     >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <seer-tree
          #staffTree
          [permissions]="staffPermission"
          [nodes]="staffTreeNodes"
          (notify)="onNotice($event)"
          ></seer-tree>
      </div>
      <div class="modal-footer">
         <button type="button"  class="btn btn-default" (click)="modal.hide()">关闭</button>
      </div>
    </div>
  </div>
</div>

