<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary left-button" [disabled]="!myForm.form.valid || forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
</seer-content-top>
<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card cardTitle="用户管理" cardClass="with-scroll" [canCollapse]=false>
        <form class="form-horizontal" #myForm="ngForm">
          <div class="row">
                        
            <div class="col-sm-12 col-md-12 form-group">
              <div class="row">
                <label for="loginName" class="col-sm-3 col-md-1 col-lg-1 col-xlg-1 control-label required">账号名称</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <input
                        *ngIf="editType === 'edit'"
                        type="text"
                        class="form-control"
                        id="loginName"
                        name="loginName"
                        [required]=true
                        [(ngModel)]="user.loginName"
                        disabled
                    />
                    <input
                        *ngIf="editType === 'add'"
                        type="text"
                        class="form-control"
                        id="loginName"
                        name="loginName"
                        [required]=true
                        [(ngModel)]="user.loginName"
                    />
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 form-group">
                <div class="row">
                    <label for="emCode" class="col-sm-3 col-md-1 col-lg-1 col-xlg-1 control-label required">员工编号</label>
                    <div class="col-sm-8 col-md-7 col-lg-6">
                        <input
                            type="text"
                            class="form-control"
                            id="emCode"
                            name="emCode"
                            [(ngModel)]="user.emCode"
                            (click)="handleModalShown()"
                        />
                    </div>
                </div>
            </div>            
            
            <!-- <div class="col-sm-12 col-md-12 form-group" *ngIf="editType === 'add'">
              <div class="row">
                <label for="staffs" class="col-sm-3 col-md-1 col-lg-1 col-xlg-1 control-label required">所属员工</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <input
                      type="text"
                      class="form-control"
                      id="staffs"
                      name="staffs"
                      placeholder="所属员工"
                      readonly
                      [required]=true
                      [value]="activeStaff.name"
                      (click)=showModal()
                      />
                    
                </div>
              </div>
            </div> -->
            
            <div class="col-sm-12 col-md-12 form-group" *ngIf="editType === 'edit'">
              <div class="row">
                <label class="col-sm-3 col-md-1 col-lg-1 col-xlg-1 control-label required">用户密码</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <button type="button" class="btn btn-primary" [disabled]="forbidResetPasswordBtn" (click)="handleResetPasswordBtn()">密码重置</button>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-12 form-group">
              <div class="row">
                <label class="col-sm-3 col-md-1 col-lg-1 col-xlg-1 control-label required">用户角色</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <div class="form-control user-role-list">
                    <label *ngFor="let role of roles; let i=index" class="outLabel">
                      <seer-cool-checkbox
                        [(checked)]=role.checked
                        [id]=i
                      ></seer-cool-checkbox> {{ role.roleName }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 form-group" *ngIf="editType === 'add'" style="padding-bottom: 20px;">
                <div class="row">
                    <label class="col-sm-3 col-md-3 col-lg-1 col-xlg-1 control-label"></label>
                    <div class="col-sm-8 col-md-7 col-lg-6">
                        <label class="col-sm-12 col-md-12 text-danger">* 初始密码为GH123456，请提示新用户及时修改；</label>
                    </div>
                </div>
            </div>
            

          </div>
        </form>
      </seer-collapse-card>
    </div>
  </div>
</div>
<!-- <div class="modal fade" bsModal #modal="bs-modal"
     (onShown)="handleModalShown()"
     (onHide)="handleModalHide()"
     >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <seer-tree
          #staffTree
          [permissions]="staffPermission"
          [nodes]="staffTreeNodes"
          (notify)="onNotice($event)"
          ></seer-tree>
      </div>
      <div class="modal-footer">
         <button type="button"  class="btn btn-default" (click)="modal.hide()">关闭</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" bsModal #modal="bs-modal"
    (onShown)="handleModalShown();"
    (onHide)="handleModalHide()"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 20px;">
            <div class="modal-header">
                <h3>请选择员工编号</h3>
            </div>
            <div class="modal-body">
                <seer-filter
                    [hasGlobalFilter]="hasGlobalFilter"
                    (onFiltersChanged)=handleFiltersChanged($event)
                ></seer-filter>
                <seer-table
                    [data]="modalStaffCode"
                    [titles]="titles"
                    [pageSize]=pageInfo.pageSize
                    [pageNum]=pageInfo.pageNum
                    [total]=pageInfo.total
                    [paginationRules]="0"
                    [translate]="translate"
                    [hideExport]="true"
                    [hidePrint]="true"
                    [hideRemoveAll]="true"
                    [hideColumns]="true"
                    [hideAddButton]="true"
                    [hideActions]="true"
                    [hideHeaderCheckbox]="true"
                    (notify)="staffSelected($event)"
                    (changePage)="modalPageChange($event)"
                ></seer-table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="modal.hide()">关闭</button>
            </div>
        </div>
    </div>
</div>

