.control-label {
	text-align: right;
}
.user-role-list {
	height: auto;
	min-height: 30px;
	.outLabel {
        /* display: block; */
        width: 110px;
        margin-right: 50px;
		cursor: pointer;
	}
}
.departMentDropdown.show {
	display: block;
}