<!--<seer-card [title]="title">-->
    <!--<form #resourceForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">-->

      <!--<div class="col-sm-12">-->
          <!--<div class="form-group">-->
            <!--<label class="col-sm-1 control-label">门店</label>-->
            <!--<div class="col-sm-3">-->

              <!--&lt;!&ndash;<select class="form-control" id="supplierId"  [(ngModel)]="shippinglist.customerinfo" name="brandCountry" >&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="">全部</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="01">国内</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="02">国外</option>&ndash;&gt;-->
              <!--&lt;!&ndash;</select>&ndash;&gt;-->
              <!--&lt;!&ndash;&ndash;&gt;-->
              <!--<select class="form-control" name="sel"-->
                      <!--(change)="typeChange(shippinglist.customerinfo)"-->
                      <!--[(ngModel)]="shippinglist.customerinfo">-->
                <!--<option value="">全部</option>-->
                <!--<option *ngFor="let x of shippinglist.customerdata"-->
                        <!--[ngValue]="x.id">-->
                  <!--{{x.customerName}}-->
                <!--</option>-->
              <!--</select>-->


            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<select class="form-control" name="123"-->
                        <!--[(ngModel)]="shippinglist.customerStoreId">-->
                  <!--<option value="">全部</option>-->
                  <!--<option *ngFor="let x of shippinglist.customerstoredata"-->
                          <!--[ngValue]="x.id">-->
                    <!--{{x.storeName}}-->
                  <!--</option>-->
                <!--</select>-->
            <!--</div>-->

            <!--<label class="col-sm-1 control-label">销售人员</label>-->
            <!--<div class="col-sm-3">-->
              <!--&lt;!&ndash;<input type="text" class="form-control" id="staffId" placeholder="" [(ngModel)]="shippinglist.staffId"  name="supplierId">&ndash;&gt;-->
              <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" readonly type="text" [(ngModel)]="shippinglist.staffName" id="staffOrgName" name="staffName"/>-->
                <!--<input style="display: none" type="text" class="form-control" [(ngModel)]="shippinglist.staffId" name="staffId"/>-->
                <!--<span class="input-group-btn">-->
                 <!--<button class="btn btn-default seer_link" (click)="loadOrgList()">查询</button>-->
              <!--</span>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-12">-->
        <!--<div class="form-group">-->
          <!--<label  for="startData" class="col-sm-1 control-label">开始时间</label>-->
          <!--<div class="col-sm-3">-->
            <!--&lt;!&ndash;<input type="text" class="form-control" id="startData" placeholder="" [(ngModel)]="shippinglist.startData"  name="supplierId">&ndash;&gt;-->

            <!--<input-->
              <!--id = "startData"-->
              <!--class="form-control"-->
              <!--[(ngModel)]="shippinglist.startData"-->
              <!--name="startData"-->
              <!--close-on-select="true"-->
              <!--date-only="true"-->
              <!--ng2-datetime-picker-->
              <!--readonly-->
            <!--/>-->

          <!--</div>-->
          <!--<label for="endData" class="col-sm-1 control-label">结束时间</label>-->
          <!--<div class="col-sm-3">-->

            <!--<input-->
              <!--id = "endData"-->
              <!--class="form-control"-->
              <!--[(ngModel)]="shippinglist.endData"-->
              <!--name="endData"-->
              <!--close-on-select="true"-->
              <!--date-only="true"-->
              <!--ng2-datetime-picker-->
              <!--readonly-->
            <!--/>-->

          <!--</div>-->
          <!--<label for="acceptState" class="col-sm-1 control-label">验收</label>-->
          <!--<div class="col-sm-3">-->
            <!--<select class="form-control" id="acceptState"  [(ngModel)]="shippinglist.acceptState" name="brandCountry" >-->
              <!--<option value="">全部</option>-->
              <!--<option value="00">未验收</option>-->
              <!--<option value="01">已验收</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <!--<div class="col-sm-12" style="margin-top: 5px">-->
        <!--<div class="col-sm-12">-->
          <!--<button type="submit" class="btn btn-primary" >搜索</button>-->
          <!--<button type="button" class="btn btn-default" (click)="reset()">重置</button>-->
          <!--&lt;!&ndash;<button type="button" class="btn btn-primary" (click)="deleteResource()">批量删除</button>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</seer-card>-->


<seer-card [title]="title">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label >门店系统</label>
        <select class="form-control" name="sel"
                (change)="typeChange(shippinglist.customerinfo)"
                [(ngModel)]="shippinglist.customerinfo">
          <option value="">全部</option>
          <option *ngFor="let x of shippinglist.customerdata"
                  [ngValue]="x.id">
            {{x.customerName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label >客户门店</label>
        <select class="form-control" name="123"
                [(ngModel)]="shippinglist.customerStoreId">
          <option value="">全部</option>
          <option *ngFor="let x of shippinglist.customerstoredata"
                  [ngValue]="x.id">
            {{x.storeName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>销售人员</label>
        <div class="input-group">
          <div class="input-group">
            <input type="text" class="form-control" readonly type="text" [(ngModel)]="shippinglist.staffName" id="staffOrgName" name="staffName"/>
            <input style="display: none" type="text" class="form-control" [(ngModel)]="shippinglist.staffId" name="staffId"/>
            <span class="input-group-btn">
              <button class="btn btn-default seer_link" (click)="loadOrgList()"><i class="fa fa-search" aria-hidden="true"></i></button>
             </span>

           </div>
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>开始时间</label>
        <div class="input-group">
          <input
            id = "startData"
            class="form-control"
            [(ngModel)]="shippinglist.startData"
            name="startData"
            close-on-select="true"
            date-only="true"
            ng2-datetime-picker
            readonly
          />
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>结束时间</label>
        <input
          id = "endData"
          class="form-control"
          [(ngModel)]="shippinglist.endData"
          name="endData"
          close-on-select="true"
          date-only="true"
          ng2-datetime-picker
          readonly
        />
      </div>
    </div>
  </div>

  <div class="row col-lg-12">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">搜索</button>
    <button type="button" class="btn btn-default" (click)="reset()">重置</button>
  </div>
</seer-card>




<div dynamic-component></div>
