<modal [animation]="animation" [backdrop]="backdrop">
  <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
  </modal-header>
  <modal-body>
    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label for="storeName" class="control-label">客户门店名称</label>
          <input type="text" class="form-control"  [(ngModel)]="customerStore.storeName" id="storeName" required>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label for="channelId" class="control-label">渠道/业态</label>
          <input type="text" class="form-control"  [(ngModel)]="customerStore.channelId" id="channelId" required>
        </div>
      </div>
    </div>


    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label for="storeLevel" class="control-label">门店级别</label>
          <select dict-select [key]="'STORE_LEVEL'" [topOption]="{dictValueId:'',dictValueName:'请选择'}" class="form-control"
                  [selected]="customerStore.storeLevel" [(ngModel)]="customerStore.storeLevel" id="storeLevel" name="storeLevel" required>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label for="storeAddress" class="control-label">门店地址</label>
          <input type="text" class="form-control"  [(ngModel)]="customerStore.storeAddress" id="storeAddress" required>
        </div>
      </div>
    </div>


    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label for="storeDcAddress" class="control-label">送货地址</label>
          <input type="text" class="form-control"  [(ngModel)]="customerStore.storeDcAddress" id="storeDcAddress">
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label for="staffOrgName" class="control-label">开拓人员</label>
          <!--<input type="text" class="form-control"  [(ngModel)]="customerStore.staffId" id="staffId">-->

          <div class="input-group">
          <input type="text" class="form-control" readonly type="text" [(ngModel)]="customerStore.staffName" id="staffOrgName" name="staffName"/>
          <input style="display: none" type="text" class="form-control" [(ngModel)]="customerStore.relatedStaffId" name="staffId"/>
          <span class="input-group-btn">
                <button class="btn btn-default" (click)="loadOrgList()"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
          </div>

        </div>
      </div>
    </div>


  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="onSave()">保存</button>
    <!--<button type="button" class="btn btn-primary" (click)="onEdit()">确认</button>-->
    <button type="button" class="btn btn-default" (click)="onDestroy()">取消</button>
  </modal-footer>
</modal>

<div dynamic-component></div>
