 <!-- <seer-card> 
  <seertable
    [data]="source"
    [titles]="titles"
    [translate]="dict"
    [hideAddButton] = "true"
    (notify)="onChange($event)"
  ></seertable>
 </seer-card>  -->


 <seer-collapse-card>
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    [filters]="filters"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>  
</seer-collapse-card>


<seer-collapse-card>
  <seer-table
    [data]="source"
    [titles]="titles"
    [translate]="dict"
    (notify)="onChange($event)"
  ></seer-table>
</seer-collapse-card>
