<button
  class="btn btn-info"
  type="button"
  *ngIf="!hideAddButton"
  (click)="create()"
  >
  新增
</button>
<div style="overflow: auto;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let title of titles" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}">
          {{ title.label }}
        </th>
        <th class="table-actions" *ngIf="!hideActions"><b class="seer_font">操作</b></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getData() ">
      <td *ngFor="let title of titles" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}" [style.padding]="item.editState ? '4px 0': null">
        <div *ngIf="item.editState === 'EDIT'">
          <input class="form-control" style="width: auto; max-width: 90%; padding-right: 4px; padding-left: 4px" type="text" [(ngModel)]="item.editData[title.key]">
        </div>
        <div *ngIf="title.type == 'link' && item.editState != 'EDIT'">
          <a (click)="openLink(item)">
            <span class="seer_font seer_a_font">{{item.data[title.key]}}</span>
          </a>
        </div>
        <div *ngIf="title.type == 'input_number' && item.editState != 'EDIT'">
          <input  type="number" class="form-control" [(ngModel)]="item.data[title.key]"/>
        </div>
        <div *ngIf="title.type != 'input_number' && title.type != 'link' && !displayOriginalData && item.editState != 'EDIT'">
          <span class="seer_font">{{renderValue(title,item.data[title.key])}}</span>
        </div>
        <div *ngIf="title.type != 'input_number' && title.type != 'link' && displayOriginalData && item.editState != 'EDIT'">
          <span class="seer_font">{{item.data[title.key]}}</span>
        </div>
      </td>
      <td class="table-actions" *ngIf="!hideActions">
        <div *ngIf="item.actions">
          <i
            *ngFor="let action of item.actions"
            class="table-action {{ action.icon }}"
            (click)="handleActionsClick({action: action, item: item})"
            popover="{{ action.name }}"
            triggers="mouseenter:mouseleave"
            ></i>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [attr.colspan]="titles.length + 2">
          <seer-pagination
            [rowCount]="getRowCount()"
            [rowsOnPageSet]="rowsOnPageSet"
            [rowsOnPage]="rowsOnPage"
            [pageNumber]="pageNumber"
            (notify)="onPageChange($event)"
          ></seer-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

