<button
  class="btn btn-info"
  type="button"
  *ngIf="!hideAddButton"
  (click)="create()"
  >
  新增
</button>
<div style="overflow: auto;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngIf="showSeq" class="table-seq">序号</th>
        <th *ngFor="let title of titles" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}">
          {{ title.label }}
        </th>
        <th class="table-actions" *ngIf="!hideActions"><b class="seer_font">操作</b></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getData(); let i = index ">
      <td *ngIf="showSeq" class="table-seq">{{ i + 1 }}</td>
      <td *ngFor="let title of titles" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}" >
          <!-- [style.padding]="item.editState ? '4px 0': null" -->
        <input
          *ngIf="(item.editState === 'EDIT' || item.editState === 'CREATE')&&(title.key != 'endTime' && title.key != 'startTime' && title.key !='contRelation')"
          class="form-control"
          style="max-width: 90%; padding-right: 4px; padding-left: 4px"
          type="text"
          [(ngModel)]="item.editData[title.key]"
          />
            <!-- <input
            *ngIf="item.editState === 'EDIT' || item.editState === 'CREATE'&&(title.key=='endTime' || title.key=='startTime' || title.key=='endTime');else elseBlock"
            class="form-control"
            style="width: auto; max-width: 90%; padding-right: 4px; padding-left: 4px"
            type="text"
            [(ngModel)]="item.editData[title.key]"
            /> -->
            <!-- [(data)]="item.editData[title.key]" -->
            <!-- title.key=='college' || title.key=='eduMajor' || title.key=='eduLevel'||title.key=='contRelation' || title.key=='contName' || title.key=='jobInfo'||title.key=='contPhone' || title.key=='companyName' || title.key=='jobType'|| title.key=='proveName' || title.key=='proveTel' -->
        <seer-datepicker
        *ngIf="(item.editState === 'EDIT' || item.editState === 'CREATE')&&(title.key=='endTime' || title.key=='startTime')"
         [dateFormatingRules]="dateFormatingRules || 'yyyy-MM-dd'"
        [(date)]="item.editData[title.key]"
        ></seer-datepicker>
        <a
          *ngIf="title.type == 'link' && item.editState != 'EDIT' && item.editState != 'CREATE'"
          (click)="openLink(item)"
          class="seer_font seer_a_font"
          >
          {{item.data[title.key]}}
        </a>
        <select type="email" class="form-control" name="maritaStatus" id="maritaStatus"
          *ngIf="(item.editState === 'EDIT' || item.editState === 'CREATE')&&(title.key=='contRelation')"
          [(ngModel)]="item.editData[title.key]"
          style="width:200px"
          [style.margin]="title.textAlign ? 'auto': null"
          dict-select required
          [key]="'CONT_RELATION'"
          [topOption]="{itemId:'',itemName:'请选择'}"
          [selected]="item.editData[title.key]" >
        </select>
        <select type="email" class="form-control" name="maritaStatus" id="maritaStatus"
          *ngIf="title.type != 'input_number' && title.type != 'link' && !displayOriginalData && item.editState != 'EDIT' && item.editState != 'CREATE' &&(title.key=='contRelation')"
          [(ngModel)]="item.editData[title.key]"
          style="width:200px"
          [style.margin]="title.textAlign ? 'auto': null"
          dict-select disabled
          [key]="'CONT_RELATION'"
          [topOption]="{itemId:'',itemName:'请选择'}"
          [selected]="item.editData[title.key]" >
        </select>
        <input
          *ngIf="title.type == 'input_number' && item.editState != 'EDIT' && item.editState != 'CREATE'" type="number"
          class="form-control"
          [(ngModel)]="item.data[title.key]"
          />

        <span *ngIf="title.type != 'input_number' && title.type != 'link' && !displayOriginalData && item.editState != 'EDIT' && item.editState != 'CREATE' && title.key !='contRelation'" class="seer_font">{{renderValue(title,item.data[title.key])||'--'}}</span>

        <span *ngIf="title.type != 'input_number' && title.type != 'link' && displayOriginalData && item.editState != 'EDIT' && item.editState != 'CREATE' && title.key !='contRelation'" class="seer_font">{{item.data[title.key]}}</span>

      </td>
      <td class="table-actions" *ngIf="!hideActions">
        <ng-container *ngIf="item.actions">
            <i
            class="table-action {{ action.icon }}"
            *ngFor="let action of item.actions"
            (click)="handleActionsClick({action: action, item: item})"
            popover="{{ action.name }}"

            ></i>

        </ng-container>
      </td>
    </tr>
    </tbody>
    <tfoot *ngIf="!hidePagination">
      <tr>
        <td [attr.colspan]="titles.length + 2">
          <seer-pagination
            [rowCount]="getRowCount()"
            [rowsOnPageSet]="rowsOnPageSet"
            [rowsOnPage]="rowsOnPage"
            [pageNumber]="pageNumber"
            (notify)="onPageChange($event)"
          ></seer-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

