<seer-content-top [fixedTop]=false>
  <seer-filter
    [hasGlobalFilter]=hasGlobalFilter
    [filters]=filters
    (onInit)=handleFiltersChanged($event)
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>
</seer-content-top>
<seer-collapse-card>
  <seer-table
    [data]="ads"
    [titles]="titles"
    [translate]="dict"
    [pageNum]="pageInfo.pageNum"
    [pageSize]="pageInfo.pageSize"
    [total]="pageInfo.total"
    [paginationRules]="0"
    [showSeq]="true"
    [hideExport]="true"
    [hidePrint]="true"
    [hideRemoveAll]="true"
    [hideColumns]="true"
    [hideCheckbox]="true"
    (notify)="onChange($event)"
    (changePage)="handleChangePage($event)"
  ></seer-table>
</seer-collapse-card>
