.control-label{text-align: right;}
#politicalStatus{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background: #ffffff;
    color: #000000;
    cursor: auto;
}