<div
  class="modal fade alert_modal"
  bsModal
  #childModal="bs-modal"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-lm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <span class="pull-left" [innerHTML]="content"></span>
          </div>
        </div>
        <div class="row spbrow">
          <div class="col-xs-12">
            <button *ngIf="type=='alert'" type="button" class="btn btn-info pull-right"  (click)="cancel()">
              关闭
            </button>
            <button *ngIf="type=='confirm'" type="button" class="btn btn-default pull-right"  (click)="cancel()">
              关闭
            </button>
            <button *ngIf="type=='confirm'" type="button" class="btn btn-info pull-right" style="margin-right: 5px;" (click)="submit()">
              确定
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




