<div>
  <div class="row btnGroup">
    <div class="col-sm-6 btnGroup__left">
      <button class="btn btn-outline-dark btnGroup__item" *ngIf="!hidePrint" type="button" (click)="importExcel()"><i class="icon-import"></i>导入</button>
        <div class="btn-group btnGroup__item" *ngIf="!hideExport">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" id="js-export-btn" data-toggle="dropdown" aria-expanded="false" >
            <i class="icon-export"></i>导出<span class="caret"></span>
          </button>
          <ul class="dropdown-menu"  aria-labelledby="js-export-btn" role="menu">
            <li class="dropdown-item export">PDF</li>
            <li class="dropdown-item export" (click)="exportExcel()">Excel</li>
            <li class="dropdown-item export">Another Excel</li>
            <li class="dropdown-item export" (click)="exportTempExcel()">导出模板Excel</li>
          </ul>
        </div>
      <button class="btn btn-primary btnGroup__item" *ngIf="!hidePrint" disabled type="button"><i class="icon-print"></i>打印</button>
    </div>
    <div class="col-sm-6 btnGroup__right">
      <button
        class="btn btn-info pull-right btnGroup__item"
        type="button"
        *ngIf="!hideAddButton"
        (click)="create()"
        >
        新增
      </button>
      <button
        class="btn btn-danger pull-right btnGroup__item"
        type="button"
        *ngIf="!hideRemoveAll"
        [disabled]="!renderSelectedNum()"
        (click)="deleteMultiple()"
        >
        批量删除 {{renderSelectedNum()}}
      </button>
      <div class="pull-right btnGroup__item" *ngIf="!hideColumns">
        <ss-multiselect-dropdown
          [options]="multiColumnArray"
          [(ngModel)]="multiColumnOptions"
          (ngModelChange)="onChangeColumn($event)"
          [texts]="multiSelectTexts"
          [settings]="multiSelectSettings"
          >
        </ss-multiselect-dropdown>
      </div>
    </div>
  </div>
</div>
<div style="overflow: auto;">
    <table
      class="table table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <input
              type="checkbox"
              [(ngModel)]="selectedAll"
              (change)="selectAll()"/>
          </th>
          <th *ngFor="let title of filterShownTitles()" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}">
            {{ title.label }}
          </th>
          <th class="table-actions" *ngIf="!hideActions"><b class="seer_font">操作</b></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of getData() ">
        <td class="table-checkbox"><input type="checkbox" [(ngModel)]="item.selected" (change)="selectOne(item)"/></td>
        <td *ngFor="let title of filterShownTitles()" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}">
          <div *ngIf="title.type=='link'">
            <a (click)="openLink(item)">
              <span class="seer_font seer_a_font">{{item[title.key]}}</span>
            </a>
          </div>
          <div *ngIf="title.type=='input_number'">
            <input  type="number" class="form-control" [(ngModel)]="item[title.key]"/>
          </div>
          <div *ngIf="title.type!='input_number' && title.type!='link' && !displayOriginalData">
            <span class="seer_font">{{renderValue(title,item[title.key])}}</span>
          </div>
          <div *ngIf="title.type!='input_number' && title.type!='link' && displayOriginalData">
            <span class="seer_font">{{item[title.key]}}</span>
          </div>
        </td>
        <td class="table-actions" *ngIf="!hideActions">
          <span *ngIf="item.actions">
            <i
              *ngFor="let action of item.actions"
              class="table-action {{ action.icon }}"
              (click)="handleActionsClick({action: action, item: item})"
              popover="{{ action.name }}"
              triggers="mouseenter:mouseleave"
              ></i>
          </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td  [attr.colspan]="titles.length + 2">
              每页显示条数
              <select [value]="paginationRules ? rowsOnPage : pageSize" (change)="setPageSize($event)">
                <option *ngFor="let rows of rowsOnPageSet" [value]="rows">{{rows}}</option>
              </select>
              共{{ total }}条
              <ul class="pagination pull-right float-sm-right" *ngIf="pageLength > 1">
                <li class="page-item" [class.disabled]="pageNum <= 1" (click)="pageNum <= 1 ? null : setPageNum(pageNum-1)">
                  <a class="page-link">上一页</a>
                </li>
                <li class="page-item" *ngIf="pageNum > 3" (click)="setPageNum(1)">
                  <a class="page-link">1</a>
                </li>
                <li class="page-item" *ngIf="pageNum > 4">
                  <a class="page-link">...</a>
                </li>
                <li class="page-item" *ngIf="pageNum > 2" (click)="setPageNum(pageNum - 2)">
                  <a class="page-link">{{pageNum-2}}</a>
                </li>
                <li class="page-item" *ngIf="pageNum > 1" (click)="setPageNum(pageNum - 1)">
                  <a class="page-link">{{pageNum-1}}</a>
                </li>
                <li class="page-item active">
                  <a class="page-link">{{pageNum}}</a>
                </li>
                <li class="page-item" *ngIf="pageNum <= pageLength - 1" (click)="setPageNum(pageNum + 1)">
                    <a class="page-link">{{pageNum+1}}</a>
                </li>
                <li class="page-item" *ngIf="pageNum <= pageLength - 2" (click)="setPageNum(pageNum + 2)">
                    <a class="page-link">{{pageNum+2}}</a>
                </li>
                <li class="page-item" *ngIf="pageNum <= pageLength - 4">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item" *ngIf="pageNum <= pageLength - 3"  (click)="setPageNum(pageLength)">
                    <a class="page-link">{{pageLength}}</a>
                </li>

                <li class="page-item" [class.disabled]="pageNum >= pageLength" (click)="pageNum >= pageLength ? null : setPageNum(pageNum+1)">
                  <a class="page-link">下一页</a>
                </li>
              </ul>
              共{{ pageLength }}页
          </td>
        </tr>
      </tfoot>
    </table>
</div>

