<div class="row btnGroup">
  <div class="col-sm-6 btnGroup__left">
    <button class="btn btn-default btnGroup__item" *ngIf="!hidePrint" type="button" (click)="importExcel()">导入</button>
    <button class="btn btn-default btnGroup__item" *ngIf="!hidePrint" disabled type="button">打印</button>
    <div class="btn-group btnGroup__item" *ngIf="!hideExport">
      <button type="button" class="btn btn-default dropdown-toggle" id="js-export-btn" data-toggle="dropdown" aria-expanded="false" >
        导出<span class="caret"></span>
      </button>
      <ul class="dropdown-menu"  aria-labelledby="js-export-btn" role="menu">
        <li class="dropdown-item export">PDF</li>
        <li class="dropdown-item export" (click)="exportExcel()">Excel</li>
        <li class="dropdown-item export">Another Excel</li>
        <li class="dropdown-item export" (click)="exportTempExcel()">导出模板Excel</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 btnGroup__right">
    <button class="btn btn-info pull-right btnGroup__item" *ngIf="!hideAddButton" type="button" (click)="add()">新增</button>
    <button class="btn btn-danger pull-right btnGroup__item"
            *ngIf="!hideRemoveAll"
            type="button"
            [disabled]="!renderSelectedNum()"
            (click)="removeAll()"
    >批量删除 {{renderSelectedNum()}}
    </button>
    <div class="pull-right btnGroup__item" *ngIf="!hideColumns">
      <ss-multiselect-dropdown
        [options]="multiColumnArray"
        [(ngModel)]="multiColumnOptions"
        (ngModelChange)="onChangeColumn($event)"
        [texts]="multiSelectTexts"
        class="pull-right"
      ></ss-multiselect-dropdown>
    </div>
  </div>
</div>
<div class="row">
    <table
      class="table table-hover table-bordered table-striped"
      [mfData]="getData()"
      #mf="mfDataTable" [(mfSortBy)]="sortBy"
      [mfRowsOnPage]="rowsOnPage"
      >
      <thead>
      <tr class="header_border">
        <th>
          <input
            type="checkbox"
            [(ngModel)]="selectedAll"
            (click)="selectAll(selectedAll)"/>
        </th>
        <th *ngFor="let title of titles" class="text-center">
          <mfDefaultSorter by="{{title.key}}"><b class="seer_font">{{title.label}}</b></mfDefaultSorter>
        </th>
        <th class="text-center" *ngIf="!hideActions"><b class="seer_font">操作</b></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data ">
        <td><input type="checkbox" [(ngModel)]="item.selected" (change)="selectOne(item)"/></td>
        <td *ngFor="let title of titles" class="text-center">

          <div *ngIf="title.type=='link'">
            <a (click)="openLink(item)">
              <span class="seer_font seer_a_font">{{item[title.key]}}</span>
            </a>
          </div>
          <div *ngIf="title.type=='input_number'">
            <input  type="number" class="form-control" [(ngModel)]="item[title.key]"/>
          </div>
          <div *ngIf="title.type!='input_number'&&title.type!='link'&&displayOriginalData">
            <span class="seer_font">{{renderValue(title,item[title.key])}}</span>
          </div>
          <div *ngIf="title.type!='input_number'&&title.type!='link'&&!displayOriginalData">
            <span class="seer_font">{{item[title.key]}}</span>
          </div>
        </td>
        <td class="text-center table-actions" *ngIf="!hideActions">
          <span *ngIf="item.actions">
            <button
              type="button"
              *ngFor="let action of item.actions"
              class="{{ action.className }}"
              (click)="handleActionsClick({action: action, item: item})"
              ><i *ngIf="action.icon" class="{{ action.icon }}" style="margin-right: 4px"></i>{{ action.name }}</button>
          </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td [attr.colspan]="titles.length + 2">
          <div>
            <mfBootstrapPaginator [rowsOnPageSet]="[10,15,30]"></mfBootstrapPaginator>
          </div>

        </td>
      </tr>
      </tfoot>
    </table>
</div>
<seeralert
  [type]="'confirm'"
  [content]="alert_content"
  [action]="action"
  (notify)="onSelectAlert($event)"
></seeralert>

