<div>
  <div class="row btnGroup">
    <div class="col-sm-6 btnGroup__left">
      <button class="btn btn-outline-dark btnGroup__item" *ngIf="!hidePrint" type="button" (click)="importExcel()"><i class="icon-import"></i>导入</button>
        <div class="btn-group btnGroup__item" *ngIf="!hideExport">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" id="js-export-btn" data-toggle="dropdown" aria-expanded="false" >
            <i class="icon-export"></i>导出<span class="caret"></span>
          </button>
          <ul class="dropdown-menu"  aria-labelledby="js-export-btn" role="menu">
            <li class="dropdown-item export">PDF</li>
            <li class="dropdown-item export" (click)="exportExcel()">Excel</li>
            <li class="dropdown-item export">Another Excel</li>
            <li class="dropdown-item export" (click)="exportTempExcel()">导出模板Excel</li>
          </ul>
        </div>
      <button class="btn btn-primary btnGroup__item" *ngIf="!hidePrint" disabled type="button"><i class="icon-print"></i>打印</button>
    </div>
    <div class="col-sm-6 btnGroup__right">
      <button
        class="btn btn-info pull-right btnGroup__item"
        type="button"
        *ngIf="!hideAddButton"
        (click)="create()"
        >
        新增
      </button>
      <button
        class="btn btn-danger pull-right btnGroup__item"
        type="button"
        *ngIf="!hideRemoveAll"
        [disabled]="!renderSelectedNum()"
        (click)="deleteMultiple()"
        >
        批量删除 {{renderSelectedNum()}}
      </button>

      <div class="pull-right btnGroup__item" *ngIf="!hideColumns">
        <ss-multiselect-dropdown
          [options]="multiColumnOptions"
          [(ngModel)]="multiColumnArray"
          (ngModelChange)="onChangeColumn($event)"
          [texts]="multiSelectTexts"
          [settings]="multiSelectSettings"
          >
        </ss-multiselect-dropdown>
      </div>
      
      <button
        class="pull-right btnGroup__item {{action.className}}"
        type="button"
        *ngFor="let action of customActions"
        (click)="onCustomAction(action)"
        >
        {{ action.name }}
      </button>
      
    </div>
  </div>
</div>
<div style="overflow: auto;">
    <table
      class="table table-hover">
      <thead>
        <tr>
          <th *ngIf="!hideCheckbox" class="table-checkbox">
            <input

              type="checkbox"
              [(ngModel)]="selectedAll"
              (change)="selectAll()"/>
            <seer-cool-checkbox></seer-cool-checkbox>
          </th>
          <th *ngIf="showSeq" class="table-seq">序号</th>
          <th *ngFor="let title of filterShownTitles()" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}">
            {{ title.label }}
          </th>
          <th class="table-actions" *ngIf="!hideActions">操作</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of getData(); let i = index">
        <td *ngIf="!hideCheckbox" class="table-checkbox"><input type="checkbox" [(ngModel)]="item.selected" (change)="selectOne(item)"/></td>
        <td *ngIf="showSeq" class="table-seq">{{ i + 1 }}</td>
        <td *ngFor="let title of filterShownTitles()" class="{{ title.textAlign ? 't-a-' + title.textAlign : 't-a-left' }}">

          <div *ngIf="title.type=='link'">
            <a (click)="openLink(item)">
              <span class="seer_font seer_a_font">{{item[title.key]}}</span>
            </a>
          </div>
          <div *ngIf="title.type=='input_number'">
            <input  type="number" class="form-control" [(ngModel)]="item[title.key]"/>
          </div>
          <div *ngIf="title.type!='input_number' && title.type!='link' && title.type != 'html' && !displayOriginalData">
            <span class="seer_font">{{renderValue(title,item[title.key])}}</span>
          </div>
          <div *ngIf="title.type!='input_number' && title.type!='link' && title.type != 'html' && displayOriginalData">
            <span class="seer_font">{{item[title.key]}}</span>
          </div>
          <div *ngIf="title.type === 'html'" [innerHTML]="item[title.key]"></div>
        </td>
        <td class="table-actions" *ngIf="!hideActions">
          <div *ngIf="item.actions">
            <i
              *ngFor="let action of item.actions"
              class="table-action {{ action.icon }}"
              (click)="handleActionsClick({action: action, item: item})"
              popover="{{ action.name }}"
              triggers="mouseenter:mouseleave"
              ></i>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="!hidePagination">
        <tr>
          <td [attr.colspan]="titles.length + 2">
            <seer-pagination
              [rowCount]="getRowCount()"
              [rowsOnPageSet]="rowsOnPageSet"
              [rowsOnPage]="paginationRules ? rowsOnPage : pageSize"
              [pageNumber]="pageNum"
              (notify)="onPageChange($event)"
            ></seer-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
</div>

