
:host /deep/ {
  .table_nombre {
    position:absolute;
    background-color: #80b9e9;
    padding:10px;
    color:white;
  }
  .header_border {
    border-bottom: solid;
    border-color: #00abff;
  }

  .seer_font{
    font-size: 11px;
    font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
  }


  .seer_a_font{
    color: #00abff;
    text-decoration:underline;
    cursor:pointer;
  }

  .table-actions {
    button {
      margin-right: 4px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  th,
  td {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .table-checkbox {
    width: 48px;
  }
  .export{
    cursor:pointer;
  }
  .btnGroup {
    margin-bottom: 8px;
  }
  .btnGroup__left {
    .btnGroup__item {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .btnGroup__right {
    .btnGroup__item {
      margin-left: 5px;
      &:last-child {
        margin-left: 0;
      }
    }
  }
}
