<seer-content-top [fixedTop]=false>
  <seer-filter
    [hasGlobalFilter]=hasGlobalFilter
    [filters]=filters
    (onInit)=handleFiltersChanged($event)
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>
</seer-content-top>
<seer-collapse-card>
<seer-table
  [data]=users
  [titles]=titles
  [paginationRules]=0
  [pageSize]=params.pageSize
  [pageNum]=params.pageNum
  [total]=total
  (notify)=handleNotify($event)
  (changePage)=handleChangePage($event)
  [hideRemoveAll]=true
></seer-table>
</seer-collapse-card>