<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
</seer-content-top>
<div class="widgets info">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card cardTitle="活动基本信息" cardClass="with-scroll" >
        <div class="row">
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
            <div class="row">
              <label  class="col-sm-4 col-md-2 control-label">活动主题</label>
              <div class="col-sm-8 col-md-10">
                <label class="form-control">{{baseInfoDTO.activityName}}</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
            <div class="row">
              <label  class="col-sm-4 col-md-2 control-label">活动编号</label>
              <div class="col-sm-8 col-md-10">
                <label class="form-control">{{baseInfoDTO.activityCode}}</label>
              </div>
            </div>
          </div>
          <!--<div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6"  *ngIf="isFieldShow">
            <div class="row">
              <label class="col-sm-4 col-md-2 control-label">关联活动</label>
              <div class="col-sm-8 col-md-10">
                <label class="form-control">{{baseInfoDTO.parentId}}</label>
              </div>
            </div>
          </div>-->
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
            <div class="row">
              <label class="col-sm-4 col-md-2 control-label">触发方式</label>
              <div class="col-sm-8 col-md-10" >
                <label class="form-control" dict-trans [key]="'TRIG_MODE'" [value]="baseInfoDTO.trigMode"></label>
              </div>
            </div>
          </div>
          <ng-container *ngIf="!isInvestMode">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" >
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">标的条件</label>
                <div class="col-sm-8 col-md-10" >
                  <label class="form-control" dict-trans [key]="'PRODUCT_CATEGORY'" [value]="baseInfoDTO.productCategory"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" >
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">投资条件</label>
                <div class="col-sm-8 col-md-10" >
                  <label class="form-control" dict-trans [key]="'INVEST_LIMIT'" [value]="baseInfoDTO.investLimit"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xlg-6" >
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">投资金额</label>
                <div class="col-sm-8 col-md-10 group">
                  <div class="col-sm-5">
                    <label class="form-control number addUnit">{{baseInfoDTO.investMinMoney}}</label>
                    <span class="unit">元</span>
                  </div>
                  <label class="col-sm-2 interval">至</label>
                  <div class="col-sm-5" style="position: relative">
                    <label class="form-control number addUnit">{{baseInfoDTO.investMaxMoney}}</label>
                    <span class="unit">元</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6"  >
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">投资次数</label>
                <div class="col-sm-8 col-md-10 group">
                  <div class="col-sm-5">
                    <label class="form-control number addUnit">{{baseInfoDTO.investMinNum}}</label>
                    <span class="unit">次</span>
                  </div>
                  <label class="col-sm-2 interval">至</label>
                  <div class="col-sm-5">
                    <label class="form-control number addUnit">{{baseInfoDTO.investMaxNum}}</label>
                    <span class="unit">次</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6"  *ngIf="isFieldShow">
            <div class="row">
              <label  class="col-sm-4 col-md-2 control-label">活动时间</label>
              <div class="col-sm-8 col-md-10 group" >
                <div class="col-sm-5">
                  <label class="form-control">{{baseInfoDTO.beginTime| date:'yyyy-MM-dd'}}</label>
                </div>
                <label class="col-sm-2 interval">至</label>
                <div class="col-sm-5">
                  <label class="form-control">{{baseInfoDTO.endTime| date:'yyyy-MM-dd'}}</label>
                </div>
              </div>

            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6"  *ngIf="isFieldShow">
            <div class="row">
              <label class="col-sm-4 col-md-2 control-label">参加频率</label>
              <div class="col-sm-8 col-md-10 group" >
                <div class="col-sm-5">
                  <label class="form-control number addUnit">{{baseInfoDTO.participateNum1}}</label>
                  <span class="unit">次</span>
                </div>
                <label class="col-sm-2 interval">/</label>
                <div class="col-sm-5">
                  <label class="form-control number addUnit">{{baseInfoDTO.participateNum2}}</label>
                  <span class="unit">天</span>
                </div>

              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
            <div class="row">
              <label  class="col-sm-4 col-md-2 control-label">结算方式</label>
              <div class="col-sm-8 col-md-10" >
                <label class="form-control" dict-trans [key]="'ISSUE_TIME'" [value]="baseInfoDTO.issueTime"></label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12"  *ngIf="isFieldShow">
            <div class="row">
              <label class="col-sm-4 col-md-2 col-lg-1 control-label">页面链接</label>
              <div class="col-sm-8 col-md-10 col-lg-11">
                <label class="form-control">{{baseInfoDTO.activityPageUrl}}</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="row">
              <label class="col-sm-4 col-md-2 col-lg-1 control-label">活动备注</label>
              <div class="col-sm-8 col-md-10 col-lg-11">
                <label class="form-control">{{baseInfoDTO.activityRemark}}</label>
              </div>
            </div>
          </div>
        </div>
      </seer-collapse-card>
    </div>
    <div class="col-md-12">
      <seer-collapse-card cardTitle="活动奖励信息" cardClass="with-scroll" >
        <table class="table table-hover" >
          <thead>
          <th>奖品名称</th>
          <th class="t-a-center">类型</th>
          <th class="t-a-right">已抽数量</th>
          <th class="t-a-right">奖品数量</th>
          <th class="t-a-right">发放概率(%)</th>
          <th class="t-a-center">操作</th>
          </thead>
          <tbody>
          <tr *ngFor="let redEnvelope of awardsDTO.redEnvelopesDTOs;let i=index">
            <td>{{redEnvelope.reName}}</td>
            <td class="t-a-center">{{redEnvelope.awardTitle}}</td>
            <td class="t-a-right">{{redEnvelope.awardSentSum}}</td>
            <td class="t-a-right">{{redEnvelope.awardSum}}</td>
            <td class="t-a-right">{{redEnvelope.awardPersents}}</td>
            <td class="t-a-center">
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('redEnvelopesDTOs',award1,i,true)" *ngIf="redEnvelope.awardTitle=='现金红包'"></i>
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('redEnvelopesDTOs',award2,i,true)" *ngIf="redEnvelope.awardTitle=='返现红包'"></i>
            </td>
          </tr>
          <tr *ngFor="let rateCoupon of awardsDTO.rateCouponsDTOs;let i=index">
            <td>{{rateCoupon.rcName}}</td>
            <td class="t-a-center">{{rateCoupon.awardTitle}}</td>
            <td class="t-a-right">{{rateCoupon.awardSentSum}}</td>
            <td class="t-a-right">{{rateCoupon.awardSum}}</td>
            <td class="t-a-right">{{rateCoupon.awardPersents}}</td>
            <td class="t-a-center">
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('rateCouponsDTOs',award3,i,true)"></i>
            </td>
          </tr>
          <tr *ngFor="let physicalReward of awardsDTO.physicalRewardsDTOs;let i=index">
            <td>{{physicalReward.prName}}</td>
            <td class="t-a-center">{{physicalReward.awardTitle}}</td>
            <td class="t-a-right">{{physicalReward.awardSentSum}}</td>
            <td class="t-a-right">{{physicalReward.awardSum}}</td>
            <td class="t-a-right">{{physicalReward.awardPersents}}</td>
            <td class="t-a-center">
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('physicalRewardsDTOs',award4,i,true)"></i>
            </td>
          </tr>
          <tr *ngFor="let raffleTicket of awardsDTO.raffleTicketsDTOs;let i=index">
            <td>{{raffleTicket.rtName}}</td>
            <td class="t-a-center">{{raffleTicket.awardTitle}}</td>
            <td class="t-a-right">{{raffleTicket.awardSentSum}}</td>
            <td class="t-a-right">{{raffleTicket.awardSum}}</td>
            <td class="t-a-right">{{raffleTicket.awardPersents}}</td>
            <td class="t-a-center">
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('raffleTicketsDTOs',award5,i,true)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </seer-collapse-card>
    </div>
    <div class="col-md-12">
      <seer-collapse-card cardTitle="适用用户" cardClass="with-scroll" >
        <div class="row">
          <div class="form-group col-sm-12 col-md-12" *ngIf="baseInfoDTO.activityStatus==1">
            <div class="row  col-lg-6" >
              <label class="col-sm-4 col-lg-2 control-label">参与用户</label>
              <div class="col-sm-8 col-lg-10">
                <label class="form-control" dict-trans [key]="'ACTIVITY_SCOPE'" [value]="baseInfoDTO.activityScope"></label>
              </div>
            </div>
            <div class="form-group col-sm-12" *ngIf="baseInfoDTO.activityScope=='3'">
              <seer-table
                [data]="memberScopes"
                [titles]="membersTitles"
                [pageNum]="scopesPageInfo.pageNum"
                [pageSize]="scopesPageInfo.pageSize"
                [total]="scopesPageInfo.total"
                [paginationRules]="0"
                [hideExport]="true"
                [hidePrint]="true"
                [hideRemoveAll]="true"
                [hideColumns]="true"
                [hideAddButton]="true"
                [hideActions]="true"
                [hideCheckbox]="true"
                (changePage)="membersPageChange($event)"
              ></seer-table>
            </div>
          </div>
          <div class="form-group col-sm-12" *ngIf="baseInfoDTO.activityStatus!==1">
            <div class="row  col-lg-6" >
              <label class="col-sm-4 col-lg-2 control-label">参与用户</label>
              <div class="col-sm-8 col-lg-10">
                <label class="form-control" dict-trans [key]="'ACTIVITY_SCOPE'" [value]="baseInfoDTO.activityScope"></label>
              </div>
            </div>
            <seer-table *ngIf="baseInfoDTO.activityScope!=1 && baseInfoDTO.activityScope!=2"
              [data]="records"
              [titles]="recordsTitles"
              [pageNum]="recordsPageInfo.pageNum"
              [pageSize]="recordsPageInfo.pageSize"
              [total]="recordsPageInfo.total"
              [paginationRules]="0"
              [hideExport]="true"
              [hidePrint]="true"
              [hideRemoveAll]="true"
              [hideColumns]="true"
              [hideAddButton]="true"
              [hideCheckbox]="true"
              [hideActions]="true"
              (notify)="onChange($event)"
              (changePage)="recordsPageChange($event)"

            ></seer-table>
          </div>
        </div>
      </seer-collapse-card>
    </div>
  </div>
</div>

<ng-template #award1 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      现金红包
    </h4>
  </div>
  <div class="modal-body">
    <div class="row info">
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control">{{awardCurr.reName}}</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">红包金额</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.reAmount}}元</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardPersents}}%</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardSum}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" >
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award2 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      返现红包
    </h4>
  </div>
  <div class="modal-body">
    <div class="row info">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control">{{awardCurr.reName}}</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">红包金额</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.reAmount}}元</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label  class="col-sm-4  control-label">适用产品</label>
          <div class="col-sm-8" >
            <label class="form-control" dict-trans [key]="'PRODUCT_CATEGORY'" [value]="awardCurr.productCategory"></label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label  class="col-sm-4  control-label">激活方式</label>
          <div class="col-sm-8" >
            <label class="form-control" dict-trans [key]="'USE_LIMIT'" [value]="awardCurr.useLimit"></label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">启用限额</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.useMinAmount}}元</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">有效期限</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.expiryDate}}天</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label  class="col-sm-4  control-label">叠加限制</label>
          <div class="col-sm-8" >
            <label class="form-control" dict-trans [key]="'IS_STACKING'" [value]="awardCurr.isStacking"></label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4 control-label">获奖概率</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.awardPersents}}%</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardSum}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award3 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      加息券
    </h4>
  </div>
  <div class="modal-body">
    <div class="row info">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control">{{awardCurr.rcName}}</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">加息额度</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.rcAmount}}%</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">加息期限</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.rcLength}}天</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label  class="col-sm-4  control-label">适用产品</label>
          <div class="col-sm-8" >
            <label class="form-control" dict-trans [key]="'PRODUCT_CATEGORY'" [value]="awardCurr.productCategory"></label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label class="col-sm-4  control-label">激活方式</label>
          <div class="col-sm-8" >
            <label class="form-control" dict-trans [key]="'USE_LIMIT'" [value]="awardCurr.useLimit"></label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">启用限额</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.useMinAmount}}元</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">有效期限</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.expiryDate}}天</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label  class="col-sm-4  control-label">叠加限制</label>
          <div class="col-sm-8" >
            <label class="form-control" dict-trans [key]="'IS_STACKING'" [value]="awardCurr.isStacking"></label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4 control-label">获奖概率</label>
          <div class="col-sm-8">
            <label class="form-control number">{{awardCurr.awardPersents}}%</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardSum}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award4 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      实物礼品
    </h4>
  </div>
  <div class="modal-body">
    <div class="row info">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control">{{awardCurr.prName}}</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardPersents}}%</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品单价</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.prPrice}}元</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardSum}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award5 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      抽奖券
    </h4>
  </div>
  <div class="modal-body">
    <div class="row info">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control">{{awardCurr.rtName}}</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">关联活动</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control">{{awardCurr.activityId}}</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">单券次数</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.perNumber}}次</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardPersents}}%</label>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖券总数</label>
          <div class="col-sm-8 col-md-10">
            <label class="form-control number">{{awardCurr.awardSum}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
