<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
</seer-content-top>
<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card cardTitle="活动基本信息" cardClass="with-scroll" >
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">活动主题</label>
                <div class="col-sm-8 col-md-10">
                  <input type="text" class="form-control"  [(ngModel)]="baseInfoDTO.activityName" disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label for="activityCode" class="col-sm-4 col-md-2 control-label">活动编号</label>
                <div class="col-sm-8 col-md-10">
                  <input type="text" class="form-control" id="activityCode" [(ngModel)]="baseInfoDTO.activityCode" disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label for="parentId" class="col-sm-4 col-md-2 control-label">关联活动</label>
                <div class="col-sm-8 col-md-10">
                  <input type="text" class="form-control" id="parentId" [(ngModel)]="baseInfoDTO.parentId" disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label for="trigMode" class="col-sm-4 col-md-2 control-label">触发方式</label>
                <div class="col-sm-8 col-md-10" >
                  <select class="form-control" id="trigMode"  [(ngModel)]="baseInfoDTO.trigMode" disabled
                          dict-select
                          [key]="'TRIG_MODE'"
                          [selected]="baseInfoDTO.trigMode"
                          (change)="chooseTrigMode($event.target.value)"
                          [topOption]="{itemid:'',itemName:'请选择'}" >
                  </select >
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" [hidden]="isInvestMode">
              <div class="row">
                <label for="productCategory" class="col-sm-4 col-md-2 control-label">标的条件</label>
                <div class="col-sm-8 col-md-10" >
                  <select class="form-control" id="productCategory" [(ngModel)]="baseInfoDTO.productCategory" disabled
                          dict-select
                          [key]="'PRODUCT_CATEGORY'"
                          [selected]="baseInfoDTO.productCategory"
                          [topOption]="{itemid:'',itemName:'请选择'}" >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" [hidden]="isInvestMode">
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">投资条件</label>
                <div class="col-sm-8 col-md-10" >
                  <select class="form-control"  [(ngModel)]="baseInfoDTO.investLimit" disabled
                          dict-select
                          [key]="'INVEST_LIMIT'"
                          [selected]="baseInfoDTO.investLimit"
                          [topOption]="{itemid:'',itemName:'请选择'}" >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xlg-6" [hidden]="isInvestMode">
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">投资金额</label>
                <div class="col-sm-8 col-md-10 group">
                  <div class="col-sm-5">
                    <input type="text" class="form-control"  [(ngModel)]="baseInfoDTO.investMinMoney" disabled>
                    <span class="unit">元</span>
                  </div>
                  <label class="col-sm-2">至</label>
                  <div class="col-sm-5" style="position: relative">
                    <input type="text" class="form-control"  [(ngModel)]="baseInfoDTO.investMaxMoney" disabled>
                    <span class="unit">元</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6" [hidden]="isInvestMode" >
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">投资次数</label>
                <div class="col-sm-8 col-md-10 group">
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="investMinNum" [(ngModel)]="baseInfoDTO.investMinNum" disabled>
                    <span class="unit">次</span>
                  </div>
                  <label class="col-sm-2">至</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="investMaxNum" [(ngModel)]="baseInfoDTO.investMaxNum" disabled>
                    <span class="unit">次</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">活动时间</label>
                <div class="col-sm-8 col-md-10 group" >
                  <div class="col-sm-5">
                    <seer-datepicker disabled
                      [(date)]="baseInfoDTO.beginTime"
                      [dateFormatingRules]="'yyyy-MM-dd'"
                    >
                    </seer-datepicker>
                  </div>
                  <label class="col-sm-2">至</label>
                  <div class="col-sm-5">
                    <seer-datepicker disabled
                      [(date)]="baseInfoDTO.endTime"
                      [dateFormatingRules]="'yyyy-MM-dd'"
                    >
                    </seer-datepicker>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label class="col-sm-4 col-md-2 control-label">参加频率</label>
                <div class="col-sm-8 col-md-10 group" >
                  <div class="col-sm-5">
                    <input type="text" class="form-control"  [(ngModel)]="baseInfoDTO.participateNum1" disabled>
                    <span class="unit">次</span>
                  </div>
                  <label class="col-sm-2">/</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control"  [(ngModel)]="baseInfoDTO.participateNum2" disabled>
                    <span class="unit">天</span>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label  class="col-sm-4 col-md-2 control-label">结算方式</label>
                <div class="col-sm-8 col-md-10" >
                  <select class="form-control"  [(ngModel)]="baseInfoDTO.issueTime" disabled
                          dict-select
                          [key]="'ISSUE_TIME'"
                          [selected]="baseInfoDTO.issueTime"
                          [topOption]="{itemid:'',itemName:'请选择'}" >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <div class="row">
                <label for="activityPageUrl" class="col-sm-4 col-md-2 col-lg-1 control-label">页面链接</label>
                <div class="col-sm-8 col-md-10 col-lg-11">
                  <input type="text" class="form-control" id="activityPageUrl" [(ngModel)]="baseInfoDTO.activityPageUrl" disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <div class="row">
                <label for="activityRemark" class="col-sm-4 col-md-2 col-lg-1 control-label">活动备注</label>
                <div class="col-sm-8 col-md-10 col-lg-11">
                  <input type="text" class="form-control" id="activityRemark" [(ngModel)]="baseInfoDTO.activityRemark" disabled>
                </div>
              </div>
            </div>
          </div>
      </seer-collapse-card>
    </div>
    <div class="col-md-12">
      <seer-collapse-card cardTitle="活动奖励信息" cardClass="with-scroll" >
        <table class="table table-hover" >
          <thead>
            <th>奖品名称</th>
            <th>类型</th>
            <th>已发数量</th>
            <th>奖品数量</th>
            <th>得奖率</th>
            <th>操作</th>
          </thead>
          <tbody>
          <tr *ngFor="let redEnvelope of awardsDTO.redEnvelopesDTOs;let i=index">
            <td>{{redEnvelope.awardSum}}</td>
            <td>{{redEnvelope.awardTitle}}</td>
            <td>{{redEnvelope.awardSentSum}}</td>
            <td>{{redEnvelope.awardSum}}</td>
            <td>{{redEnvelope.awardPersents}}</td>
            <td>
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('redEnvelopesDTOs',award1,i,true)" *ngIf="redEnvelope.awardTitle=='现金红包'"></i>
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('redEnvelopesDTOs',award2,i,true)" *ngIf="redEnvelope.awardTitle=='返现红包'"></i>
            </td>
          </tr>
          <tr *ngFor="let rateCoupon of awardsDTO.rateCouponsDTOs;let i=index">
            <td>{{rateCoupon.awardSum}}</td>
            <td>{{rateCoupon.awardTitle}}</td>
            <td>{{rateCoupon.awardSentSum}}</td>
            <td>{{rateCoupon.awardSum}}</td>
            <td>{{rateCoupon.awardPersents}}</td>
            <td>
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('rateCouponsDTOs',award3,i,true)"></i>
            </td>
          </tr>
          <tr *ngFor="let physicalReward of awardsDTO.physicalRewardsDTOs;let i=index">
            <td>{{physicalReward.awardSum}}</td>
            <td>{{physicalReward.awardTitle}}</td>
            <td>{{physicalReward.awardSentSum}}</td>
            <td>{{physicalReward.awardSum}}</td>
            <td>{{physicalReward.awardPersents}}</td>
            <td>
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('physicalRewardsDTOs',award4,i,true)"></i>
            </td>
          </tr>
          <tr *ngFor="let raffleTicket of awardsDTO.raffleTicketsDTOs;let i=index">
            <td>{{raffleTicket.awardSum}}</td>
            <td>{{raffleTicket.awardTitle}}</td>
            <td>{{raffleTicket.awardSentSum}}</td>
            <td>{{raffleTicket.awardSum}}</td>
            <td>{{raffleTicket.awardPersents}}</td>
            <td>
              <i class="table-action icon-preview" title="预览" (click)="openAwardsModal('raffleTicketsDTOs',award5,i,true)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </seer-collapse-card>
    </div>
    <div class="col-md-12">
      <seer-collapse-card cardTitle="发放用户" cardClass="with-scroll" >
        <div class="row"  >
          <div class="form-group col-sm-12">
            <seer-table
            [data]="records"
            [titles]="recordsTitles"
            [pageNum]="recordsPageInfo.pageNum"
            [pageSize]="recordsPageInfo.pageSize"
            [total]="recordsPageInfo.total"
            [paginationRules]="0"
            [hideExport]="true"
            [hidePrint]="true"
            [hideRemoveAll]="true"
            [hideColumns]="true"
            [hideAddButton]="true"
            [hideCheckbox]="true"
            (notify)="onChange($event)"
            (changePage)="recordsPageChange($event)"
          ></seer-table>
          </div>
        </div>

      </seer-collapse-card>
    </div>
  </div>
</div>

<ng-template #award1 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      现金红包
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.reName" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">红包金额</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.reAmount" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardPersents" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardSum" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" >
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award2 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      返现红包
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.reName" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">红包金额</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.reAmount" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label for="productCategory" class="col-sm-4  control-label">适用产品</label>
          <div class="col-sm-8" >
            <select class="form-control"  [(ngModel)]="awardCurr.productCategory"
                    dict-select
                    [key]="'PRODUCT_CATEGORY'"
                    [selected]="awardCurr.productCategory"
                    [topOption]="{itemid:'',itemName:'请选择'}" disabled>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label for="productCategory" class="col-sm-4  control-label">激活方式</label>
          <div class="col-sm-8" >
            <select class="form-control"  [(ngModel)]="awardCurr.useLimit"
                    dict-select
                    [key]="'USE_LIMIT'"
                    [selected]="awardCurr.useLimit"
                    [topOption]="{itemid:'',itemName:'请选择'}" disabled>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">启用限额</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.useMinAmount" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">有效期限</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.expiryDate" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label for="productCategory" class="col-sm-4  control-label">叠加限制</label>
          <div class="col-sm-8" >
            <select class="form-control"  [(ngModel)]="awardCurr.isStacking"
                    dict-select
                    [key]="'IS_STACKING'"
                    [selected]="awardCurr.isStacking"
                    [topOption]="{itemid:'',itemName:'请选择'}" disabled>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4 control-label">获奖概率</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardPersents" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardSum" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award3 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      加息券
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.rcName" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">加息额度</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.rcAmount" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">加息期限</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.rcLength" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label for="productCategory" class="col-sm-4  control-label">适用产品</label>
          <div class="col-sm-8" >
            <select class="form-control"  [(ngModel)]="awardCurr.productCategory"
                    dict-select
                    [key]="'PRODUCT_CATEGORY'"
                    [selected]="awardCurr.productCategory"
                    [topOption]="{itemid:'',itemName:'请选择'}" disabled>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label for="productCategory" class="col-sm-4  control-label">激活方式</label>
          <div class="col-sm-8" >
            <select class="form-control"  [(ngModel)]="awardCurr.useLimit"
                    dict-select
                    [key]="'USE_LIMIT'"
                    [selected]="awardCurr.useLimit"
                    [topOption]="{itemid:'',itemName:'请选择'}" disabled>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">启用限额</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.useMinAmount" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4  control-label">有效期限</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.expiryDate" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6" >
        <div class="row">
          <label for="productCategory" class="col-sm-4  control-label">叠加限制</label>
          <div class="col-sm-8" >
            <select class="form-control"  [(ngModel)]="awardCurr.isStacking"
                    dict-select
                    [key]="'IS_STACKING'"
                    [selected]="awardCurr.isStacking"
                    [topOption]="{itemid:'',itemName:'请选择'}" disabled>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <label  class="col-sm-4 control-label">获奖概率</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardPersents" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardSum" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award4 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      实物礼品
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.prName" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardPersents" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品单价</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.prPrice" disabled>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品总数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardSum" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #award5 >
  <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
    <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">
      抽奖券
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖品名称</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.rtName" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">关联活动</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.activityId" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">单券次数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.perNumber" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">获奖概率</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardPersents" disabled>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="row">
          <label  class="col-sm-4 col-md-2 control-label">奖券总数</label>
          <div class="col-sm-8 col-md-10">
            <input type="text" class="form-control"  [(ngModel)]="awardCurr.awardSum" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
