<seer-collapse-card>
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    [filters]="filters"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>
</seer-collapse-card>
<seer-collapse-card>
  <seer-table
    [data]="announcements"
    [titles]="titles"
    [translate]="dict"
    [pageNum]="pageInfo.pageNum"
    [pageSize]="pageInfo.pageSize"
    [total]="pageInfo.total"
    [paginationRules]="0"
    [showSeq]="true"
    [hideExport]="true"
    [hideRemoveAll]="true"
    [hidePrint]="true"
    [hideCheckbox]="true"
    (notify)="onChange($event)"
    (changePage)="handleChangePage($event)"
  ></seer-table>
</seer-collapse-card>
