<div style="margin:10px 30px; background: #c12e2a">
  <seer-card >
    <!--<div class="row" style="margin-bottom: 10px;">
      <seer-checkbox
        *ngFor="let taskType of taskTypes;let i=index"
        (click)="ckboxToggle(taskType,i)"
        [isChecked]="isChecked[i]"
        [label]="taskType.taskName"
      >
      </seer-checkbox>
    </div>-->
    <div class="row">
      <seer-table *ngIf="tasks.length>0"
        [data]="tasks"
        [titles]="titles"
        [translate]="dict"
        [paginationRules]="0"
        [pageNum]="pageInfo.pageNum"
        [pageSize]="pageInfo.pageSize"
        [total]="pageInfo.total"
        [hideExport]="true"
        [hidePrint]="true"
        [hideRemoveAll]="true"
        [hideColumns]="true"
        [hideActions]="true"
        [hideCheckbox]="true"
        [hideAddButton]="true"
        (changePage)="handlePageChange($event)"
      ></seer-table>
    </div>
  </seer-card>
</div>
