<form (submit)="save()">
  <div class="form-page-header">
    <button type="button" class="btn btn-default" (click)="goBack()">返回列表</button>
    <button type="submit" class="btn btn-primary">保存</button>
    <button type="submit" class="btn btn-primary">预览</button>
  </div>
  <seer-card [title]="title">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="inputTemplateName">模板名称</label>
        <input type="text" class="form-control" name="inputTemplateName" id="inputTemplateName" [(ngModel)]="template.templateName" placeholder="模板名称" required maxlength="36">
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="inputTemplateType">模板类型</label>
        <select class="form-control" name="inputTemplateType" id="inputTemplateType" [(ngModel)]="template.templateType" dict-select [key]="'TEMPLATE_TYPE'" [selected]="template.templateType" [topOption]="{dictValueId:'',dictValueName:'请选择'}" required>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="inputTemplateState">模板状态</label>
        <select class="form-control" name="inputTemplateState" id="inputTemplateState" [(ngModel)]="template.templateState" dict-select [key]="'TEMPLATE_STATE'" [selected]="template.templateState" [topOption]="{dictValueId:'',dictValueName:'请选择'}" required>
        </select>
      </div>
    </div>
  </div>
</seer-card>
</form>
<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <ckeditor *ngIf="loadComplete"
      [(ngModel)]="template.templateContent">
      <ckbutton [name]="'saveButton'"
                [command]="'saveCmd'"
                (click)="save($event)"
                [icon]="'save.png'"
                [label]="'Save Document'"
                [toolbar]="'clipboard,1'">
      </ckbutton>
    </ckeditor>
  </div>
</div>




