<div class="row">
  <div class="col-sm-4" *ngIf="hasGlobalFilter">
    <input
      type="text"
      class="form-control globalFilter"
      placeholder="全局搜索"
      [(ngModel)]=globalFilterValue
      (keyup)=handleGlobalFilterInputChange()
      />
  </div>
  <div class="col" *ngIf="filters">
    <button
      type="button"
      class="btn btn-primary"
      [class.complexfilter__btn--active]=isFiltersShown
      (click)=handleComplexBtnClick()
      >高级检索<i class="icon-angle-down complexfilter__icon"></i></button>
  </div>
</div>

<div [@slideInOut]="isFilterShown()" style="overflow: hidden;" *ngIf="filters">
  <div class="row filter__container form-horizontal">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xlg-4 form-group" *ngFor="let filter of filters" [ngClass]="{'col-xlg-4':rowLength==3,'col-xlg-6':rowLength==2}">
      <div class="row">
        <label class="label-control" [ngClass]="{'col-sm-4':rowLength==3,'col-sm-2':rowLength==2}">{{ filter.label }}</label>
        <div [ngClass]="{'col-sm-8':rowLength==3,'col-sm-10':rowLength==2}">
          <ng-container *ngIf="filter.groups">
            <div class="row">
              <ng-container *ngFor="let group of filter.groups; let i = index">
                <!--<label *ngIf="i > 0 && filter.groupSpaces[i - 1]" class="col-sm-2 label-control" style="padding-right: 0; padding-left: 0; text-align: center">{{ filter.groupSpaces[i - 1] }}</label>-->

                <!--<div class="{{'col-sm-' + getGroupCol(filter.groups.length, filter.groupSpaces.length)}}">-->
                <!--
                  edit by lily
                  使中间的单位占用30个像素
                -->
                <div class="filter_group">
                  <label *ngIf="i > 0 && filter.groupSpaces[i - 1]" class="filter_inter" >{{ filter.groupSpaces[i - 1] }}</label>
                  <div class="group_block">
                    <select
                      class="form-control"
                      *ngIf="group.type === 'select'"
                      [(ngModel)]="group.value"
                      (change)="handleFilterChange()"
                      [disabled]="group.disabled">
                      <option *ngFor="let option of group.options" [ngValue]="option.value" >{{ option.content }}</option>
                    </select>
                    <seer-datepicker
                      *ngIf="group.type === 'datepicker'"
                      [dateFormatingRules]="dateFormatingRules || 'yyyy-MM-dd'"
                      [(date)]="group.value"
                      (dateChange)="handleFilterChange()"
                      [disabled]="group.disabled"
                    ></seer-datepicker>
                    <input
                      class="form-control"
                      *ngIf="group.type && group.type.indexOf('input') != -1"
                      [type]="group.type.split('.')[1] || 'text'"
                      [(ngModel)]="group.value"
                      (keyup)="handleFilterChange()"
                      [disabled]="group.disabled"
                    />
                  </div>
                </div>
              </ng-container>

            </div>
          </ng-container>
          <select
            class="form-control"
            *ngIf="filter.type === 'select' && !filter.groups"
            [(ngModel)]="filter.value"
            (change)="handleFilterChange()"
            [disabled]="filter.disabled">
            <option *ngFor="let option of filter.options" [ngValue]="option.value" >{{ option.content }}</option>
          </select>
          <seer-datepicker
            *ngIf="filter.type === 'datepicker' && !filter.groups"
            [dateFormatingRules]="dateFormatingRules || 'yyyy/MM/dd'"
            [(date)]="filter.value"
            (dateChange)="handleFilterChange()"
            [disabled]="filter.disabled"
            ></seer-datepicker>
          <input
            class="form-control"
            *ngIf="filter.type && filter.type.indexOf('input') != -1 && !filter.groups"
            [type]="filter.type.split('.')[1] || 'text'"
            [(ngModel)]="filter.value"
            (keyup)="handleFilterChange()"
            [disabled]="filter.disabled"
            [maxlength]="filter.maxLength"
            />
            <!-- 引入树组件 -->
          <input type="text" class="form-control" id="departmentId"
            *ngIf="filter.type ==='table' && !filter.groups"
            [(ngModel)]="staff.sysEmployer.departmentName"
            [ngModelOptions]="{standalone: true}" (click)="openModal(template)" (input)="handleFilterChange()" (change)='handleFilterChange()'>
            <template #template>
              <div class="modal-body">
                <seer-tree
                  [permissions]="treePermissions"
                  (notify)="onNotice($event) "
                  [nodes]="treeNode"
                  [defaultNodeName]="'新建部门'"
                  [loadingText]="''">
                </seer-tree>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sx btn-info" (click)="save(); modalRef.hide()">确定</button>
                <button type="button" class="btn btn-default" (click)="modalRef.hide()">取消</button>
              </div>
            </template>
            <!-- <input type="text" class="form-control" id="departmentId"
            [(ngModel)]="staff.sysEmployer.departmentName"
            [ngModelOptions]="{standalone: true}" (click)="openModal(template)">
              <template #template>
                <div class="modal-body">
                  <seer-tree
                    [permissions]="treePermissions"
                    (notify)="onNotice($event) "
                    [nodes]="treeNode"
                    [defaultNodeName]="'新建部门'"
                    [loadingText]="''">
                  </seer-tree>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sx btn-info" (click)="save(); modalRef.hide()">确定</button>
                  <button type="button" class="btn btn-default" (click)="modalRef.hide()">取消</button>
                </div>
              </template> -->
        </div>
      </div>
    </div>
  </div>
  <div class="filter__btnGroup clearfix">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="handleResetBtnClick()"
      >重置</button>
    <button type="button" [disabled]="renderSearchBtn()" #searchBtn class="btn btn-search btn-primary"
    >搜索</button>

  </div>
</div>

