<div class="row">
  <div class="col-sm-4" *ngIf="hasGlobalFilter">
    <input
      type="text"
      class="form-control filter__input"
      placeholder="全局搜索"
      [(ngModel)]=globalFilterValue
      (keyup)=handleGlobalFilterInputChange()
      />
  </div>
  <div class="col row" *ngIf="filters">
    <button
      type="button"
      class="btn btn-info align-self-center"
      style="margin-top: 1px"
      [class.complexfilter__btn--active]=isFiltersShown
      (click)=handleComplexBtnClick()
      >高级查询<i class="fa fa-angle-down fa-angle-up complexfilter__icon"></i></button>
  </div>
</div>
<div [@slideInOut]="isFilterShown()" style="overflow: hidden;" *ngIf="filters">
  <div class="row filter__container form-horizontal">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xlg-3 form-group" *ngFor="let filter of filters">
      <div class="row">
        <label class="label-control col-sm-4 ">{{ filter.label }}</label>
        <div class="col-sm-8">
          <select
            class="form-control filter__input"
            *ngIf="filter.type === 'select'"
            [(ngModel)]="filter.value"
            (change)="handleFilterChange($event, filter)">
            <option *ngFor="let option of filter.options" [ngValue]="option.value" >{{ option.content }}</option>
          </select>
          <input
            class="form-control filter__input"
            *ngIf="filter.type.indexOf('input') != -1"
            [type]="filter.type.split('.')[1] || 'text'"
            [(ngModel)]="filter.value"
            (keyup)="handleFilterChange($event, filter)"/>
        </div>
      </div>

    </div>
  </div>
  <div>
    <button type="button" [disabled]="renderSearchBtn()" #searchBtn class="btn btn-search btn-info"
    >搜索</button>
    <button
      type="button"
      class="btn btn-default"
      (click)="handleResetBtnClick()"
      >重置</button>
  </div>
</div>

