<ul id="al-sidebar-list" class="al-sidebar-list" baSlimScroll [baSlimScrollOptions]="{height: menuHeight}">
	<li class="al-sidebar-list-item">
	  <a class="al-sidebar-list-all" href (click)="toggleMenu()">
	  	<i class="{{ isMenuCollapsed ? 'icon-menu-indent' : 'icon-menu-outdent' }}"></i>
	    <span [style.display]="isMenuCollapsed ? 'none' : 'inline'">{{ '全部分类' }}</span>
	  </a>
	</li>
<ba-menu-item
  [menuItem]="item"
  (itemHover)="hoverItem($event)"
  (toggleSubMenu)="toggleSubMenu($event)"
  *ngFor="let item of menuItems"></ba-menu-item>
</ul>
<div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
   [ngClass]="{'show-hover-elem': showHoverElem }"></div>
