<modal [animation]="animation" [backdrop]="backdrop" [size]="'lg'">
  <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
  </modal-header>
  <modal-body>


    <table class="table table-bordered">
      <tbody>
      <tr>
        <td>客户名称</td>
        <td colspan="3">{{customer.customerName}}</td>
        <td style="text-align: center;">客户级别</td>
        <td colspan="2">{{customer.customerLevel}}</td>
      </tr>
      <tr>
        <td>客户企业性质</td>
        <td colspan="3">{{customer.customerNature}}</td>
        <td style="text-align: center;">客户公司地址</td>
        <td colspan="2">{{customer.customerAddress}}</td>
      </tr>
      <tr>
        <td>总仓地址</td>
        <td colspan="3">{{customer.customerDcAddress}}</td>
        <td style="text-align: center;">客户企业代码</td>
        <td colspan="2">{{customer.customerCode}}</td>
      </tr>
      <tr>
        <td>税号</td>
        <td colspan="3">{{customer.customerTaxCode}}</td>
        <td style="text-align: center;">开户行</td>
        <td colspan="2">{{customer.customerBank}}</td>
      </tr>
      <tr>
        <td>开户行地址</td>
        <td colspan="3">{{customer.customerBankAddress}}</td>
        <td style="text-align: center;">银行账户</td>
        <td colspan="2">{{customer.customerBankAccount}}</td>
      </tr>
      <tr>
        <td>客户公司电话</td>
        <td colspan="3">{{customer.customerTel}}</td>
        <td style="text-align: center;">法人信息</td>
        <td colspan="2">{{customer.legalPerson}}</td>
      </tr>

      <tr>
        <td>注册资本</td>
        <td colspan="3">{{customer.registerCapital}}</td>
        <td style="text-align: center;">公司人数</td>
        <td colspan="2">{{customer.personCount}}</td>
      </tr>
      <tr>
        <td>车辆数</td>
        <td colspan="3">{{customer.vehicleCount}}</td>
        <td style="text-align: center;">库房面积</td>
        <td colspan="2">{{customer.storageArea}}</td>
      </tr>
      <tr>
        <td>邮箱</td>
        <td colspan="3">{{customer.customerMail}}</td>
        <td style="text-align: center;">客户公司网址</td>
        <td colspan="2">{{customer.customerWebsite}}</td>
      </tr>

      </tbody>
    </table>

    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label required">客户名称</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerName" placeholder="" [(ngModel)]="customer.customerName" name="customerName"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label required" >客户级别</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerLevel" placeholder="" [(ngModel)]="customer.customerLevel"  name="customerLevel"  >-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->


    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label ">客户企业性质</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->

          <!--<select class="form-control" id="customerNature"  [(ngModel)]="customer.customerNature" name="customerNature"   >-->
            <!--<option value="">请选择</option>-->
            <!--<option value="01">集体企业</option>-->
            <!--<option value="02">股份合作制企业</option>-->
            <!--<option value="03">私营企业</option>-->
          <!--</select>-->

        <!--</div>-->

      <!--</div>-->
    <!--</div>-->


    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label required">客户公司地址</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerAddress" placeholder="" [(ngModel)]="customer.customerAddress"  name="customerAddress"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label " >总仓地址</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerDcAddress" placeholder="" [(ngModel)]="customer.customerDcAddress"  name="customerDcAddress"    >-->

        <!--</div>-->

      <!--</div>-->
    <!--</div>-->




    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label required">客户企业代码</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerCode" placeholder="" [(ngModel)]="customer.customerCode" name="customerCode"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label required" >税号</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerTaxCode" placeholder="" [(ngModel)]="customer.customerTaxCode"  name="customerTaxCode"  >-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->





    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label ">开户行</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerBank" placeholder="" [(ngModel)]="customer.customerBank" name="supplierId"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label " >开户行地址</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerBankAddress" placeholder="" [(ngModel)]="customer.customerBankAddress"  name="customerBankAddress"  >-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->


    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label ">银行账户</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerBankAccount" placeholder="" [(ngModel)]="customer.customerBankAccount" name="customerBankAccount"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label " >客户公司电话</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerTel" placeholder="" [(ngModel)]="customer.customerTel"  name="customerTel"  >-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->



    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label ">法人信息</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="legalPerson" placeholder="" [(ngModel)]="customer.legalPerson" name="legalPerson"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label " >注册资本</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="registerCapital" placeholder="" [(ngModel)]="customer.registerCapital"  name="registerCapital"  >-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->






    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label ">公司人数</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="personCount" placeholder="" [(ngModel)]="customer.personCount" name="personCount"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label " >车辆数</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="vehicleCount" placeholder="" [(ngModel)]="customer.vehicleCount"  name="vehicleCount"  >-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->









    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label ">库房面积</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="storageArea" placeholder="" [(ngModel)]="customer.storageArea" name="storageArea"    >-->
        <!--</div>-->

        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label " >邮箱</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerMail" placeholder="" [(ngModel)]="customer.customerMail"  name="customerMail"  >-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->



    <!--<div class="row spbrow">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-offset-1 col-xs-2">-->
          <!--<label class="pull-right contract_label ">客户公司网址</label>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
          <!--<input type="text" class="form-control" id="customerWebsite" placeholder="" [(ngModel)]="customer.customerWebsite" name="customerWebsite"    >-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->



  </modal-body>
  <modal-footer>
    <!--<button type="button" class="btn btn-primary" (click)="onSave()">保存</button>-->
    <!--<button type="button" class="btn btn-primary" (click)="onEdit()">确认</button>-->
    <button type="button" class="btn btn-default" (click)="onDestroy()">取消</button>
  </modal-footer>
</modal>
