<form (submit)="save()">
  <div class="form-page-header">
    <button type="button" class="btn btn-default" (click)="goBack()">返回列表</button>
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
  <seer-card [title]="title" >
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputTplName">模板名称</label>
          <input type="text" class="form-control" name="inputTplName" id="inputTplName" [(ngModel)]="template.tplName" placeholder="模板名称" required maxlength="50">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputTplName">模板编码</label>
          <input type="text" class="form-control" name="inputTplCode" id="inputTplCode" [(ngModel)]="template.tplCode" placeholder="模板编码" required maxlength="30">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputTplType">模板所属类型</label>
          <!--<select  class="form-control" name="inputTplType" id="inputTplType"    required>
            <ng-container  *ngFor="let tplType of tplTypes">
            <option  value="{{ tplType.tplTypeId }}" >{{ tplType.tplTypeName }}</option>
            </ng-container>
          </select>-->
          <select type="email" class="form-control" name="inputTplType" id="inputTplType" [(ngModel)]="template.tplType" dict-select required
                  [key]="'MESSAGE_TEMPLATE_TYPE'"
                  [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                  [selected]="template.tplType" >
          </select>
          <!--<select type="email" class="form-control" name="inputValidState" id="inputValidState" [(ngModel)]="template.tplType" dict-select [key]="'VALID_STATE'" [topOption]="{dictValueId:'',dictValueName:'请选择'}" [selected]="role.validState" required>
          </select>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputTplTitle">标题</label>
          <input type="text" class="form-control" name="inputTplTitle" id="inputTplTitle" [(ngModel)]="template.tplTitle" placeholder="标题" required maxlength="50">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputTplContent">模板正文</label>
          <textarea class="form-control" name="inputTplContent" id="inputTplContent" cols="20" rows="4" [(ngModel)]="template.tplContent" required></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputTplBusiness">模板参数描述</label>
          <textarea class="form-control" name="inputTplBusiness" id="inputTplBusiness" cols="20" rows="4" [(ngModel)]="template.tplBusiness" required></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputTplisSystem">是否系统模板</label>
          <!--<select  class="form-control" name="inputTplisSystem" id="inputTplisSystem" required>
            <option  *ngFor="let isSystem of isSystems" value="{{ isSystem.Id }}">{{ isSystem.titile}}</option>
          </select>-->
          <select type="email" class="form-control" name="inputTplisSystem" id="inputTplisSystem" [(ngModel)]="template.tplisSystem" dict-select required
                  [key]="'IS_SYSMESSAGETEMPLATE'"
                  [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                  [selected]="template.tplisSystem" >
          </select>
        </div>
      </div>
    </div>
  </seer-card>
</form>
