
 <form (submit)="save()">
  <div class="form-page-header">
    <button type="button" class="btn btn-default" (click)="goBack()">返回列表</button>
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
  <seer-card [title]="title" >
    <div class="row">
        <button type="button"  class="btn btn-primary" style="margin-left:10px;" (click)="chooseInfo();">选择模板信息</button>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="form-inline" class="col-lg-3">
          <label for="inputTplName">模板名称&nbsp;&nbsp;&nbsp;</label>
          <input type="text" class="form-control" name="inputTplName" id="inputTplName" [(ngModel)]="template.tplName"  required maxlength="50">
        </div>
        <div  class="col-lg-1">
            
        </div>
        <div class="form-inline" class="col-lg-3">
            <label for="inputTplName">业务类型&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="form-control" name="inputTplName" id="inputTplName" [(ngModel)]="template.tplName"  required maxlength="50">
        </div>
        <div class="form-inline" class="col-lg-10" style="margin-top:30px;">
            <label for="inputTplName">模板内容&nbsp;&nbsp;&nbsp;</label>
            <textarea class="form-control" name="inputTplBusiness" id="inputTplBusiness" style="width:100%; height:250px;"   [(ngModel)]="template.tplBusiness" required></textarea>
        </div>
    </div>
  </seer-card> 
 <seer-card [title]="basicTitle" >
    <div class="row">
        <div class="form-inline" class="col-lg-3">
          <label for="inputTplName">消息主题&nbsp;&nbsp;&nbsp;</label>
          <input type="text" class="form-control" name="inputTplName" id="inputTplName" [(ngModel)]="template.tplName"  required maxlength="50">
        </div>
        <div  class="col-lg-1">
            
        </div>
        <div class="form-inline" class="col-lg-3">
          <label for="inputTplName">消息类型&nbsp;&nbsp;&nbsp;</label>
          <select type="email" class="form-control" name="inputTplType" id="inputTplType" [(ngModel)]="template.tplType" dict-select required
                  [key]="'MESSAGE_TEMPLATE_TYPE'"
                  [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                  [selected]="template.tplType" >
          </select>
        </div>
    </div>
  </seer-card> 
 <seer-card [title]="sendTitle" >
    <div class="row">
        <div class="form-inline" class="col-lg-3">
            <label for="inputTplName">发送方式&nbsp;&nbsp;&nbsp;</label>
            <select type="email" class="form-control" name="inputTplType" id="inputTplType" [(ngModel)]="template.tplType" dict-select required
                    [key]="'MESSAGE_TEMPLATE_TYPE'"
                    [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                    [selected]="template.tplType" >
            </select>
        </div>
        <div  class="col-lg-1"></div>
        <div class="form-inline" class="col-lg-3">
            <label for="inputTplName">发送用户&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="form-control" name="inputTplName" id="inputTplName" [(ngModel)]="template.tplName"  required maxlength="50">
        </div>
        <div  class="col-lg-1" style="margin-top:25px;">
            <button type="button"  class="btn btn-primary" (click) =" chooseUsers();">选择用户</button>
        </div>
    </div>
  </seer-card> 
</form> 
<div dynamic-component></div>