<div class="widgets">
  <div style="margin-bottom: 24px;">
    <button class="btn btn-primary" (click)="handleBackBtnClick()">返回</button>
    <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
  </div>
  <!-- -->
  <div class="row">
    <ba-card [title]="title" baCardClass="with-scroll">
      <form class="row" #resourceForm="ngForm" >
        <!--<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
  <div class="form-group">
    <label for="menuId">菜单</label>
    <input type="text" class="form-control" id="menuId" placeholder="" [(ngModel)]="resource.menuId" name="menuId"  value="{resource.menuId}" required >
  </div>
</div>-->
        <div class="col-sm-12" *ngIf="_editType=='edit'">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
          <div class="form-group">
            <label for="menuId">菜单编号</label>
            <input type="text" class="form-control" id="menuId" name="menuId" [(ngModel)]="resource.menuId" readonly="readonly">
          </div>
        </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuName">菜单名称</label>
              <input type="text" class="form-control" id="menuName" placeholder="" [(ngModel)]="resource.menuName" name="menuName" required>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuPid">菜单父编号</label>
              <input type="text" class="form-control" id="menuPid" placeholder="" [(ngModel)]="resource.menuPid"  name="menuPid" required >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuType">菜单类型</label>
              <input type="text" class="form-control" id="menuType" placeholder="" [(ngModel)]="resource.menuType"  name="menuType" required >
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="hrefUrl">链接地址</label>
              <input type="text" class="form-control" id="hrefUrl" placeholder="" [(ngModel)]="resource.hrefUrl"  name="hrefUrl" required >
            </div>
          </div>

        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="sortNum">菜单顺序</label>
              <input type="text" class="form-control" id="sortNum" placeholder="" [(ngModel)]="resource.sortNum"  name="sortNum" required >
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuStatus">有效状态</label>
              <input type="text" class="form-control" id="menuStatus" placeholder="" [(ngModel)]="resource.menuStatus" name="menuStatus" required >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <!--<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="target">target</label>
              <input type="text" class="form-control" id="target" placeholder="" [(ngModel)]="resource.target"  name="target"  value="{resource.target}" required >
            </div>
          </div>-->
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="icon">菜单图标</label>
              <input type="text" class="form-control" id="icon" placeholder="" [(ngModel)]="resource.icon" name="icon" required >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuDesc">菜单说明</label>
              <input type="text" class="form-control" id="menuDesc" placeholder="" [(ngModel)]="resource.menuDesc" name="menuDesc" required >
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="remarks">备注</label>
              <input type="text" class="form-control" id="remarks" placeholder="" [(ngModel)]="resource.remarks"  name="target" required >
            </div>
          </div>
        </div>
      </form>
    </ba-card>
  </div>
  <!-- / -->
</div>










