<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>

  <button class="btn btn-primary right-button" [disabled]="forbidSaveBtn" (click)="lock('1')" *ngIf="baseInfo.status=='0'">锁定</button>
  <button class="btn btn-primary right-button" [disabled]="forbidSaveBtn" (click)="lock('0')" *ngIf="baseInfo.status=='1'">解锁</button>
  <!-- <button class="btn btn-primary right-button" [disabled]="forbidSaveBtn" (click)="tradePasswordReset()">交易密码重置</button> -->
  <!-- <button class="btn btn-primary right-button" [disabled]="forbidSaveBtn" (click)="passwordReset()">登录密码重置</button> -->

</seer-content-top>
<div class="widgets overfloatHiden">
  <div class="row justify-content-center">
    <div class="col-md-12">
        <seer-collapse-card cardTitle="基本信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true
                            [headerActions]="saveActions"
                            [saveDistabled]="forbidBaseSaveBtn && form1.form.valid"
                            (notify)="basicInfoNotify($event)"
        >
          <form class="form-horizontal info" #form1="ngForm">
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">用户名</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control" name="userName"  [(ngModel)]="baseInfo.userName" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">真实姓名</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="trueName"  [(ngModel)]="baseInfo.trueName" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">身份证号</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="idNumber"  [(ngModel)]="baseInfo.idNumber" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">性别</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="mSex"  [(ngModel)]="baseInfo.mSex" [ngModelOptions]="{standalone: true}"
                            dict-select
                            [key]="'M_SEX'"
                            [selected]="baseInfo.mSex"
                            [topOption]="{itemid:'',itemName:'请选择'}" disabled>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4 control-label">年龄</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="mAge"  [(ngModel)]="baseInfo.mAge" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">学历</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="education"  [(ngModel)]="baseInfo.education" [ngModelOptions]="{standalone: true}"
                            dict-select
                            [key]="'EDUCATION'"
                            [selected]="baseInfo.education"
                            [topOption]="{itemid:'',itemName:'请选择'}">
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">婚姻状况</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="maritaStatus"  [(ngModel)]="baseInfo.maritaStatus" [ngModelOptions]="{standalone: true}"
                            dict-select
                            [key]="'MARRAGE_STATUS'"
                            [selected]="baseInfo.maritaStatus"
                            [topOption]="{itemid:'',itemName:'请选择'}">
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">年均收入（元）</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control number"  name="yearIncome"  [(ngModel)]="baseInfo.yearIncome"
                           #yearIncome="ngModel" number  [range]="[0,999999999]"/>
                    <p class="text-danger" *ngIf="yearIncome.errors?.range">请输入小于1000000000的数值</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">社保账号</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="socialNo"  [(ngModel)]="baseInfo.socialNo" maxlength="18" minlength="18"
                            #socialNo="ngModel" number/>
                     <p class="text-danger" *ngIf="socialNo.errors?.number||socialNo.errors?.minlength">请输入18位数值</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">手机号</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="phoneNumber"  [(ngModel)]="baseInfo.phoneNumber" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">电子邮件</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="eMail " [(ngModel)]="baseInfo.eMail" maxlength="30"  #email="ngModel" email>
                    <p class="text-danger" *ngIf="email.errors?.email">请输入正确邮箱</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">住房情况</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="houseAbout"  [(ngModel)]="baseInfo.houseAbout" maxlength="50">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
                <div class="row">
                  <label for="domicilePlace" class="col-sm-4 col-md-2 col-xlg-1 control-label">户口所在地</label>
                  <div class="col-sm-8 col-md-10 col-xlg-10" id="domicilePlace">
                    <seer-address-picker (notify)="domicilePlaceChanged($event)" [defaultItemCode]="baseInfo.domicileDistrict" [defaultAddress]="baseInfo.domicileAddress"></seer-address-picker>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
                <div class="row">
                  <label for="currentResidence" class="col-sm-4 col-md-2 col-xlg-1 control-label">现居住地</label>
                  <div class="col-sm-8 col-md-10 col-xlg-10" id="currentResidence">
                    <seer-address-picker (notify)="currentResidenceChanged($event)" [defaultItemCode]="baseInfo.liveDistrict" [defaultAddress]="baseInfo.liveAddress">
                      <div *ngIf="!disabled" class="col-sm-1 col-md-1 col-lg-12 col-xlg-2" >
                      </div>
                    </seer-address-picker>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label class="col-sm-4 col-md-2 col-xlg-1 control-label"></label>
                  <div class="col-sm-8 col-md-10 col-xlg-10" >
                    <seer-cool-checkbox (click)="shortcut($event)"></seer-cool-checkbox> 同户籍地址
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label  class="col-sm-4 col-md-2 col-xlg-1 control-label">资产介绍</label>
                  <div class="col-sm-8 col-md-10 col-xlg-11">
                  <textarea class="form-control" name="assetDesc"  [(ngModel)]="baseInfo.assetDesc" #assetDesc="ngModel" [rangeLength]="[0,100]"></textarea>
                    <p class="text-danger" *ngIf="assetDesc.errors?.rangeLength">字符长度要求在100以内</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label  class="col-sm-4 col-md-2 col-xlg-1 control-label">债务介绍</label>
                  <div class="col-sm-8 col-md-10 col-xlg-11">
                    <textarea class="form-control" name="debtDesc"  [(ngModel)]="baseInfo.debtDesc" #debtDesc="ngModel" [rangeLength]="[0,100]"></textarea>
                    <p class="text-danger" *ngIf="debtDesc.errors?.rangeLength">字符长度要求在100以内</p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="紧急联系人" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <seer-simple-table
            #contactTable
            [data]="emergencyContact"
            [titles]="titlesEmergencyContact"
            [hidePagination]="true"
            [actions]="simpleTableActions"
            (notify)="contactModifyNotify($event)"
          >
          </seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="工作信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true
                            [headerActions]="saveActions"
                            [saveDistabled]="forbidWorkSaveBtn && form2.form.valid"
                            (notify)="workInfoNotify($event)">
          <form #form2="ngForm">
            <div class="row info">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">公司名称</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control" name="companyName"  maxlength="20" [(ngModel)]="workInfo.companyName" >
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">公司性质</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control" name="companyType"  maxlength="10" [(ngModel)]="workInfo.companyType" >
                  </div>
                </div>
              </div>
              <!--<div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">公司规模</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control" name="companyScope"
                           [(ngModel)]="workInfo.companyScope" >
                  </div>
                </div>
              </div>-->
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">职务</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control" name="jobPost"  [(ngModel)]="workInfo.jobPost" maxlength="10">
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">工作年限（年）</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control number" name="workYear"  [(ngModel)]="workInfo.workYear"  #workYear="ngModel" maxlength="3" [range]="[0,100]" >
                    <p class="text-danger" *ngIf="workYear.errors?.range">请输入数值</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">工作电话</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control"  name="workTel" [(ngModel)]="workInfo.workTel" #workTel="ngModel" number maxlength="13">
                    <p class="text-danger" *ngIf="workTel.errors?.number">请输入正确格式电话号码</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4 control-label">月净收入（元）</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control number"  name="monthIncome" [(ngModel)]="workInfo.monthIncome" #monthIncome="ngModel" [range]="[0,999999999]">
                    <p class="text-danger" *ngIf="monthIncome.errors?.range">请输入小于1000000000的数值</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label  class="col-sm-4 control-label">详细地址</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control"  name="workAddress" [(ngModel)]="workInfo.workAddress" maxlength="30">
                  </div>
                </div>
              </div>
            </div>
          </form>
      </seer-collapse-card>
        <seer-collapse-card cardTitle="账户信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div class="row info">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">账户归属</label>
                <div class="col-sm-8 ">
                  <!--<select class="form-control" disabled>
                    <option value="">国汇财富</option>
                    <option value="">巴巴汇</option>
                    <option value="">汇信贷</option>
                  </select>-->
                  <input type="text" class="form-control" [(ngModel)]="accountInfo.accountSource" disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">账户用户名</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" [(ngModel)]="baseInfo.trueName"  disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">开户行</label>
                <div class="col-sm-8 ">

                  <input type="text" class="form-control"  [(ngModel)]="accountInfo.bankName"  disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label class="col-sm-4 control-label">银行账户</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control"  [(ngModel)]="accountInfo.bankNo" disabled>
                </div>
              </div>
            </div>
          </div>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="财务状况" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true
                            [headerActions]="saveActions"  [saveDistabled]="forbidFinancialSaveBtn && form3.form.valid" (notify)="financialInfoNotify($event)"
        >
          <form #form3="ngForm">
          <div class="row info">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">月无抵押货款还款额（元）</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control number" name="carRepayMonth" [(ngModel)]="financialInfo.unsecuredRepayMonth" maxlength="13"
                         #carRepayMonth="ngModel"  [range]="[0,999999999]">
                         <p class="text-danger" *ngIf="carRepayMonth.errors?.range">请输入小于1000000000的数值</p>
                </div>
                
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">月信用卡还款金额（元）</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control number" name="cardRepayMonth" [(ngModel)]="financialInfo.cardRepayMonth" maxlength="13"
                         #cardRepayMonth="ngModel"  [range]="[0,999999999]">
                  <p class="text-danger" *ngIf="cardRepayMonth.errors?.range">请输入小于1000000000的数值</p>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">月房屋按揭金额（元）</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control number" name="houseRepayMonth" [(ngModel)]="financialInfo.houseRepayMonth" maxlength="13"
                         #houseRepayMonth="ngModel"  [range]="[0,999999999]">
                  <p class="text-danger" *ngIf="houseRepayMonth.errors?.range">请输入小于1000000000的数值</p>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label class="col-sm-4 control-label">月汽车按揭金额（元）</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control number" name="unsecuredRepayMonth" [(ngModel)]="financialInfo.carRepayMonth" maxlength="13"
                         #unsecuredRepayMonth="ngModel"   [range]="[0,999999999]">
                  <p class="text-danger" *ngIf="unsecuredRepayMonth.errors?.range">请输入小于1000000000的数值</p>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label class="col-sm-4 control-label">自有汽车（台）</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control number" name="hasCar"  [(ngModel)]="financialInfo.hasCar" #hasCar="ngModel"  maxlength="4" number>
                  <p class="text-danger" *ngIf="hasCar.errors?.number">请输入数值</p>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">自有房产（套）</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control number" name="hasHouse"  [(ngModel)]="financialInfo.hasHouse" #hasHouse="ngModel"  maxlength="4">
                  <p class="text-danger" *ngIf="hasHouse.errors?.number">请输入数值</p>
                </div>
              </div>
            </div>
          </div>
          </form>
      </seer-collapse-card>
        <seer-collapse-card cardTitle="车辆信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div *ngIf="!disabled" class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <button class="btn btn-primary" type="button" (click)="vehicleModal(vehicleTemplate, false)">新增车辆</button>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let vehicle of vehicleInfo">
            <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
              <div class="row">
                <div class="card checkable-card" style="max-width: 20rem;">
                  <div class="card-header">{{vehicle.carBrand}} {{vehicle.carModel}}</div>
                  <div class="card-body text-secondary">
                    <p class="card-text">{{vehicle.carNumber}}、行驶{{vehicle.mileage}}公里、{{vehicle.carAge}}年车龄、评估价格为{{vehicle.pricePotential}}元</p>
                    <a href="javascript:void(0)" class="card-link" (click)="vehicleModal(vehicleTemplate, true, vehicle)">详情</a>
                    <a href="javascript:void(0)" class="card-link" (click)="vehicleModal(vehicleTemplate, false, vehicle)">修改</a>
                    <a href="javascript:void(0)" class="card-link" (click)="delVehicle(vehicle.id)">删除</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="房屋信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <button  class="btn btn-primary" type="button" (click)="houseModal(houseTemplate,false)">新增房产</button>
              </div>
            </div>
          </div>
          <ng-container *ngIf="houseInfo.length > 0">
            <form class="form-horizontal">
              <div class="row">
                <div *ngFor="let house of houseInfo" class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                  <div class="row">
                    <div   class="card checkable-card" style="max-width: 20rem;">
                      <div class="card-header">产权证号：{{house.houseBelongNo}}</div>
                      <div class="card-body text-secondary">
                        <p class="card-text">房产地址：{{house.houseAdress}} <br>评估价格：{{house.pricePotential}} </p>
                        <a href="javascript:void(0)" class="card-link" (click)="houseModal(houseTemplate, true, house)">详情</a>
                        <a href="javascript:void(0)" class="card-link" (click)="houseModal(houseTemplate, false, house)">修改</a>
                        <a href="javascript:void(0)" class="card-link" (click)="delHouse(house.id)">删除</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-container>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="个人征信信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
            <div class="row">
              <div class="card checkable-card" style="max-width: 20rem;">
                <div class="card-header">个人风险报告</div>
                <div class="card-body text-secondary">
                  <p class="card-text">{{riskReport.updateTime || '未查询'}}</p>
                  <ng-container *ngIf="!riskReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="query(creditReport, 1)">获取信用报告</a>
                  </ng-container>
                  <ng-container *ngIf="riskReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="preview(creditReport)">预览</a>
                    <a href="javascript:void(0)" class="card-link" (click)="download(creditReport)">下载</a>
                    <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(creditReport, 1)">重新获取</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
            <div class="row">
              <div ngClass="{}" class="card checkable-card" style="max-width: 20rem;">
                <div class="card-header">个人信用报告</div>
                <div class="card-body text-secondary">
                  <p class="card-text">{{creditReport.updateTime || '未查询'}}</p>
                  <ng-container *ngIf="!creditReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="query(creditReport, 2)">获取信用报告</a>
                  </ng-container>
                  <ng-container *ngIf="creditReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="preview(creditReport)">预览</a>
                    <a href="javascript:void(0)" class="card-link" (click)="download(creditReport)">下载</a>
                    <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(creditReport, 2)">重新获取</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
            <div class="row">
              <div class="card checkable-card" style="max-width: 20rem;">
                <div class="card-header">个人反欺诈报告</div>
                <div class="card-body text-secondary">
                  <p class="card-text">{{antiFraudReport.updateTime || '未查询'}}</p>
                  <ng-container *ngIf="!antiFraudReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="query(creditReport, 3)">获取信用报告</a>
                  </ng-container>
                  <ng-container *ngIf="antiFraudReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="preview(creditReport)">预览</a>
                    <a href="javascript:void(0)" class="card-link" (click)="download(creditReport)">下载</a>
                    <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(creditReport, 3)">重新获取</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
      </seer-collapse-card>
      </div>
    </div>
</div>
<ng-template #vehicleTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      <ng-container *ngIf="(!vehicleReadOnly)&&(!vehicle.id)">新增车辆</ng-container>
      <ng-container *ngIf="(!vehicleReadOnly)&&(vehicle.id)">修改车辆信息</ng-container>
      <ng-container *ngIf="vehicleReadOnly">查看详情</ng-container></h5>
  </div>
  <div class="modal-body">
    <form class="form-horizontal info">
      <form #form4="ngForm">
        <div class="row">
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label  class="col-sm-4 col-md-3 control-label text-right">车辆品牌</label>
              <div class="col-sm-8 col-md-8">
                <input class="form-control number" name="carBrand"  [(ngModel)]="vehicle.carBrand"  maxlength="4"  #carBrand="ngModel" required>
                <p class="text-danger" *ngIf="carBrand.errors?.required">*必填项</p>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label  class="col-sm-4  col-md-3 control-label text-right">车辆型号</label>
              <div class="col-sm-8  col-md-8 ">
                <input class="form-control number" name="carModel"  [(ngModel)]="vehicle.carModel" maxlength="10" #carModel="ngModel" required>
                <p class="text-danger" *ngIf="carModel.errors?.required">*必填项</p>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label  class="col-sm-4 col-md-3 control-label text-right">车架号</label>
              <div class="col-sm-8 col-md-8">
                <input class="form-control number" name="viNumber"  [(ngModel)]="vehicle.viNumber" maxlength="17" #viNumber="ngModel" required>
                <p class="text-danger" *ngIf="viNumber.errors?.required">*必填项</p>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label  class="col-sm-4 col-md-3 control-label text-right">车牌号</label>
              <div class="col-sm-8 col-md-8">
                <input class="form-control number" name="carNumber"  [(ngModel)]="vehicle.carNumber" maxlength="7" #carNumber="ngModel" required>
                <p class="text-danger" *ngIf="carNumber.errors?.required">*必填项</p>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label class="col-sm-4 col-md-3 control-label text-right">登记证号</label>
              <div class="col-sm-8 col-md-8">
                <input class="form-control number" name="carRegNumber" maxlength="14" [(ngModel)]="vehicle.carRegNumber"  #carRegNumber="ngModel" required>
                <p class="text-danger" *ngIf="carRegNumber.errors?.required">*必填项</p>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label  class="col-sm-4 col-md-3 control-label text-right">购车年份（年）</label>
              <div class="col-sm-8 col-md-8">
                <input class="form-control number" name="carAge"  [(ngModel)]="vehicle.carAge" maxlength="4" #carAge="ngModel" required number>
                <p class="text-danger" *ngIf="carAge.errors?.required">*必填项</p>
                <p class="text-danger" *ngIf="carAge.errors?.number">请输入正确年份数值</p>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label  class="col-sm-4 col-md-3 control-label text-right">行驶里程（公里）</label>
              <div class="col-sm-8 col-md-8">
                <input class="form-control number" name="mileage"  [(ngModel)]="vehicle.mileage" maxlength="8" #mileage="ngModel" [range]="[0,99999999]" >
                <p class="text-danger" *ngIf="mileage.errors?.range">请输入小于100000000数值</p>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
            <div class="row">
              <label class="col-sm-4 col-md-3 control-label text-right">评估价格（元）</label>
              <div class="col-sm-8 col-md-8">
                <input class="form-control number" name="pricePotential" maxlength="8" [(ngModel)]="vehicle.pricePotential" #pricePotential="ngModel" [range]="[0,99999999]">
                <p class="text-danger" *ngIf="pricePotential.errors?.range">请输入小于100000000数值</p>
              </div>
            </div>
          </div>

        </div>
      </form>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="!vehicleReadOnly">
      <button type="button" class="btn btn-sx btn-info" [disabled]="!(form4.form.valid)" (click)="saveVehicle(vehicle)">确定</button>
    </ng-container>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>

<ng-template #houseTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      <ng-container *ngIf="(!houseReadOnly)&&(!house.id)">新增房产</ng-container>
      <ng-container *ngIf="(!houseReadOnly)&&(house.id)">修改房产信息</ng-container>
      <ng-container *ngIf="houseReadOnly" >查看详情</ng-container>

    </h5>
  </div>
  <div class="modal-body">
    <form class="form-horizontal info" #form5="ngForm">
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="housePlace" class="col-sm-3 control-label text-right">房产地址</label>
              <div class="col-sm-8">
                <input class="form-control"  [(ngModel)]="house.houseAdress" name="houseAdress" maxlength="30" #houseAdress="ngModel" required>
                <p class="text-danger" *ngIf="houseAdress.errors?.required">*必填项</p>
              </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label  class="col-sm-3 control-label text-right">房屋类型</label>
            <div class="col-sm-8">
              <select class="form-control" name="houseType"  [(ngModel)]="house.houseType" #houseType="ngModel" required
                      dict-select
                      [key]="'HOUSE_TYPE'"
                      [selected]="house.houseType"
                      [topOption]="{itemid:'',itemName:'请选择'}">
              </select>
              <p class="text-danger" *ngIf="houseType.errors?.required">*必填项</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label  class="col-sm-3 control-label text-right">建筑面积（平米）</label>
            <div class="col-sm-8">
              <input class="form-control number" [(ngModel)]="house.area" name="area" maxlength="6" #area="ngModel" #area="ngModel" [range]="[0,999999]" required>
              <p class="text-danger" *ngIf="area.errors?.required">*必填项</p>
              <p class="text-danger" *ngIf="area.errors?.range">请输入小于1000000数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label class="col-sm-3 control-label text-right">竣工年份</label>
            <div class="col-sm-8">
              <input class="form-control number" name="houseAge" [(ngModel)]="house.houseAge" maxlength="4" #houseAge="ngModel" number required>
              <p class="text-danger" *ngIf="houseAge.errors?.required">*必填项</p>
              <p class="text-danger" *ngIf="houseAge.errors?.number">请输入正确年份数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label class="col-sm-3 control-label text-right">尚欠贷余额（元）</label>
            <div class="col-sm-8">
              <input class="form-control number" name="debtMoney"  [(ngModel)]="house.debtMoney" maxlength="11" #debtMoney="ngModel" [range]="[0,99999999999]" required>
              <p class="text-danger" *ngIf="debtMoney.errors?.required">*必填项</p>
              <p class="text-danger" *ngIf="debtMoney.errors?.range">请输入小于1000000000000数值</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label class="col-sm-3 control-label text-right">土地所有证号</label>
            <div class="col-sm-8">
              <input class="form-control number" name="landNo"  [(ngModel)]="house.landNo" maxlength="25" >
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label class="col-sm-3 control-label text-right">房屋所有权证号</label>
            <div class="col-sm-8">
              <input class="form-control number" name="houseBelongNo"  [(ngModel)]="house.houseBelongNo" maxlength="9" #houseBelongNo="ngModel" number  required>
              <p class="text-danger" *ngIf="houseBelongNo.errors?.required">*必填项</p>
              <p class="text-danger" *ngIf="houseBelongNo.errors?.number">请输入数字</p>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label  class="col-sm-3 control-label text-right">评估价格</label>
            <div class="col-sm-8">
              <input class="form-control number" name="pricePotential2" [(ngModel)]="house.pricePotential" maxlength="11" [range]="[0,99999999999]" #pricePotential2="ngModel">
              <p class="text-danger" *ngIf="pricePotential2.errors?.range">请输入小于1000000000000数值</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="!houseReadOnly">
      <button type="button" class="btn btn-sx btn-info" [disabled]="!(form5.form.valid)" (click)="saveHouse(house)">确定</button>
    </ng-container>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
