<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary right-button" [disabled]="forbidSaveBtn" (click)="lock()">锁定/解锁</button>
  <button class="btn btn-primary right-button" [disabled]="forbidSaveBtn" (click)="tradePasswordReset()">交易密码重置</button>
  <button class="btn btn-primary right-button" [disabled]="forbidSaveBtn" (click)="passwordReset()">登录密码重置</button>

</seer-content-top>
<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">
        <seer-collapse-card cardTitle="基本信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true
                            [headerActions]="saveActions"
                            (notify)="basicInfoNotify($event)"
        >
          <form class="form-horizontal">
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="userName" class="col-sm-4 control-label">用户名</label>
                  <div class="col-sm-8 ">
                    <input type="text" class="form-control" name="userName" id="userName" [(ngModel)]="baseInfo.userName" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="trueName" class="col-sm-4 control-label">真实姓名</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="trueName" id="trueName" [(ngModel)]="baseInfo.trueName" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="idNumber" class="col-sm-4 control-label">身份证号</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="idNumber" id="idNumber" [(ngModel)]="baseInfo.idNumber" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="mSex" class="col-sm-4 control-label">性别</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="mSex" placeholder="" [(ngModel)]="baseInfo.mSex" [ngModelOptions]="{standalone: true}"
                            dict-select
                            [key]="'M_SEX'"
                            [selected]="baseInfo.mSex"
                            [topOption]="{itemid:'',itemName:'请选择'}" disabled>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="mAge" class="col-sm-4 control-label">年龄</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="mAge" id="mAge" placeholder="年龄" [(ngModel)]="baseInfo.mAge" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="education" class="col-sm-4 control-label">学历</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="education" placeholder="" [(ngModel)]="baseInfo.education" [ngModelOptions]="{standalone: true}"
                            dict-select
                            [key]="'EDUCATION'"
                            [selected]="baseInfo.education"
                            [topOption]="{itemid:'',itemName:'请选择'}">
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="maritaStatus" class="col-sm-4 control-label">婚姻状况</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="maritaStatus" placeholder="" [(ngModel)]="baseInfo.maritaStatus" [ngModelOptions]="{standalone: true}"
                            dict-select
                            [key]="'MARRAGE_STATUS'"
                            [selected]="baseInfo.maritaStatus"
                            [topOption]="{itemid:'',itemName:'请选择'}">
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="yearIncome" class="col-sm-4 control-label">年收入</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control"  name="yearIncome" id="yearIncome" [(ngModel)]="baseInfo.yearIncome" >
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="socialNo" class="col-sm-4 control-label">社保</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="socialNo" id="socialNo" [(ngModel)]="baseInfo.socialNo" >
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="phoneNumber" class="col-sm-4 control-label">手机号</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="baseInfo.phoneNumber" disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="email" class="col-sm-4 control-label">电子邮件</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="eMail " id="eMail" [(ngModel)]="baseInfo.eMail" >
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label for="houseAbout" class="col-sm-4 control-label">住房情况</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="houseAbout" id="houseAbout" [(ngModel)]="baseInfo.houseAbout" >
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
                <div class="row">
                  <label for="domicilePlace" class="col-sm-4 col-md-2 col-xlg-1 control-label">户口所在地</label>
                  <div class="col-sm-8 col-md-10 col-xlg-10" id="domicilePlace">
                    <seer-address-picker (notify)="domicilePlaceChanged($event)" [defaultItemCode]="baseInfo.domicileDistrict" [defaultAddress]="baseInfo.domicileAddress"></seer-address-picker>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
                <div class="row">
                  <label for="currentResidence" class="col-sm-4 col-md-2 col-xlg-1 control-label">现居住地</label>
                  <div class="col-sm-8 col-md-10 col-xlg-10" id="currentResidence">
                    <seer-address-picker (notify)="currentResidenceChanged($event)" [defaultItemCode]="baseInfo.liveDistrict" [defaultAddress]="baseInfo.liveAddress">
                      <div *ngIf="!disabled" class="col-sm-1 col-md-1 col-lg-12 col-xlg-2" >
                      </div>
                    </seer-address-picker>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label class="col-sm-4 col-md-2 col-xlg-1 control-label"></label>
                  <div class="col-sm-8 col-md-10 col-xlg-10" >
                    <seer-cool-checkbox (click)="shortcut($event)"></seer-cool-checkbox> 同户籍地址
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label for="assetDesc" class="col-sm-4 col-md-2 col-xlg-1 control-label">资产介绍</label>
                  <div class="col-sm-8 col-md-10 col-xlg-11">
                  <textarea class="form-control" name="assetDesc" id="assetDesc" [(ngModel)]="baseInfo.assetDesc" ></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label for="debtDesc" class="col-sm-4 col-md-2 col-xlg-1 control-label">债务介绍</label>
                  <div class="col-sm-8 col-md-10 col-xlg-11">
                    <textarea class="form-control" name="debtDesc" id="debtDesc" [(ngModel)]="baseInfo.debtDesc" ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="紧急联系人" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <seer-simple-table
            #contactTable
            [data]="emergencyContact"
            [titles]="titlesEmergencyContact"
            [hidePagination]="true"
            [actions]="simpleTableActions"
            (notify)="contactModifyNotify($event)"
          >
          </seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="工作信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true
                            [headerActions]="saveActions"
                            (notify)="workInfoNotify($event)">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">公司名称</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="companyName" id="companyName" placeholder="公司名称"
                         [(ngModel)]="workInfo.companyName" >
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="companyType" class="col-sm-4 control-label">公司性质</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="companyType" placeholder="公司性质"
                         [(ngModel)]="workInfo.companyType" >
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="companyScope" class="col-sm-4 control-label">公司规模</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="companyScope" placeholder="公司规模"
                         [(ngModel)]="workInfo.companyScope" >
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="jobPost" class="col-sm-4 control-label">职务</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="jobPost" id="jobPost" placeholder="职务" [(ngModel)]="workInfo.jobPost">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="workYear" class="col-sm-4 control-label">工作年限</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="workYear" id="workYear" [(ngModel)]="workInfo.workYear">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="workTel" class="col-sm-4 control-label">工作电话</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="workTel" name="workTel" [(ngModel)]="workInfo.workTel">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="monthIncome" class="col-sm-4 control-label">月收入</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="monthIncome" name="monthIncome" [(ngModel)]="workInfo.monthIncome">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <div class="row">
                <label for="workAddress" class="col-sm-4 col-md-2 col-xlg-1 control-label">工作地点</label>
                <div class="col-sm-8 col-md-10 col-xlg-11">
                  <input type="text" class="form-control" id="workAddress" name="workAddress" [(ngModel)]="workInfo.workAddress">
                </div>
              </div>
            </div>
          </div>
      </seer-collapse-card>
        <seer-collapse-card cardTitle="账户信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">账户归属</label>
                <div class="col-sm-8 ">
                  <select class="form-control" disabled>
                    <option value="">国汇财富</option>
                    <option value="">巴巴汇</option>
                    <option value="">汇信贷</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">账户用户名</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control"  [(ngModel)]="baseInfo.trueName" disabled>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">开户行</label>
                <div class="col-sm-8 ">
                  <select class="form-control" id="bankNameCode"  [(ngModel)]="accountInfo.bankNameCode" [ngModelOptions]="{standalone: true}"
                          dict-select
                          [key]="'BANK_NAME_CODE'"
                          [selected]="accountInfo.bankNameCode"
                          [topOption]="{itemid:'',itemName:'请选择'}"
                          disabled
                  >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label class="col-sm-4 control-label">银行账户</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="bankNo"  [(ngModel)]="accountInfo.bankNo" disabled>
                </div>
              </div>
            </div>
          </div>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="财务状况" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true
                            [headerActions]="saveActions"
                            (notify)="financialInfoNotify($event)"
        >
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">每月无抵押货款还款额</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="carRepayMonth" [(ngModel)]="financialInfo.unsecuredRepayMonth" >
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">每月信用卡还款金额</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="cardRepayMonth" [(ngModel)]="financialInfo.cardRepayMonth">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">每月房屋按揭金额</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="houseRepayMonth" [(ngModel)]="financialInfo.houseRepayMonth">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label class="col-sm-4 control-label">每月汽车按揭金额</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="unsecuredRepayMonth" [(ngModel)]="financialInfo.carRepayMonth">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label class="col-sm-4 control-label">自有汽车</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="hasCar"  [(ngModel)]="financialInfo.hasCar"
                  >
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              <div class="row">
                <label  class="col-sm-4 control-label">自有房产</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" name="hasHouse"  [(ngModel)]="financialInfo.hasHouse">
                </div>
              </div>
            </div>
          </div>
      </seer-collapse-card>
        <seer-collapse-card cardTitle="车辆信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div *ngIf="!disabled" class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <button class="btn btn-primary" type="button" (click)="vehicleModal(vehicleTemplate, false)">新增车辆</button>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let vehicle of vehicleInfo">
            <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
              <div class="row">
                <div class="card checkable-card" style="max-width: 20rem;">
                  <div class="card-header">{{vehicle.carBrand}} {{vehicle.carModel}}</div>
                  <div class="card-body text-secondary">
                    <p class="card-text">{{vehicle.carNumber}}、行驶{{vehicle.mileage}}公里、{{vehicle.carAge}}年车龄、评估价格为{{vehicle.pricePotential}}元</p>
                    <a href="javascript:void(0)" class="card-link" (click)="vehicleModal(vehicleTemplate, true, vehicle)">详情</a>
                    <a href="javascript:void(0)" class="card-link" (click)="vehicleModal(vehicleTemplate, false, vehicle)">修改</a>
                    <a href="javascript:void(0)" class="card-link" (click)="delVehicle(vehicle.id)">删除</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="房屋信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <div class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <button  class="btn btn-primary" type="button" (click)="houseModal(houseTemplate,false)">新增房产</button>
              </div>
            </div>
          </div>
          <ng-container *ngIf="houseInfo.length > 0">
            <form class="form-horizontal">
              <div class="row">
                <div *ngFor="let house of houseInfo" class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
                  <div class="row">
                    <div   class="card checkable-card" style="max-width: 20rem;">
                      <div class="card-header">产权证号：{{house.houseBelongNo}}</div>
                      <div class="card-body text-secondary">
                        <p class="card-text">房产地址：{{house.houseAdress}} <br>评估价格：{{house.pricePotential}} </p>
                        <a href="javascript:void(0)" class="card-link" (click)="houseModal(houseTemplate, true, house)">详情</a>
                        <a href="javascript:void(0)" class="card-link" (click)="houseModal(houseTemplate, false, house)">修改</a>
                        <a href="javascript:void(0)" class="card-link" (click)="delHouse(house.id)">删除</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-container>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="个人征信信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>
          <!--<seer-table
            #creditTable
            [data]="creditInfo"
            [titles]="titlesCreditInfo"
            [hidePagination]="true"
            [hideAddButton]="true"
            [hideExport]="true"
            [hidePrint]="true"
            [hideCheckbox]="true"
            [hideColumns]="true"
            [hideRemoveAll]="true"
            [showSeq]="true"
            (notify)="creditInfoInfoModifyNotify($event)"
          >
          </seer-table>-->
          <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
            <div class="row">
              <div class="card checkable-card" style="max-width: 20rem;">
                <div class="card-header">个人风险报告</div>
                <div class="card-body text-secondary">
                  <p class="card-text">{{riskReport.updateTime || '未查询'}}</p>
                  <ng-container *ngIf="!riskReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="query(creditReport, 1)">获取信用报告</a>
                  </ng-container>
                  <ng-container *ngIf="riskReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="preview(creditReport)">预览</a>
                    <a href="javascript:void(0)" class="card-link" (click)="download(creditReport)">下载</a>
                    <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(creditReport, 1)">重新获取</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
            <div class="row">
              <div ngClass="{}" class="card checkable-card" style="max-width: 20rem;">
                <div class="card-header">个人信用报告</div>
                <div class="card-body text-secondary">
                  <p class="card-text">{{creditReport.updateTime || '未查询'}}</p>
                  <ng-container *ngIf="!creditReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="query(creditReport, 2)">获取信用报告</a>
                  </ng-container>
                  <ng-container *ngIf="creditReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="preview(creditReport)">预览</a>
                    <a href="javascript:void(0)" class="card-link" (click)="download(creditReport)">下载</a>
                    <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(creditReport, 2)">重新获取</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
            <div class="row">
              <div class="card checkable-card" style="max-width: 20rem;">
                <div class="card-header">个人反欺诈报告</div>
                <div class="card-body text-secondary">
                  <p class="card-text">{{antiFraudReport.updateTime || '未查询'}}</p>
                  <ng-container *ngIf="!antiFraudReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="query(creditReport, 3)">获取信用报告</a>
                  </ng-container>
                  <ng-container *ngIf="antiFraudReport.updateTime">
                    <a href="javascript:void(0)" class="card-link" (click)="preview(creditReport)">预览</a>
                    <a href="javascript:void(0)" class="card-link" (click)="download(creditReport)">下载</a>
                    <a *ngIf="!disabled" href="javascript:void(0)" class="card-link" (click)="requery(creditReport, 3)">重新获取</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
      </seer-collapse-card>
      </div>
    </div>
</div>
<ng-template #vehicleTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      <ng-container *ngIf="(!vehicleReadOnly)&&(!vehicle.id)">新增车辆</ng-container>
      <ng-container *ngIf="(!vehicleReadOnly)&&(vehicle.id)">修改车辆信息</ng-container>
      <ng-container *ngIf="vehicleReadOnly">查看详情</ng-container></h5>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="carBrand" class="col-sm-4 control-label text-right">车辆品牌</label>
            <div class="col-sm-8">
              <input class="form-control" id="carBrand" placeholder="车辆品牌" [(ngModel)]="vehicle.carBrand" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="carModel" class="col-sm-4 control-label text-right">车辆型号</label>
            <div class="col-sm-8">
              <input class="form-control" id="carModel" placeholder="车辆型号" [(ngModel)]="vehicle.carModel" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="viNumber" class="col-sm-4 control-label text-right">车架号</label>
            <div class="col-sm-8">
              <input class="form-control" id="viNumber" placeholder="车架号" [(ngModel)]="vehicle.viNumber" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="carNumber" class="col-sm-4 control-label text-right">车牌号</label>
            <div class="col-sm-8">
              <input class="form-control" id="carNumber" placeholder="车牌号" [(ngModel)]="vehicle.carNumber" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="carRegNumber" class="col-sm-4 control-label text-right">登记证号</label>
            <div class="col-sm-8">
              <input class="form-control" id="carRegNumber" placeholder="登记证号" [(ngModel)]="vehicle.carRegNumber" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="carAge" class="col-sm-4 control-label text-right">车龄</label>
            <div class="col-sm-8">
              <input class="form-control" id="carAge" placeholder="车龄" [(ngModel)]="vehicle.carAge" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="mileage" class="col-sm-4 control-label text-right">行驶里程</label>
            <div class="col-sm-8">
              <input class="form-control" id="mileage" placeholder="行驶里程" [(ngModel)]="vehicle.mileage" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="pricePotential" class="col-sm-4 control-label text-right">评估价格</label>
            <div class="col-sm-8">
              <input class="form-control" id="pricePotential" placeholder="评估价格" [(ngModel)]="vehicle.pricePotential" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="!vehicleReadOnly">
      <button type="button" class="btn btn-sx btn-info" (click)="saveVehicle(vehicle)">确定</button>
    </ng-container>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
<ng-template #houseTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      <ng-container *ngIf="(!houseReadOnly)&&(!house.id)">新增房产</ng-container>
      <ng-container *ngIf="(!houseReadOnly)&&(house.id)">修改房产信息</ng-container>
      <ng-container *ngIf="houseReadOnly" >查看详情</ng-container>

    </h5>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="houseAdress" class="col-sm-4 control-label text-right">房产地址</label>
            <div class="col-sm-8">
              <input class="form-control" id="houseAdress" placeholder="房产地址" [(ngModel)]="house.houseAdress" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="houseType" class="col-sm-4 control-label text-right">房屋类型</label>
            <div class="col-sm-8">
              <select class="form-control" id="houseType" placeholder="" [(ngModel)]="house.houseType" [ngModelOptions]="{standalone: true}"
                      dict-select
                      [key]="'HOUSE_TYPE'"
                      [selected]="house.houseType"
                      [topOption]="{itemid:'',itemName:'请选择'}">
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="area" class="col-sm-4 control-label text-right">建筑面积</label>
            <div class="col-sm-8">
              <input class="form-control" id="area" placeholder="建筑面积" [(ngModel)]="house.area" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="houseAge" class="col-sm-4 control-label text-right">房龄</label>
            <div class="col-sm-8">
              <input class="form-control" id="houseAge" placeholder="房龄" [(ngModel)]="house.houseAge" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="debtMoney" class="col-sm-4 control-label text-right">尚欠贷余额</label>
            <div class="col-sm-8">
              <input class="form-control" id="debtMoney" placeholder="尚欠贷余额" [(ngModel)]="house.debtMoney" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="landNo" class="col-sm-4 control-label text-right">土地所有证号</label>
            <div class="col-sm-8">
              <input class="form-control" id="landNo" placeholder="土地所有证号" [(ngModel)]="house.landNo" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="houseBelongNo" class="col-sm-4 control-label text-right">房屋产权所有证号</label>
            <div class="col-sm-8">
              <input class="form-control" id="houseBelongNo" placeholder="房屋产权所有证号" [(ngModel)]="house.houseBelongNo" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="pricePotential2" class="col-sm-4 control-label text-right">评估价格</label>
            <div class="col-sm-8">
              <input class="form-control" id="pricePotential2" placeholder="评估价格" [(ngModel)]="house.pricePotential" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="!houseReadOnly">
      <button type="button" class="btn btn-sx btn-info" (click)="saveHouse(house)">确定</button>
    </ng-container>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
