<form [formGroup]="form"><!-- (submit)="save()" -->
  <div class="form-page-header">
    <button type="button" class="btn btn-default" (click)="goBack()">返回</button>
    <button class="btn btn-primary" [disabled]="saveButtonState" (click)="handleSaveClick()">保存</button>
  </div>
  <seer-card [title]="title" >
    <div class="form-group ">
        <div class="row">
            <label for="columnSelect" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">所属栏目</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="columnSelect" (click)="openModal(template)" [value]="infoPublishSource.affTypeName || '请选择栏目'" readonly formControlName="column" [equal]="'请选择栏目'">
                <p *ngIf="form.controls.column.errors?.required" class="text-danger">*</p>
                <template #template>
                    <div class="modal-header" style="border-bottom:2px solid #00abff;padding:5px 0; ">
                        <h4 class="modal-title pull-left" style="height:40px; line-height:40px; float:left; text-indent:1em;">选择栏目</h4>
                    </div>
                    <div class="modal-body">
                        <seer-tree
                        (notify)="onTreePick($event)"
                        [permissions]="treePermissions"
                        [nodes]="treeNode"
                        [defaultNodeName]="'新建部门'"
                        [loadingText]="''"
                        >
                        </seer-tree>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="onSave();modalRef.hide()">保存</button>
                        <button type="button" class="btn btn-default" (click)="onCancel(); modalRef.hide()">取消</button>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div class="row">
            <label for="title" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">文章标题</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="title" [(ngModel)]="infoPublishSource.title" formControlName="title" [disabled]="disabled" >
                <p *ngIf="form.controls.title.errors?.required" class="text-danger">*必填项</p>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div class="row">
            <label for="titleLink" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">外部链接</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="titleLink" [(ngModel)]="infoPublishSource.affLinkUrl" [ngModelOptions]="{standalone: true}" >
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div class="row">

          <label class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">缩略图</label>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-1">
            <img src="{{infoPublishSource.affIcon}}" *ngIf="infoPublishSource.affIcon"  style="display:block; width:200px; margin-bottom: 10px" >
            <input type="file" ng2FileSelect [uploader]="uploader" (change)="uploadFile($event)" [disabled]="uploadDisabled" >
            <button (click)="deleteFile()">删除图片</button>
          </div>
        </div>
    </div>
   <!--编辑器  -->
    <div class="form-group ">
        <div class="row">
            <label for="mainBody" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">正文</label>
            <div class="col-sm-11">
              <seer-editor [(data)]="infoPublishSource.affContent" id="mainBody"></seer-editor>
            </div>
        </div>
    </div>
  </seer-card>
</form>
