.contract_label{
  margin-top:10px;
  font-size: 12px;
}

.spbrow{
  margin-top:15px;
}

.header_border {
  border-bottom: solid;
  border-color: #00abff;
}

.header_box{
  background-color: #fbfbfb;
  margin-bottom: 20px;
  margin-left:-25px;
  margin-right:-20px;
  padding:15px;
}

.header_margin{
  margin-top:-10px;
}

label.required:after {
  content: " *";
  color: red;
}
.seer_font{
  font-size: 14px;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
}


.car_box_head {
  background-color: #5db2ff;
  height:40px;
}

.box-border{
  margin:5px;
  padding:5px;
  border:1px #5db2ff solid;
}

.car_box_content {
  background-color: white;
  height:300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.car_box_head_text{
  color:white;
  text-align: center;
  font-size: 18px;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
  padding-top:15px;
}

.car_box_content_text{
  text-align: center;
  font-size: 12px;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
  font-weight:bold;
  padding:0 5px 0 5px;
}

.car_box_content_padding{
  padding-top:30px;
}

.doublespbrow{
  margin-top:30px;
}
.header{
  background-color: white;
  position: relative;
  top:-24px;
  left:-36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:5px;
  margin-right: -100px;
}


@media screen and (max-width: 600px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .car_box_content {
    background-color: white;
    margin-bottom: 20px;
    height:auto;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
