<modal [animation]="true" [backdrop]="true" [componentInstance]="this">
  <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
  </modal-header>
  <modal-body>
    <div class="col-lg-12">
      <select multiple [(ngModel)]="permissionsSelected" (change)="onChange()" style="height: 160px">
        <option *ngFor="let p of permissionsOptions" value="{{p.value}}">{{p.text}}</option>
      </select>
      <hr>
      <div>
        <seer-tree (notify)="onNotify($event)" [permissions]="permissionsResult" [nodes]="nodes" [defaultNodeName]="'新节点哈哈'" [loadingText]="'哈哈加载中...'" [customAllowDrop]="allowDrop"></seer-tree>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-primary" (click)="getOperationRecords()">取得树的操作记录</button>
    <button class="btn btn-primary" (click)="getSelectedNodes()">取得所选节点</button>
    <button type="button" class="btn btn-primary" (click)="closeModal()">取消</button>
  </modal-footer>
</modal>
