
<seer-content-top>
  <button class="btn btn-outline-dark left-button" type="button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary left-button" type="submit"
          [disabled]="forbidSaveBtn || !form1.form.valid" (click)="handleSaveBtnClick()">保存
  </button>
</seer-content-top>
<div class="widgets info">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <seer-collapse-card cardTitle="账户信息" cardClass="with-scroll" [canCollapse]=false>
        <form class="form-horizontal" #form1="ngForm">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <label  class="col-sm-4 col-md-4 col-lg-2 control-label">对公账号</label>
                <div class="col-sm-8  col-md-8 col-lg-10">
                  <input class="form-control"  type="text"  name="accountNo" [(ngModel)]="account.accountNo" #accountNo="ngModel"  required maxlength="30" />
                  <p class="text-danger" *ngIf="accountNo.errors?.required">* 必填项</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <label  class="col-sm-4 col-md-4 col-lg-2 control-label">账户户名</label>
                <div class="col-sm-8  col-md-8 col-lg-10">
                  <input class="form-control"  type="text"  name="accountName" [(ngModel)]="account.accountName" #accountName="ngModel"  required maxlength="30" />
                  <p class="text-danger" *ngIf="accountName.errors?.required">* 必填项</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <label  class="col-sm-4 col-md-4 col-lg-2 control-label">清算行号</label>
                <div class="col-sm-8  col-md-8 col-lg-10">
                  <input class="form-control"  type="text"  name="accountBk" [(ngModel)]="account.accountBk" #accountBk="ngModel"  required maxlength="30" />
                  <p class="text-danger" *ngIf="accountBk.errors?.required">* 必填项</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </seer-collapse-card>
      <form name="form_temp" id="form_temp" method="get" acceptCharset="GBK"   ngNoForm>
        <input type="hidden" name="char_set"   />
        <input type="hidden" name="partner_id"   />
        <input type="hidden" name="version_no" />
        <input type="hidden" name="biz_type"   />
        <input type="hidden" name="sign_type"  />
        <input type="hidden" name="MerBillNo"  />
        <input type="hidden" name="TxnTyp"   />
        <input type="hidden" name="AccountTyp"  />
        <input type="hidden" name="AccountNo"  />
        <input type="hidden" name="AccountName"  />
        <input type="hidden" name="AccountBk" />
        <input type="hidden" name="PageReturnUrl" />
        <input type="hidden" name="BgRetUrl"  />
        <input type="hidden" name="mac"   />
      </form>

    </div>
  </div>
</div>

