

<!--
<tabset style="margin-top:15px;">
  <tab heading='手动发送'>
  <seer-collapse-card>
    <seer-filter
      [hasGlobalFilter]="hasGlobalFilter"
      [filters]="filters"
      (onFiltersChanged)=handleFiltersChanged($event)
      (onSearchBtnClicked)=handleSearchBtnClicked($event)
    ></seer-filter>
  </seer-collapse-card>

  </tab>
  <tab heading='自动发送'>
    <seer-collapse-card>
    <seer-filter
      [hasGlobalFilter]="hasGlobalFilter"
      [filters]="filters"
      (onFiltersChanged)=handleFiltersChanged($event)
      (onSearchBtnClicked)=handleSearchBtnClicked($event)
    ></seer-filter>
  </seer-collapse-card>
  <seer-collapse-card>
    <seer-table
      [data]="datas"
      [titles]="sendTitles"
      [translate]="dict"
      [hideExport]="true"
      [hidePrint]="true"
      [hideColumns]="true"
      [hideRemoveAll]="true"
      (notify)="onChange1($event)"
    ></seer-table>
    </seer-collapse-card>
  </tab>
</tabset>
-->

<seer-collapse-card>
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    [filters]="filters"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleFiltersChanged($event)
  ></seer-filter>

  <seer-table
    [data]="source"
    [titles]="titles"
    [pageNum]="pageInfo.pageNum"
    [pageSize]="pageInfo.pageSize"
    [total]="pageInfo.total"
    [paginationRules]="0"
    (notify)="onChange($event)"
    (changePage)="handlePageChange($event)"
    [hideExport]="true"
    [hidePrint]="true"
    [hideRemoveAll]="true"
    [hideColumns]="true"
  ></seer-table>
</seer-collapse-card>
