@import '../../../../../../../../theme/sass/conf/conf';

body {
  padding-bottom: 0;
  min-height: 100%;
  font-family: 'Open Sans', 'Segoe UI';
  font-size: 13px;
  color: #444;
}

.modal-header {
  border-bottom: 3px solid #fff;
  border-color: #5db2ff !important;
}

.modal-header > .modal-title {
  margin: 0;
  line-height: 1.5;
  font-family: 'Open Sans', 'Segoe UI';
  font-size: 15px;
}

.row {
  width: 100%;
}
.modal-body {
  position: relative;
  padding: 25px;
  height:600px;
  overflow:auto;
}

.modal-body > table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  padding-left: 25px;
  font-family: 'Open Sans', 'Segoe UI';
  font-size: 13px;
}

.modal-body > .table {
  background-color: #fff;
  margin-bottom-: 5;
  border: 1px #1f2021;
  color: #2b2b2b;
}

.modal-body > .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.modal-body > .table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
  border: 1px solid rgba(233, 233, 233, 1) !important;
}

.modal-body > .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.modal-body > .table > tbody > tr > td {
  text-align: left;
}

.caption {
  width: 120px;;
  background-color: #f5f5f5;
  -webkit-box-shadow: 2px 0 0 #737373 inset;
  -moz-box-shadow: 2px 0 0 #737373 inset;
  box-shadow: 2px 0 0 #737373 inset;
  margin-bottom:10px;
}

.row-title-check {
  padding: 8px 10px 8px 8px;
  position: relative;
  display: inline-block;
  font-size:13px;
  color: #646464;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  margin-bottom:10px;
}

.row-title-check:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  width: 4px;
  max-width: 4px;
  overflow: hidden;
  background-color: #2dc3e8;
}




