<form (ngSubmit)="submitForm()">
  <div class="header">
    <button type="button" class="btn btn-default" (click)="cancel()">返回列表</button>
    <button type="submit" class="btn btn-info" (click)="allInput()">保存</button>
  </div>
  <div class="header_box header_margin">
    <div class="row">
      <div class="col-xs-12">
        <label class="seer_font">{{title}}</label>
      </div>
    </div>
    <div class="row">
      <div class="header_border"></div>
    </div>
    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label required">合同对账编号</label>
        </div>
        <div class="col-xs-3">
          <input class="form-control" readonly="readonly" type="text" name="contractAccount.reconciliationNum" [(ngModel)]="contractAccount.reconciliationNum" required/>
        </div>
      </div>
    </div>
    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label required">供应商</label>
        </div>
        <div class="col-xs-3">
          <select class="form-control" name="supplierId" (change)="supplierChange(supplierId)" [(ngModel)]="supplierId">
            <option value="">请选择</option>
            <option *ngFor="let data of supplierIdDict" [value]="data.id">{{data.supplierName}}</option>
          </select>
        </div>
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label required">品牌</label>
        </div>
        <div class="col-xs-3">
          <!--<input class="form-control" type="text" name="contractAccount.brandId" [(ngModel)]="contractAccount.brandId" required/>-->
          <select class="form-control" name="contractAccount.brandId" [(ngModel)]="contractAccount.brandId">
            <option value="">请选择</option>
            <option *ngFor="let data of brandIdDict" [value]="data.id">{{data.brandName}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label required">客户名称</label>
        </div>
        <div class="col-xs-3">
          <!--<input class="form-control" type="text" name="goods.goodsName" [(ngModel)]="contractAccount.soNum" required/>-->
          <select class="form-control" (change)="typeChange(customerId)" [(ngModel)]="customerId" name="customerId">
            <option value="">请选择</option>
            <option *ngFor="let data of customerList" [ngValue]="data.id">{{data.customerName}}</option>
          </select>
        </div>
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label required">门店名称</label>
        </div>
        <div class="col-xs-3">
          <!--<input class="form-control" type="text" name="goods.goodsNumber" [(ngModel)]="contractAccount.soNum" required/>-->
          <select class="form-control" [(ngModel)]="contractAccount.customerStoreId" (change)="customerStoreChange(contractAccount.customerStoreId)" name="contractAccount.customerStoreId">
            <option value="">请选择</option>
            <option *ngFor="let data of customerStoreList" [value]="data.id">{{data.storeName}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label required">对账开始时间</label>
        </div>
        <div class="col-xs-3">
          <input class="form-control" name="contractAccount.startTime" [(ngModel)]="contractAccount.startTime" close-on-select="true" date-only="true" ng2-datetime-picker/>
        </div>
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label required">对账结束时间</label>
        </div>
        <div class="col-xs-3">
          <input class="form-control" name="contractAccount.endTime" [(ngModel)]="contractAccount.endTime" close-on-select="true" date-only="true" ng2-datetime-picker/>
        </div>
      </div>
    </div>
    <hr class="wide"/>
    <div class="row spbrow">
      <div class="col-sm-12">
        <div id="accordionOne" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  销售订单列表
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <div class="table-toolbar">
                  <button type="button" class="btn btn-default" [disabled]="!contractAccount.customerStoreId" multi-picker (notify)="onMultiPickerNotifyOrder($event)"
                          [data]="orderSelectSource" [titles]="orderTitles" [title]="orderTitle">提取销售订单</button>
                </div>
                <ba-card baCardClass="with-scroll">
                  <div class="row">
                    <div class="col-xs-12">
                      <seerlisttable
                        [data]="orderSource"
                        [titles]="orderTitles"
                      ></seerlisttable>
                    </div>
                  </div>
                </ba-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">金额小计：{{orderTotalAmount}} 元</div>
    <hr class="wide" />
    <div class="row spbrow">
      <div class="col-sm-12">
        <div id="accordionTwo" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  合同列表
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                <div class="table-toolbar">
                  <button type="button" class="btn btn-default" [disabled]="!customerId" multi-picker (notify)="onMultiPickerNotifyContract($event)"
                          [data]="contractSelectSource" [titles]="contractTitles" [title]="contractTitle">提取销售合同</button>
                </div>
                <ba-card baCardClass="with-scroll">
                  <div class="row">
                    <div class="col-xs-12">
                      <seerlisttable
                        [data]="contractSource"
                        [titles]="contractTitles"
                      ></seerlisttable>
                    </div>
                  </div>
                </ba-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">合同返利率：{{contractTotalRebate}}%</div>
    <hr class="wide" />
    <div class="footer"><strong>合同返利：{{contractRebateMoney}} 元</strong></div>
  </div>
</form>
