<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary left-button" 
    [disabled]="(editType === 'edit' && !myForm.form.dirty) || !myForm.form.valid || uploadSys.length === defaultSysLength || forbidSaveBtn" 
    (click)="handleSaveBtnClick()"
    >保存</button>
</seer-content-top>
<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card cardTitle="资源管理" cardClass="with-scroll" [canCollapse]=false>
        <form class="form-horizontal info" #myForm="ngForm">
          <div class="row">

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuId" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单编号</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="menuId"
                    name="menuId"
                    [(ngModel)]="resource.menuId"
                    disabled
                    />
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuName" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单名称</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="menuName"
                    name="menuName"
                    #menuName='ngModel'
                    [required]=true
                    maxlength="10"
                    [(ngModel)]="resource.menuName"
                    />
                    <p class="text-danger" *ngIf="menuName.errors?.required">*必填项</p>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuPid" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单父级</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <select
                    class="form-control"
                    id="menuPid"
                    name="menuPid"
                    #menuPid='ngModel'
                    required
                    [required]=true
                    [(ngModel)]="resource.menuPid">
                    <option *ngFor="let resource of resourceList" [value]="resource.menuId">{{ resource.menuName }}</option>
                  </select>
                  <p class="text-danger" *ngIf="menuPid.errors?.required">*必填项</p>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuType" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单类型</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <select
                    class="form-control"
                    id="menuType"
                    [(ngModel)]="resource.menuType"
                    name="menuType"
                    #menuType='ngModel'
                    [required]=true
                    dict-select
                    [key]="'MENU_TYPE'"
                    >
                  </select>
                  <p class="text-danger" *ngIf="menuType.errors?.required">*必填项</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="hrefUrl" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">链接地址</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="hrefUrl"
                    name="hrefUrl"
                    #hrefUrl='ngModel'
                    [required]=true
                    [(ngModel)]="resource.hrefUrl"
                    maxlength="50"
                    />
                    <p class="text-danger" *ngIf="hrefUrl.errors?.required">*必填项</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="sortNum" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单顺序</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="sortNum"
                    name="sortNum"
                    #sortNum='ngModel'
                    [required]=true
                    [(ngModel)]="resource.sortNum"
                    maxlength="3"
                    />
                    <p class="text-danger" *ngIf="sortNum.errors?.required">*必填项</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuStatus" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">有效状态</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <select
                    class="form-control"
                    id="menuStatus"
                    [(ngModel)]="resource.menuStatus"
                    name="menuStatus"
                    #menuStatus='ngModel'
                    dict-select
                    [required]=true
                    [key]="'MENU_STATUS'"
                    >
                  </select>
                  <p class="text-danger" *ngIf="menuStatus.errors?.required">*必填项</p>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="icon" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单图标</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="icon"
                    name="icon"
                    [(ngModel)]="resource.icon"
                    maxlength="20"
                    />
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuDesc" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单说明</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="menuDesc"
                    name="menuDesc"
                    [(ngModel)]="resource.menuDesc"
                    maxlength="200"
                    />
                </div>
              </div>
            </div>


            <div class="col-sm-12 col-md-6 form-group">
                <div class="row">
                    <label for="remarks" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">备注</label>
                    <div class="col-sm-8 col-md-7 col-lg-6">
                    <input
                        type="text"
                        class="form-control"
                        id="remarks"
                        name="remarks"
                        [(ngModel)]="resource.remarks"
                        />
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <div class="row">
                    <label for="systemList" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">所属系统</label>
                    <div class="col-sm-8 col-md-7 col-lg-6" >
                        <label *ngFor="let system of systemList" style="margin-right: 14px;"  >
                            <seer-cool-checkbox
                                [class]="form-control"
                                [(checked)]="system.isChecked"
                                (change)="present()"
                            ></seer-cool-checkbox> {{ system.systemName }}
                        </label>
                        <p class="text-danger">*必填项</p>
                    </div>
                    
                </div>
            </div>

            


          </div>
        </form>
      </seer-collapse-card>
    </div>
  </div>
</div>










