<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary left-button"[disabled]="(editType === 'edit' && !myForm.form.dirty) || !myForm.form.valid || forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
</seer-content-top>
<div class="widgets">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card title="资源管理" cardClass="with-scroll" [canCollapse]=false>
        <form class="form-horizontal" #myForm="ngForm">
          <div class="row">

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuId" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单编号</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="menuId"
                    name="menuId"
                    placeholder="菜单编号"
                    [required]=true
                    [(ngModel)]="resource.menuId"
                    />
                    <!-- <p *ngIf="category.dirty && category.errors?.required">required error</p> -->
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuName" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单名称</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="menuName"
                    name="menuName"
                    placeholder="菜单名称"
                    [required]=true
                    [(ngModel)]="resource.menuName"
                    />
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuPid" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单父级</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <select
                    class="form-control"
                    id="menuPid"
                    name="menuPid"
                    [required]=true
                    [(ngModel)]="resource.menuPid">
                    <option *ngFor="let resource of resourceList" [value]="resource.menuId">{{ resource.menuName }}</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuType" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单类型</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <select
                      class="form-control"
                      id="menuType"
                      [(ngModel)]="resource.menuType"
                      name="menuType"
                      dict-select
                      [key]="'MENU_TYPE'"
                      >
                    </select>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="hrefUrl" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">链接地址</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="hrefUrl"
                    name="hrefUrl"
                    placeholder="链接地址"
                    [required]=true
                    [(ngModel)]="resource.hrefUrl"
                    />
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="sortNum" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单顺序</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="sortNum"
                    name="sortNum"
                    placeholder="菜单顺序"
                    [(ngModel)]="resource.sortNum"
                    />
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuStatus" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">有效状态</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <select
                    class="form-control"
                    id="menuStatus"
                    [(ngModel)]="resource.menuStatus"
                    name="menuStatus"
                    dict-select
                    [key]="'MENU_STATUS'"
                    >
                  </select>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="icon" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单图标</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="icon"
                    name="icon"
                    placeholder="菜单图标"
                    [(ngModel)]="resource.icon"
                    />
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="menuDesc" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">菜单说明</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="menuDesc"
                    name="menuDesc"
                    placeholder="菜单说明"
                    [(ngModel)]="resource.menuDesc"
                    />
                </div>
              </div>
            </div>
            

            <div class="col-sm-12 col-md-6 form-group">
              <div class="row">
                <label for="remarks" class="col-sm-3 col-md-4 col-lg-3 col-xlg-2 control-label required">备注</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    id="remarks"
                    name="remarks"
                    placeholder="备注"
                    [(ngModel)]="resource.remarks"
                    />
                </div>
              </div>
            </div>


          </div>
        </form>
      </seer-collapse-card>
    </div>
  </div>
</div>
    <!-- <ba-card [title]="title" baCardClass="with-scroll">
      <form class="row" #resourceForm="ngForm" >
        <div class="col-sm-12" *ngIf="_editType=='edit'">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
          <div class="form-group">
            <label for="menuId">菜单编号</label>
            <input type="text" class="form-control" id="menuId" name="menuId" [(ngModel)]="resource.menuId" readonly="readonly">
          </div>
        </div>
        </div>
    
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuName">菜单名称</label>
              <input type="text" class="form-control" id="menuName" placeholder="" [(ngModel)]="resource.menuName" name="menuName" required>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuPid">菜单父编号</label>
              <input type="text" class="form-control" id="menuPid" placeholder="" [(ngModel)]="resource.menuPid"  name="menuPid" required >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuType">菜单类型</label>
              <input type="text" class="form-control" id="menuType" placeholder="" [(ngModel)]="resource.menuType"  name="menuType" required >
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="hrefUrl">链接地址</label>
              <input type="text" class="form-control" id="hrefUrl" placeholder="" [(ngModel)]="resource.hrefUrl"  name="hrefUrl" required >
            </div>
          </div>
    
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="sortNum">菜单顺序</label>
              <input type="text" class="form-control" id="sortNum" placeholder="" [(ngModel)]="resource.sortNum"  name="sortNum" required >
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuStatus">有效状态</label>
              <input type="text" class="form-control" id="menuStatus" placeholder="" [(ngModel)]="resource.menuStatus" name="menuStatus" required >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="target">target</label>
              <input type="text" class="form-control" id="target" placeholder="" [(ngModel)]="resource.target"  name="target"  value="{resource.target}" required >
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="icon">菜单图标</label>
              <input type="text" class="form-control" id="icon" placeholder="" [(ngModel)]="resource.icon" name="icon" required >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="menuDesc">菜单说明</label>
              <input type="text" class="form-control" id="menuDesc" placeholder="" [(ngModel)]="resource.menuDesc" name="menuDesc" required >
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="remarks">备注</label>
              <input type="text" class="form-control" id="remarks" placeholder="" [(ngModel)]="resource.remarks"  name="target" required >
            </div>
          </div>
        </div>
      </form>
    </ba-card>
      </div>
      /
    </div> -->










