
<div style="margin:10px 30px; background: #c12e2a">
  <seer-card>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <seer-collapse-card title="借款统计" cardClass="with-scroll" >
          <div class="row" style="border-bottom:1px solid #ededed;margin-bottom: 10px">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              借款申请笔数:2
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              成功借款笔数:1
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              失败借款笔数:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              借款申请金额:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              成功借款金额:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              失败借款金额:
            </div>
          </div>
          <div class="row" style="border-bottom:1px solid #ededed;margin-bottom: 10px">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              已还笔数:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              已还本金:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              已还利息:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              待还笔数:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              待还本金:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              待还利息:
            </div>
          </div>
          <div class="row" style="">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              逾期已还笔数:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              逾期已还本息:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              逾期未还笔数:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              逾期未还本息:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              提前还款笔数:
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
              提前还款本息:
            </div>
          </div>
        </seer-collapse-card>
        <seer-collapse-card title="借款记录" cardClass="with-scroll"  >
          <seer-simple-table
            [data]="loansRecord"
            [titles]="titlesLoansRecord"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
          >
          </seer-simple-table>
        </seer-collapse-card>
      </div>
    </div>
  </seer-card>
</div>
