@import '../../../theme/sass/conf/conf';

.person_label{
  margin-top:20px;
  float:right;
}
.staff_select{
  margin-top: 20px;
  margin-left: -20px;
}
.staff_role{
  margin-top: 75px;
}
.staff_div{
  margin-top:-15px;
}
.staff_picture{
  margin-top: 10px;
}
.person_space{
  margin-top: 10px;
}

.org_list_space{
  margin-top: 13px;
}

.cognate_top{
  margin-top: 0px;
}
.cognate_mid{
  margin-top: 15px;
}
.cognate_foot{
  margin-top: 20px;
}

.cognate_top_label{
  margin-top: 0px;
}
.cognate_mid_label{
  margin-top: 40px;
}
.cognate_foot_label{
  margin-top: 100px;
}

.person_cognate{
  margin-top: 20px;
}

.person_td{
  width: 250px;
}

.car_label{
  margin-top:10px;
}

.spbrow{
  margin-top:15px;
}

.header_border {
  border-bottom: solid;
  border-color: #00abff;
}

.header_box{
  background-color: white;
  margin-bottom: 50px;
}

label.required:after {
  content: " *";
  color: red;
}


.picture-group {
  border: 1px dashed #b8b8b8;
  width: 202px;
  height: 202px;
  position: relative;
  cursor: pointer;
.picture-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}
i {
  display: none;
  position: absolute;
  font-size: 32px;
  background: $default;
  cursor: pointer;
  color: $primary;
  top: -11px;
  right: -11px;
  height: 26px;
  border-radius: 50%;
  &:before {
   line-height: 26px;
 }
&:hover {
   color: $danger;
 }
}
a.change-picture {
  display: none;
  width: 202px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 200ms ease-in-out;
  color: $default-text;
  text-decoration: none;
  position: absolute;
  bottom: -1px;
  left: -1px;
  line-height: 32px;
  text-align: center;
}
&:hover {
i {
  display: block;
}
.change-picture {
  display: block;
}
}

.loading {
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
}



.header{
  background-color: white;
  position: relative;
  top:-24px;
  left:-36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:5px;
  margin-right: -100px;
}
.card{position:relative;display:block;margin-bottom:.75rem;background-color:#fff;border-radius:.25rem;border:1px solid rgba(0,0,0,.125)}
.frame{
  background-color: white;
  position: relative;
  top:-18px;
  left:-5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:5px;
  margin-right: -20px;
}

.searchFrame{
  background-color: white;
  position: relative;
  top:-15px;
  left:-20px;
  margin-right: -35px;
  padding: 7px 15px;
}
.btn-search{
  margin-left:20px;
}
.table-head{
  margin-top:5px;
  margin-bottom: 5px;
}
.seer-table-padding{
  padding-right:7px;
  padding-left:3px
}
.btn-default, .btn:focus, .btn-default:focus {
  color: #444;
  background-color: #fff;
  border-color: #ccc;

}

.seer_link{
  margin-bottom: -10px !important;
  padding-top: 7px !important;
  padding-bottom: 8px !important;
  padding-left:  15px !important;
  padding-right:  15px !important;
  border-left: 0 !important;
}
