<seer-collapse-card title="审批信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true (notify)="handleLoanCardNotify($event)">
  <form class="form-horizontal">
    <div class="row">
      <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
        <div class="row">
          <label for="actionType" class="col-sm-4 control-label">审批意见</label>
          <div class="col-sm-8">
            <!--
            <select class="form-control" id="actionType" placeholder="" [(ngModel)]="actionType" [ngModelOptions]="{standalone: true}"
                    dict-select
                    [key]="'ACTION_TYPE'"
                    [selected]="103">
            </select>
            -->
            <select class="form-control" id="actionType" placeholder="" [(ngModel)]="actionType" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of nextNodes" value="{{item.actionType}}">{{item.nodeName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
        <div class="row">
          <div class="col-sm-12">
            <select *ngIf="103 != actionType" class="form-control" id="repaymentMethod" [(ngModel)]="reason" placeholder="请选择原因" [ngModelOptions]="{standalone: true}">
              <option value="">请选择原因</option>
              <option value="基本信息问题">基本信息问题</option>
              <option value="基本信息问题">借款信息问题</option>
              <option value="用问题">费用问题</option>
              <option value="抵押物问题">抵押物问题</option>
              <option value="审批资料问题">审批资料问题</option>
              <option value="其他">其他</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
        <div class="row">
          <label for="comments" class="control-label col-sm-1 col-md-2 col-lg-2 col-xlg-1 ">备注</label>
          <div class="col-sm-11 col-md-10 col-lg-10 col-xlg-11">
            <textarea class="form-control" id="comments" [(ngModel)]="comments" [ngModelOptions]="{standalone: true}" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 84px;"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</seer-collapse-card>
