<div class="widgets">
  <div style="margin-bottom: 24px;">
    <button class="btn btn-primary" (click)="handleBackBtnClick()">返回</button>
    <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal">
        <seer-collapse-card title="职位基本信息" cardClass="with-scroll" [canCollapse]=true>

          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffNo" class="col-sm-4 control-label">员工编号</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffNo" placeholder="员工编号" [(ngModel)]="staff.staffNo" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="orgName" class="col-sm-4 control-label">公司团队</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="orgName" placeholder="公司团队" [(ngModel)]="staff.orgName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">职位</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="" placeholder="职位" [(ngModel)]="staff.orgName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">工资卡号</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="" placeholder="工资卡号" [(ngModel)]="staff.orgName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffState" class="col-sm-4 control-label">员工状态</label>
                <div class="col-sm-8 ">
                  <select class="form-control person_space"  id="staffState"
                          dict-select
                          [key]="'STAFF_STATE'"
                          [selected]="staff.staffState"
                          [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                          [(ngModel)]="staff.staffState">
                  </select>

                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">入职时间</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="" placeholder="入职时间" [(ngModel)]="staff.staffState" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">离职时间</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="" placeholder="离职时间" [(ngModel)]="staff.staffState" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">合同类型</label>
                <div class="col-sm-8 ">
                  <select class="form-control person_space"  id=""
                          dict-select
                          [key]="'STAFF_STATE'"
                          [selected]="staff.staffState"
                          [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                          [(ngModel)]="staff.staffState">
                  </select>

                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">合同编号</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="" placeholder="合同编号" [(ngModel)]="staff.orgName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">合同签订日期</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="" placeholder="合同签订日期" [(ngModel)]="staff.staffState" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="" class="col-sm-4 control-label">合同结束日期</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="" placeholder="合同结束日期" [(ngModel)]="staff.staffState" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>

        </seer-collapse-card>
        <seer-collapse-card title="个人基本信息" cardClass="with-scroll" [canCollapse]=true>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffName" class="col-sm-4 control-label">姓名</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffName" placeholder="姓名" [(ngModel)]="staff.staffName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffGender" class="col-sm-4 control-label">性别</label>
                <div class="col-sm-8 ">

                  <select type="email" class="form-control" name="staffGender" id="staffGender" [(ngModel)]="staff.staffGender" dict-select required
                          [key]="'STAFF_GENDER'"
                          [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                          [selected]="staff.staffGender" >
                  </select>

                </div>
              </div>
            </div>
          </div>
        </seer-collapse-card>
        <seer-collapse-card title="学历技能信息" cardClass="with-scroll" [canCollapse]=true>
          <seer-simple-table
            [titles]=titlesEducation
            [data]=data
          ></seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card title="家庭主要关系" cardClass="with-scroll" [canCollapse]=true>
          <seer-simple-table
            [titles]=titlesFamily
            [data]=data
          ></seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card title="主要工作经历" cardClass="with-scroll" [canCollapse]=true>
          <seer-simple-table
            [titles]=titlesBusinessHistory
            [data]=data
          ></seer-simple-table>
        </seer-collapse-card>
      </form>
    </div>
  </div>
  <div dynamic-component></div>
