<div class="widgets">
  <div style="margin-bottom: 24px;">
    <button class="btn btn-primary" (click)="handleBackBtnClick()">返回</button>
    <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal">
        <seer-collapse-card title="职位基本信息" cardClass="with-scroll" [canCollapse]=true>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffNo" class="col-sm-4 control-label">员工编号</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffNo"  [(ngModel)]="staff.staffNo" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="orgName" class="col-sm-4 control-label">公司团队</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="orgName"  [(ngModel)]="staff.orgName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffPosition" class="col-sm-4 control-label">职位</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffPosition" [(ngModel)]="staff.staffPosition" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="bankCard" class="col-sm-4 control-label">工资卡号</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="bankCard" placeholder="工资卡号" [(ngModel)]="staff.orgName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffState" class="col-sm-4 control-label">员工状态</label>
                <div class="col-sm-8 ">
                  <select type="email" class="form-control" name="contractType" id="staffState" [(ngModel)]="staff.staffState" dict-select required
                          [key]="'STAFF_STATE'"
                          [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                          [selected]="staff.staffState" >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffEntryDate" class="col-sm-4 control-label">入职时间</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="staffEntryDate" [(ngModel)]="staff.staffEntryDate" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffDimissionDate" class="col-sm-4 control-label">离职时间</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="staffDimissionDate"  [(ngModel)]="staff.staffDimissionDate" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="contractType" class="col-sm-4 control-label">合同类型</label>
                <div class="col-sm-8 ">
                  <select type="email" class="form-control" name="contractType" id="contractType" [(ngModel)]="staff.contractType" dict-select required
                          [key]="'STAFF_CONTRACT_TYPE'"
                          [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                          [selected]="staff.contractType" >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="contractId" class="col-sm-4 control-label">合同编号</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="contractId"  [(ngModel)]="staff.contractId" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="contractBeginTime" class="col-sm-4 control-label">合同签订日期</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="contractBeginTime" [(ngModel)]="staff.contractBeginTime" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="contractEndTime" class="col-sm-4 control-label">合同结束日期</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="contractEndTime"  [(ngModel)]="staff.contractEndTime" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>
        </seer-collapse-card>
        <seer-collapse-card title="个人基本信息" cardClass="with-scroll" [canCollapse]=true>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffName" class="col-sm-4 control-label">姓名</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffName" placeholder="姓名" [(ngModel)]="staff.staffName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffGender" class="col-sm-4 control-label">性别</label>
                <div class="col-sm-8 ">
                  <select type="email" class="form-control" name="staffGender" id="staffGender" [(ngModel)]="staff.staffGender" dict-select required
                          [key]="'STAFF_GENDER'"
                          [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                          [selected]="staff.staffGender" >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffBirthday" class="col-sm-4 control-label">出生日期</label>
                <div class="col-sm-8 ">
                  <input type="date" class="form-control" id="staffBirthday"  [(ngModel)]="staff.staffBirthday" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffOrigin" class="col-sm-4 control-label">籍贯</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffOrigin"  [(ngModel)]="staff.staffOrigin" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffNation" class="col-sm-4 control-label">民族</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffNation"  [(ngModel)]="staff.staffNation" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffCensusRegister" class="col-sm-4 control-label">户籍地</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffCensusRegister"  [(ngModel)]="staff.staffCensusRegister" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="isMarried" class="col-sm-4 control-label">婚否</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="isMarried"  [(ngModel)]="staff.isMarried" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="PoliticalStatus" class="col-sm-4 control-label">政治面貌</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="PoliticalStatus"  [(ngModel)]="staff.PoliticalStatus" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="healthCondition" class="col-sm-4 control-label">健康状况</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="healthCondition"  [(ngModel)]="staff.healthCondition" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffPhone" class="col-sm-4 control-label">手机号码</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffPhone"  [(ngModel)]="staff.staffPhone" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="staffIDnumber" class="col-sm-4 control-label">身份证号</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="staffIDnumber"  [(ngModel)]="staff.staffIDnumber" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="certificate" class="col-sm-4 control-label">证件</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="certificate"  [(ngModel)]="staff.certificate" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-6">
              <div class="row">
                <label for="residence" class="col-sm-2 control-label">现居住地</label>
                <div class="col-sm-10 ">
                  <input type="text" class="form-control" id="residence"  [(ngModel)]="staff.residence" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>

          </div>
        </seer-collapse-card>
        <seer-collapse-card title="学历技能信息" cardClass="with-scroll" [canCollapse]=true>
          <seer-table
            [data]="staff.educationalBackground"
            [titles]="titlesEducation"
            [translate]="translate"
          ></seer-table>
        </seer-collapse-card>
        <seer-collapse-card title="家庭主要关系" cardClass="with-scroll" [canCollapse]=true>
          <seer-table
            [data]="staff.family"
            [titles]="titlesFamily"
            [translate]="translate"
          ></seer-table>
        </seer-collapse-card>
        <seer-collapse-card title="主要工作经历" cardClass="with-scroll" [canCollapse]=true>
          <seer-table
            [data]="staff.businessExperience"
            [titles]="titlesBusinessHistory"
            [translate]="translate"
          ></seer-table>
        </seer-collapse-card>
        </form>
        </div>
        </div>
<div dynamic-component></div>
