
.icon-transfer-check:before{
  content:'债权转让审核';
  font-size: 12px;
  line-height: 12px;
  color:#fff;
}

:host /deep/ {
  .table-actions{
    .popover {
      display: none;
    }
    .popover-container {
      display: none;
    }
    .popover-content {
      padding:0;
      display: none;
    }
    .bs-popover-top .arrow, .bs-popover-bottom .arrow {
      display: none;
      &:after{
        display: none;
      }
    }
    .popover.popover-top .popover-arrow, .popover.bs-tether-element-attached-bottom .popover-arrow{
      display: none;
    }
    .table-action {
      display: inline-block;
      background: #5db2ff;
      color: #f00;
      border-radius: 2px;
      padding: 1px 5px 3px 5px;
      &.icon-public:before{
        content:'项目发布';
        font-size: 12px;
        line-height: 12px;
        color:#fff;
      }
      &.icon-transfer-check:before{
        content:'债权转让审核';
        font-size: 12px;
        line-height: 12px;
        color:#fff;
      }
      &.icon-abortive:before{
        content:'流标';
        font-size: 12px;
        line-height: 12px;
        color:#fff;
      }
      &.icon-full-check:before{
        content:'满标审核';
        font-size: 12px;
        line-height: 12px;
        color:#fff;
      }

    }
  }

}
