<div *ngIf="!currentcontract" class="header_box header_margin">
  <div class="row">
    <div class="col-xs-12">
      <label class="seer_font">查询区域</label>
    </div>
  </div>
  <div class="row">
    <div class="header_border">

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-sm-4">
      <label class=" contract_label">签订起始</label>
      <input
        class="form-control"
        [(ngModel)]="search.startDate"
        close-on-select="true"
        date-only="true"
        readonly
        ng2-datetime-picker
      />
    </div>

    <div class="col-sm-4">
      <label class="contract_label">签订结束</label>
      <input
        class="form-control"
        [(ngModel)]="search.endDate"
        close-on-select="true"
        date-only="true"
        readonly
        ng2-datetime-picker
      />
    </div>


    <div class="col-sm-4">
      <label class=" contract_label">合同类型</label>
   <!--   <select class="form-control" name="sel"
              [(ngModel)]="search.contractType">
        <option *ngFor="let x of translate.contractType"
                [ngValue]="x.dictValueId">
          {{x.dictValueName}}
        </option>
      </select>-->
      <select class="form-control"
              dict-select
              [key]="'CONTRACT_TYPE'"
              [selected]="search.contractType"
              [topOption]="{dictValueId:'',dictValueName:'全部'}"
              [(ngModel)]="search.contractType"></select>
    </div>

  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <button type="button" class="btn btn-info"
              (click)="searchByDate()"
              [disabled]="!search.startDate&&!search.endDate&&!search.contractType"
      >搜索
      </button>
      <button type="button" class="btn btn-default"
              (click)="cancel()"
      >重置
      </button>
    </div>
  </div>

</div>

<div class="header_box" *ngIf="!currentcontract">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <seertable
          [data]="data"
          [titles]="titles"
          (notify)="onChange($event)"
          [translate]="translate"
        ></seertable>
      </div>
    </div>
  </div>
</div>


<contractEditComponent
  (notify)="diaplayList($event)"
  [currentcontract]="currentcontract"
></contractEditComponent>





