@import '../../../../../../theme/sass/conf/conf';

.contract_label{
  margin-top:10px;
  font-size: 10px;
}

.spbrow{
  margin-top:15px;
}

.header{
  background-color: white;
  position: relative;
  top:-24px;
  left:-36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:5px;
  margin-right: -100px;
}

.header_border {
  border-bottom: solid;
  border-color: #00abff;
}

.header_box{
  background-color: white;
  margin-bottom: 20px;
  margin-left:-25px;
  margin-right:-20px;
  padding:15px;
}

.header_margin{
  margin-top:-10px;
}

.seer_font{
  font-size: 14px;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
}

label.required:after {
  content: " *";
  color: red;
}

.input-group-btn{
  font-size: 14px;
}

.input-group-btn > .btn{
  height: 35px;
  margin-left: -1px !important;
}

tabset > ul{
  margin-left: -25px !important;
  margin-right: -20px;
  height: 30px;
}
.nav-tabs{
  margin-bottom:10px;
}
.input-group{
  margin-bottom: 0 !important;
}
