<div class="row">
  <ba-card [title]="title" baCardClass="with-scroll">
    <div class="col-sm-12">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputRoleName">角色名</label>
          <input type="text" class="form-control" id="inputRoleName" placeholder="角色名">
        </div>
      </div>
      <!--<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">-->
        <!--<div class="form-group">-->
          <!--<label for="inputEmail">Email</label>-->
          <!--<input type="email" class="form-control" roleId="inputEmail" placeholder="Email">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">-->
        <!--<div class="form-group">-->
          <!--<label for="inputAge">Age</label>-->
          <!--<input type="number" class="form-control" roleId="inputAge" placeholder="Age">-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary">搜索</button>
        <button type="button" class="btn btn-primary">新增</button>
        <button type="button" class="btn btn-primary">批量删除</button>
      </div>
    </div>
  </ba-card>
</div>
