@import '../../sass/conf/conf';

$sidebar-scroll-width: 4px;
$angle-left: "\f100";
$angle-right: "\f101";

.al-sidebar {
  position: fixed;
  top: $top-height;
  left: 0;
  bottom: 0;
  z-index: 1040;
  
  display: block;
  width: $sidebar-width;
  background-color: $sidebar;
  //border: 1px solid $input-border;
  border-width: 1px;
  border-style: solid;
  border-color: $border $input-border;
  transition: width 0.5s ease;
}

.al-sidebar-list {
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 0;
  list-style: none;
  >.al-sidebar-list-item:first-child {
    border-top: none;
  }
}

.al-sidebar-list-item {
  display: block;
  position: relative;
  float: none;
  padding: 0;
  &.selected:not(.with-sub-menu) {
    a.al-sidebar-list-link {
      color: $default-text;
      b {
        color: $default-text;
      }
    }
  }
}


  
  

.ba-sidebar-item-expanded {
  > ul.al-sidebar-sublist {
    display: block;
  }

}

.al-sidebar-list-item, .ba-sidebar-sublist-item {
  &.ba-sidebar-item-expanded {
    > .al-sidebar-list-link {
      b {
        transform: rotate(180deg);
      }
    }

    > .al-sidebar-sublist {
      display: block;
    }
  }
}

a.al-sidebar-list-link {
  position: relative;
  overflow: hidden;
  display: block;
  padding-left: ($sidebar-item-width - $sidebar-icon-size) / 2;
  height: $sidebar-item-height - 2px;
  text-shadow: none;
  font-size: 12px;
  text-decoration: none;
  color: $default-text;
  line-height: $sidebar-item-height - 2px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
  i {
    margin-right: ($sidebar-item-width - $sidebar-icon-size) / 2;
    width: $sidebar-icon-size;
    font-size: $sidebar-icon-size;
    color: $icon-color-light;
    display: inline-block;
  }
  span {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  b {
    display: block;
    opacity: 1;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 14px;
    position: absolute;
    right: ($sidebar-item-width - 14px) / 2;
    top: ($sidebar-item-height - 14px) / 2;
    padding: 0;
    text-align: center;
    color: $icon-color-light;
    transition: transform 0.2s linear;

  }
}

a.al-sidebar-list-all {
  display: block;
  height: $sidebar-item-height - 2px;
  padding-left: ($sidebar-item-width - $sidebar-icon-size) / 2;
  text-shadow: none;
  font-size: 12px;
  text-decoration: none;
  color: $default-text;
  line-height: $sidebar-item-height - 2px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    color: $primary;
    i {
      color: $primary;
    }
  }
  i {
    display: block;
    opacity: 1;
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;
    line-height: $sidebar-icon-size;
    text-shadow: none;
    font-size: $sidebar-icon-size;
    position: absolute;
    right: ($sidebar-item-width - $sidebar-icon-size) / 2;
    top: ($sidebar-item-height - $sidebar-icon-size) / 2;
    padding: 0;
    text-align: center;
    color: $icon-color-light;
    transition: transform 0.2s linear;
  }
  span {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}

.al-sidebar-list {
  > .al-sidebar-list-item {
    border-bottom: 1px solid $border;
  }
  > ba-menu-item {
    > .al-sidebar-list-item {
      border-bottom: 1px solid $border;
      &.ba-sidebar-item-expanded {
        border-bottom: none;
        > .al-sidebar-list-link {

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -($sidebar-width - 20px) / 2;
            width: $sidebar-width - 20px;
            height: 1px;
            box-sizing: border-box;
            border-bottom: 1px dotted $border;
          }
        }
        
      }
      
    }
  }
}

.slimScrollBar, .slimScrollRail {
  border-radius: 0 !important;
  width: $sidebar-scroll-width !important;
  left: $sidebar-width - $sidebar-scroll-width;
}

@mixin layout-collapsed() {
  .al-main {
    margin-left: $sidebar-item-width;
  }

  .al-footer {
    padding-left: 83px;
  }
}

@mixin default-sublist() {
  padding: 0;
  list-style: none;
  position: relative;
  display: none;
  &.expanded {
    display: block;
  }
  > ba-menu-item > li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: none;
    position: relative;
    a {
      display: block;
      text-shadow: none;
      font-size: 12px;
      text-decoration: none;
      color: $help-text;
      padding-left: $sidebar-item-width;
      height: $sidebar-item-height;
      line-height: $sidebar-item-height;
      list-style: square;
      &:before {
        content: '-';
        display: inline-block;
        margin-right: 4px;
        color: $help-text;
      }
      &:hover {
        color: $primary;
      }
    }
    &.selected:not(.with-sub-menu) > a {
      &:hover {
        color: $sidebar-text;
      }
      & > span {
      }
    }

  }
}

.al-sidebar-sublist {
  @include default-sublist();
}



.sidebar-hover-elem {
  width: $sidebar-scroll-width;
  background: $primary;
  position: absolute;
  top: -150px;
  left: $sidebar-width - $sidebar-scroll-width;
  transition: all 0.5s ease;
  transition-property: top, height;
  height: 42px;
  display: block;
  z-index: 3;
}

.sidebar-select-elem {
  display: block;
  top: 94px;
}

@mixin sidebar-collapsed() {
  .al-sidebar {
    width: $sidebar-item-width;

    .icon-angle-down,
    .icon-angle-up {
      opacity: 0;
    }
    
    .al-sidebar-sublist {
      position: absolute;
      top: -1px;
      left: $sidebar-item-width;
      //@include bg-translucent-dark(0.8);
      width: 0;
      display: block;
      overflow: hidden;
      transition: width 0.5s ease;
      &.slide-right {
        width: 135px;
      }
      &:before {
        display: none;
      }
      li {
        &:before {
          display: none;
        }
        a {
          padding-left: 18px;
          padding-right: 18px;
          min-width: 130px;
          white-space: nowrap;
        }
      }
    }

    .sidebar-hover-elem, .sidebar-select-elem {
      left: 48px;
    }
  }
  a.al-sidebar-list-all {
    span {
      opacity: 0;
    }
  }
  a.al-sidebar-list-link {
    span {
      opacity: 0;
    }
  }
}

@mixin sidebar-hidden() {
  .al-sidebar {
    width: 0;
  }
  .sidebar-hover-elem, .sidebar-select-elem {
    display: none;
  }
}

@mixin sidebar-overlap() {
  .al-sidebar {
    width: $sidebar-width;
    //@include bg-translucent-dark(0.75);
    // transition: width 0.5s ease;
    .icon-angle-down,
    .icon-angle-up {
      opacity: 1;
    }

    .al-sidebar-sublist {
      @include default-sublist();
      top: auto;
      left: auto;
      background: none;
      width: auto;
      overflow: visible;
      transition: none;
    }

    .sidebar-hover-elem, .sidebar-select-elem {
      left: $sidebar-width - 4;
      transition: left 0.5s ease;
    }

    a.al-sidebar-list-all {
      span {
        
      }
    }
  }
}

.menu-collapsed {
  .slimScrollBar, .slimScrollRail {
    display: none!important;
  }
}

@media (min-width: 1200px) {
  .menu-collapsed {
    @include layout-collapsed();
  }
}

@media (min-width: $resXS + 1) {
  .menu-collapsed {
    @include sidebar-collapsed();
  }
}

@media (max-width: 1200px) and (min-width: $resXS) {
  @include layout-collapsed();
}

@media (max-width: 1200px) {
  @include sidebar-overlap();
}

@media (max-width: $resXS) {
  .menu-collapsed {
    @include sidebar-collapsed();
  }
  .al-main {
    margin-left: $sidebar-item-width;
  }
  .al-footer {
    padding-left: 0;
  }
}
