@import '../../sass/conf/conf';
$tree-node-height: 36px;
:host /deep/ {
  button.options-button {
    height: 20px;
    width: 20px;
    border: #9f999c solid 1px;
    background-color: rgba(180, 173, 177, 0.2);
    cursor: pointer;
    //margin: 0 3px;
    line-height: 18px;
    color: #6e6e6e;
  }

  button.top-button {
    height: 30px;
    width: 30px;
    border: #9f999c solid 1px;
    background-color: rgba(180, 173, 177, 0.2);
    cursor: pointer;
    margin: 3px 8px;
    line-height: 30px;
    color: #6e6e6e;
  }

  .children-count {
    line-height: 20px;
    margin-left: 5px;
  }

  .icon-padding {
    font-size: 20px;
    line-height: 20px;
    vertical-align: text-bottom;
    padding-left: 1px;
    padding-right: 7px;
  }

  .virtual-checkbox {
    font-size: 16px;
    cursor: pointer;
    vertical-align: text-bottom;
  }

  .filter {

    width: 180px;
  }

  .filter:focus {
    color: #666666;
    box-shadow: none;
    border-color: #6eafe6;
    background: #ffffff;
    outline: 0;
  }

  .tree-children {
    padding-left: 20px
  }

  .tree {
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* non-prefixed version, currently not supported by any browser */
    margin-top: 10px;
    font-size: 12px;
  }

  .tree-children.tree-children-no-padding {
    padding-left: 0
  }

  .tree-children {
    padding-left: 0
  }

  .node-content-wrapper {
    min-width: 180px;
    flex: 1 0;
    height: $tree-node-height;
    line-height: 24px;
    display: inline-block;
    
    padding: ($tree-node-height - 24px)/2 7px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color .15s, box-shadow .15s;
  }

  .node-content-wrapper:hover {
  }
  treenodecontent {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .node-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .tree-node-active > .node-wrapper > .node-content-wrapper {
    background: rgba(0, 0, 0, .2)
  }

  .tree-node-active.tree-node-focused > .node-wrapper > .node-content-wrapper {
    background: rgba(0, 0, 0, .2)
  }

  .tree-node-focused > .node-wrapper > .node-content-wrapper {
    //background: rgba(0, 0, 0, .05)
  }

  /* .node-content-wrapper:hover {
    background: rgba(0, 0, 0, .15) !important;
  } */

  .tree-node-active > .node-wrapper > .node-content-wrapper, .tree-node-focused > .node-content-wrapper, .node-content-wrapper:hover {
    //background: rgba(0, 0, 0, .15)
  }

  .node-content-wrapper.is-dragging-over {
    background: #ddffee;
    box-shadow: inset 0 0 1px #999;
  }

  .node-content-wrapper.is-dragging-over-disabled {
    opacity: 0.5
  }

  .toggle-children-wrapper {
    padding: 0 3px 0 0;
    cursor: pointer;
  }
  .node-wrapper:hover > .node-content-wrapper > treenodecontent > .tree-node-actions {
    display: block;
  }
  .tree-node-actions {
    position: relative;
    display: none;
    > .tree-node-action-list {
      display: none;
      position: absolute;
      right: 0;
      top: 20px;
    }
    &:hover {
      .tree-node-action-list {
        display: block;
      }
    }
    span {
      font-weight: bold;
    }
  }
  .toggle-children {
    display: inline-block;
    position: relative;
    height: $tree-node-height;
    line-height: $tree-node-height;
    width: 30px;
    text-align: center;
    border-left: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: $help-text;
  }
  .tree-node-collapsed > .node-wrapper > .toggle-children-wrapper > .toggle-children {
    &:after {
      content: '+';
    }
  }
  .tree-node-expanded > .node-wrapper > .toggle-children-wrapper > .toggle-children {
    &:after {
      content: '-';
    }
  }
  .toggle-children i {
    display: none;
  }

  .toggle-children-placeholder {
    display: inline-block;
    position: relative;
    /* top: 1px; */
    padding-right: 15.4px;
    /* padding-left: 5px; */
  }

  .node-drop-slot {
    display: block;
    height: 2px;
    width: 100%
  }

  .node-drop-slot.is-dragging-over {
    background: #ddffee;
    height: 28px;
    border: 2px dotted #888;
  }

  //.node-content-wrapper, .tree-children {
  //  position: relative;
  //}
  //
  //.node-content-wrapper::before, .tree-children::after {
  //  content: "";
  //  position: absolute;
  //}
  //
  //.node-content-wrapper::before {
  //  border-bottom: 1px solid lightgrey;
  //  border-left: 1px solid lightgrey;
  //  height: 29px;
  //  top: -17px;
  //  width: 15px;
  //  left: -28px;
  //}
  //
  //.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  //  width: 25px;
  //}
  //
  //.tree-children::after {
  //  border-left: 1px solid lightgrey;
  //  height: 100%;
  //  top: -16px;
  //  left: -12px;
  //}
  //
  //.tree-node-level-1:last-child{}
  //
  ////treenode:last-child > .tree-node > .tree-children::after {
  ////  border-left: none;
  ////}
  //
  //.toggle-children {
  //  z-index: 1;
  //}
}

