<div class="header">
  <button type="button" class="btn btn-default" (click)="backList()">返回列表</button>
  <button type="submit" class="btn btn-info"  (click)="submitForm()">保存</button>
</div>


  <seer-card [title]="title" >
      <div class="row spbrow">
        <div class="col-xs-12">
          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label required">品牌名称</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="brandName" placeholder="" [(ngModel)]="brand.brandName" name="brandName"   required >
          </div>

          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label required" >品牌简称</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="brandShortName" placeholder="" [(ngModel)]="brand.brandShortName"  name="brandShortName" required >
          </div>
        </div>
      </div>



      <div class="row spbrow">
        <div class="col-xs-12">
          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label required">品牌编号</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="brandNumber" placeholder="" [(ngModel)]="brand.brandNumber" name="brandNumber"   required >
          </div>

          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label " >品牌地区</label>
          </div>
          <div class="col-xs-3">
            <select class="form-control" id="brandCountry"  [(ngModel)]="brand.brandCountry" name="brandCountry"  required >
              <option value="">请选择</option>
              <option value="01">国内</option>
              <option value="02">国外</option>
            </select>
          </div>

        </div>
      </div>










      <!--01：国内-->
      <!--02：国外-->




      <div class="row spbrow">
        <div class="col-xs-12">
          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label ">原产地</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="brandCity" placeholder="" [(ngModel)]="brand.brandCity"  name="resourceIcon"   required >
          </div>

          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label " >合作方式</label>
          </div>
          <div class="col-xs-3">

            <select class="form-control" id="brandMode"  [(ngModel)]="brand.brandMode" name="brandMode"  required >
              <option value="">请选择</option>
              <option value="01">账期</option>
              <option value="02">现金</option>
            </select>
          </div>

        </div>
      </div>




      <div class="row spbrow">
        <div class="col-xs-12">
          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label ">供应商</label>
          </div>
          <div class="col-xs-3">
            <!--<input type="text" class="form-control" id="supplierId" placeholder="" [(ngModel)]="brand.supplierId" name="supplierId"   required >-->
            <div class="input-group">
              <input type="text" class="form-control" readonly="readonly" id="supplierId" [(ngModel)]="brand.supplierId"   name="supplierId" style="display: none">
              <input type="text" class="form-control" readonly="readonly" id="supplierName"  [(ngModel)]="brand.supplierName"   name="supplierName">

                  <supplierClientPicker class="input-group-btn" (notify)="onSelectSupplier($event)"
                                        [type]="'supplier'"
                  ></supplierClientPicker>

            </div>



          </div>

          <!--<div class="col-xs-offset-1 col-xs-2">-->
            <!--<label class="pull-right contract_label required" >合同编号</label>-->
          <!--</div>-->
          <!--<div class="col-xs-3">-->
            <!--<input type="text" class="form-control" id="contractId" placeholder="" [(ngModel)]="brand.contractId"  name="resourcePermission"  >-->
          <!--</div>-->

          <!--<div class="col-xs-offset-1 col-xs-2">-->
            <!--<label class="pull-right contract_label " >所属部门</label>-->
          <!--</div>-->
          <!--<div class="col-xs-3">-->

            <!--<div class="input-group">-->
              <!--<input type="text" class="form-control" readonly type="text" [(ngModel)]="brand.relatedOrgName" id="relatedOrgName" name="staffName" placeholder=""/>-->
              <!--<input style="display: none" type="text" class="form-control" [(ngModel)]="brand.relatedOrgId" name="relatedOrgId"/>-->
              <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-default" (click)="loadOrgList()"><i class="fa fa-search" aria-hidden="true"></i></button>-->
              <!--</span>-->
            <!--</div>-->

          <!--</div>-->


        </div>
      </div>


      <div class="row spbrow">
        <div class="col-xs-12">
          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label ">品牌状态</label>
          </div>
          <div class="col-xs-3">
            <select class="form-control" id="validState"  [(ngModel)]="brand.brandState" name="validState" required >
              <option value="">请选择</option>
              <option value="01">使用</option>
              <option value="02">停用</option>
            </select>
          </div>


          <div class="col-xs-offset-1 col-xs-2">
            <label class="pull-right contract_label">送货周期</label>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="deliveryCycle" placeholder="" [(ngModel)]="brand.deliveryCycle" name="deliveryCycle"   required >
          </div>
        </div>




        <!--<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">-->
          <!--<div class="form-group">-->
            <!--<label for="isDelete">删除标识</label>-->

            <!--<select class="form-control" id="isDelete"  [(ngModel)]="resource.isDelete" name="isDelete" required >-->
              <!--<option value="00" selected>否</option>-->
              <!--<option value="01">是</option>-->
            <!--</select>-->

          <!--</div>-->
        <!--</div>-->

      </div>

      <!--<div class="col-sm-12">-->
        <!--<div class="col-sm-12">-->

          <!--<button type="button" class="btn btn-primary" (click)="backList()">返回列表</button>-->
          <!--<button type="submit" class="btn btn-primary">保存</button>-->

        <!--</div>-->
      <!--</div>-->

  </seer-card>


<div dynamic-component></div>







