@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';


:host /deep/ {
    .modal .modal-dialog.changePassWordModal {
        min-width: 600px;
    }

    .userImage {
        width: 80px;
        height: 80px;
        margin: 20px auto;
    
        preload-image {
            width: 80px;
            height: 80px;

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
    }

    .userinfo {
        > div {
            width: 300px; 
            text-align: center; 
            padding: 5px 0;
            margin: 0 auto;

            > * {
                display: inline-block;
            }

            > label {
                width: 126px; 
                text-align: right; 
                margin-right: 20px;
            }

            > span {
                width: 150px; 
                text-align: left;
            }
        }
    }
}


.page-top {
  position: fixed;
  z-index: 1000;
  width: 100%;
  min-width: $resMin;
  height: $page-top-height;
  background-color: $default;
  border-bottom: 1px solid $input-border;
  &.hide {
    transform: translateY(-100%);
  }
  .dropdown-toggle::after {
    display: none;
  }
}

.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}

.brand {
  position: relative;
  float: left;
  margin-right: $card-content-padding-horizontal;
  width: $sidebar-width;
  height: $page-top-height;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    width: 1px;
    height: 20px;
    background-color: $input-border;
  }
}
.logo {
  $logo-height: 51px;
  display: block;
  margin-top: ($page-top-height - $logo-height) / 2;
  margin-left: 18px;
  img {
    height: $logo-height;
  }
}
.active-page {
  float: left;
  height: $page-top-height;
  font-size: 18px;
  line-height: $page-top-height;
}
.active-page-icon {
  margin-right: 10px;
  color: $icon-color-light;
}
.user-profile {
  float: right;
  min-width: 310px;
  margin: ($page-top-height - 32px) / 2 30px 0 0;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  border: 0;
  opacity: 1;
  position: relative;
  .dropdown {
    float: left;
  }

  ul.profile-dropdown:after {
    bottom: 100%;
    right: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-right: 28px;
  }
  a {
    display: inline-block;
  }
  /deep/ img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

}
.profile-welcome {
  float: right;
  margin-left: 8px;
  margin-bottom: 0;
  max-width: 96px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $default-text;
}
@media screen and (max-width: $resXS) {
  .profile-welcome {
    display: none;
  }
}
a.refresh-data {
  color: $sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: $page-top-height*1.1;
  color: #ffffff;
  padding: 0;
  float: left;
  margin-left: 25px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 136px;
  }
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
}

.profile-toggle-link{
  cursor: pointer;
}

.hello-login-name{
  float: right;
  margin: 5px -30px 0 -15px;
  color: #ffffff;
}

.password-modal {
  .control-label {
    text-align: right;
  }
}

