<div
  class="page-top clearfix"
  #pageTop
  baScrollPosition
  scroll-direction
  maxHeight="50"
  (scrollChange)="scrolledChanged($event)"
  [ngClass]="{scrolled: isScrolled, hide: isHidden}"
  (onScroll)="handleScroll($event)"
  [style.transform]="'translateY(' + _offsetTop + 'px)'"
  >
  <div class="brand">
    <a class="logo"><img src="../../../../assets/img/logo.png"></a>
  </div>
  <div class="active-page">
    <i class="active-page-icon {{activePageIcon}}"></i><span class="active-page-title">{{ activePageTitle }}</span>
  </div>
  <div class="user-profile clearfix">
    
    <div class="al-user-profile">
      <div class="dropdown">
        <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
          <preload-image [path]="user.avatar || ''" [defaultPath]="('default_avatar' | baProfilePicture: 'jpg')"></preload-image>
          <div class="profile-welcome">{{user.name}}</div>
        </a>
        <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
          <li class="dropdown-item"><i class="dropdown-arr"></i></li>
          <li class="dropdown-item"><a href><i class="fa fa-user"></i>个人信息</a></li>
          <li class="dropdown-item"><a href (click)="onChangePassword()"><i class="fa fa-cog"></i>修改密码</a></li>
          <li class="dropdown-item"><a href (click)="logout()"><i class="fa fa-power-off"></i>退出登录</a></li>
        </ul>
      </div>
      
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
 
</div>
<div dynamic-component></div>
