<div  class="header_box header_margin">
  <div class="row">
    <div class="col-xs-12">
      <label class="seer_font">商品分析</label>
    </div>
  </div>
  <div class="row">
    <div class="header_border">

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-sm-4">
      <label class=" contract_label">开始日期</label>
      <input
        class="form-control"
        close-on-select="true"
        date-only="true"
        readonly
        ng2-datetime-picker
      />
    </div>






  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <button type="button" class="btn btn-info"
      >搜索
      </button>
      <button type="button" class="btn btn-default"
      >重置
      </button>
    </div>
  </div>

</div>

<div class="header_box" >
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="radarChartData"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>










