<modal [animation]="animation" [backdrop]="backdrop">
  <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
  </modal-header>
  <modal-body>


    <table class="table table-bordered">
      <tbody>
      <tr>
        <td>客户门店名称</td>
        <td colspan="3">{{customerStore.storeName}}</td>

      </tr>
      <tr>
        <td>渠道/业态</td>
        <td colspan="3">{{customerStore.channelId}}</td>
      </tr>

      <tr>
        <td>门店级别</td>
        <td colspan="3">{{customerStore.storeLevel}}</td>
      </tr>


      <tr>
        <td>门店地址</td>
        <td colspan="3">{{customerStore.storeAddress}}</td>
      </tr>


      <tr>
        <td>送货地址</td>
        <td colspan="3">{{customerStore.storeDcAddress}}</td>
      </tr>

      </tbody>
    </table>


    <!--<div class="col-sm-12">-->
      <!--<div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">-->
        <!--<div class="form-group">-->
          <!--<label for="storeName" class="control-label">客户门店名称</label>-->
          <!--<input type="text" class="form-control"  [(ngModel)]="customerStore.storeName" id="storeName" readonly>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-12">-->
      <!--<div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">-->
        <!--<div class="form-group">-->
          <!--<label for="channelId" class="control-label">渠道/业态</label>-->
          <!--<input type="text" class="form-control"  [(ngModel)]="customerStore.channelId" id="channelId" readonly>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="col-sm-12">-->
      <!--<div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">-->
        <!--<div class="form-group">-->
          <!--<label for="storeLevel" class="control-label">门店级别</label>-->
          <!--<input type="text" class="form-control"  [(ngModel)]="customerStore.storeLevel" id="storeLevel" readonly>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-12">-->
      <!--<div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">-->
        <!--<div class="form-group">-->
          <!--<label for="storeAddress" class="control-label">门店地址</label>-->
          <!--<input type="text" class="form-control"  [(ngModel)]="customerStore.storeAddress" id="storeAddress" readonly>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="col-sm-12">-->
      <!--<div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">-->
        <!--<div class="form-group">-->
          <!--<label for="storeDcAddress" class="control-label">送货地址</label>-->
          <!--<input type="text" class="form-control"  [(ngModel)]="customerStore.storeDcAddress" id="storeDcAddress" readonly>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


  </modal-body>
  <modal-footer>
    <!--<button type="button" class="btn btn-primary" (click)="onSave()">保存</button>-->
    <!--<button type="button" class="btn btn-primary" (click)="onEdit()">确认</button>-->
    <button type="button" class="btn btn-default" (click)="onDestroy()">取消</button>
  </modal-footer>
</modal>
