
/* * {
  background-color: #1C2B36;
} */

.card-content[_ngcontent-c11]{  padding: 15px 10px;}
.card > .card-body{  padding: 0;  }
.form-control2{  border: none; border-bottom: 1px solid #ccc; width: 80px;}

/*@media (min-width: 992px) {
	.modal-lg {
	    max-width: 900px;
	}
}*/
.control-label{ text-align: right; padding-top: 5px}
.readMe{ color:#d9534f; padding: 10px 0; line-height: 20px; font-size: 12px }
.text-danger{ text-align: left}
