
.workflow {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  overflow-x: auto;
}

.workflow.workflow-tabbed {
  background: #fbfbfb
}

.workflow.workflow-tabbed ul li {
  padding: 0 30px;
  background-color: #fbfbfb
}

.workflow.workflow-tabbed ul li .chevron {
  display: none
}

.workflow.workflow-tabbed ul li .chevron:before {
  display: none
}

.workflow.workflow-tabbed ul li.pass {
  background-color: #fff
}

.workflow.workflow-tabbed ul li.active {
  background: #fff
}

.workflow.workflow-tabbed ul li.refuse {
  background: #fff
}

.workflow.workflow-wired {
  padding-top: 10px;
  display: block;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #eee
}

.workflow.workflow-wired ul {
  display: table;
  width: 100%;
  position: relative
}

.workflow.workflow-wired ul li {
  display: table-cell;
  text-align: center;
  background-color: #fff;
  width: 20%;
  padding: 0;
  margin: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease
}

.workflow.workflow-wired ul li .chevron {
  display: none
}

.workflow.workflow-wired ul li .chevron:before {
  display: none
}

.workflow.workflow-wired ul li.pass {
  background-color: #fff
}

.workflow.workflow-wired ul li.pass .step:before {
  font-size: 22px;
  line-height: 36px
}

.workflow.workflow-wired ul li.pass:hover {
  background-color: #fff
}

.workflow.workflow-wired ul li.refuse {
  background-color: #fff
}

.workflow.workflow-wired ul li.refuse .step:before {
  font-size: 22px;
  line-height: 36px
}

.workflow.workflow-wired ul li.refuse:hover {
  background-color: #fff
}

.workflow.workflow-wired ul li.active {
  background-color: #fff
}

.workflow.workflow-wired ul li .step {
  border-width: 2px;
  width: 40px;
  height: 40px;
  line-height: 34px;
  font-size: 15px;
  z-index: 2;
  background-color: #fff
}

.workflow.workflow-wired ul li .title {
  display: block;
  margin-top: 4px;
  margin-bottom: 6px;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  z-index: 104;
  text-align: center;
  table-layout: fixed;
  -ms-word-wrap: break-word;
  word-wrap: break-word
}

.workflow.workflow-wired ul li:before {
  display: block;
  content: "";
  width: 100%;
  height: 2px !important;
  font-size: 0;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative !important;
  top: 25px;
  z-index: 1 !important
}

.workflow.workflow-wired ul li:first-child:before {
  max-width: 51%;
  left: 50%
}

.workflow.workflow-wired ul li:last-child:before {
  max-width: 50%;
  width: 50%
}

.workflow ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  width: 4000px
}

.workflow ul.previous-disabled li.pass {
}

.workflow ul.previous-disabled li.pass:hover {
  background: #f3f3f3;
}

.workflow ul.previous-disabled li.pass:hover .chevron:before {
  border-left-color: #f3f3f3
}

.workflow ul.previous-disabled li.refuse {
}

.workflow ul.previous-disabled li.refuse:hover {
  background: #f3f3f3;
}

.workflow ul.previous-disabled li.refuse:hover .chevron:before {
  border-left-color: #f3f3f3
}

.workflow ul li {
  float: left;
  margin: 0;
  padding: 0 20px 0 30px;
  line-height: 46px;
  position: relative;
  background: #f5f5f5;
  color: #d0d0d0;
  font-size: 16px;
  -webkit-transition: all .218s ease;
  -moz-transition: all .218s ease;
  -o-transition: all .218s ease;
  transition: all .218s ease
}

.workflow ul li .step {
  border: 2px solid #e5e5e5;
  color: #ccc;
  font-size: 13px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  margin-right: 10px
}

.workflow ul li .chevron {
  border: 24px solid transparent;
  border-left: 14px solid #d4d4d4;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1
}

.workflow ul li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #f5f5f5;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
  -webkit-transition: all .218s ease;
  -moz-transition: all .218s ease;
  -o-transition: all .218s ease;
  transition: all .218s ease
}

.workflow ul li.pass {
  background: #f5f5f5;
  color: #444
}

.workflow ul li.pass:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -1px;
  height: 2px;
  max-height: 2px;
  overflow: hidden;
  background-color: #a0d468;
}

.workflow ul li.pass:hover {
  background: #eee;
}

.workflow ul li.pass:hover .chevron:before {
  border-left: 14px solid #eee
}

.workflow ul li.pass .chevron:before {
  border-left: 14px solid #f5f5f5
}

.workflow ul li.pass .step {
  color: #a0d468;
  border-color: #a0d468
}

.workflow ul li.pass .step:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  //content: "";
  background-color: #fff;
  z-index: 3;
  font-family: FontAwesome;
  font-size: 12px;
  color: #a0d468
}

.workflow ul li.active {
  background: #fff;
  color: #262626
}

.workflow ul li.active .step {
  border-color: #2dc3e8;
  color: #2dc3e8
}

.workflow ul li.active:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -1px;
  height: 2px;
  max-height: 2px;
  overflow: hidden;
  background-color: #2dc3e8;
}


/***/
.workflow ul li.refuse {
  background: #f5f5f5;
  color: #444
}

.workflow ul li.refuse:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -1px;
  height: 2px;
  max-height: 2px;
  overflow: hidden;
  background-color: #d47154;
}

.workflow ul li.refuse:hover {
  background: #eee;
}

.workflow ul li.refuse:hover .chevron:before {
  border-left: 14px solid #eee
}

.workflow ul li.refuse .chevron:before {
  border-left: 14px solid #f5f5f5
}

.workflow ul li.refuse .step {
  color: #d47154;
  border-color: #d47154
}

.workflow ul li.refuse .step:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  //content: "";
  background-color: #fff;
  z-index: 3;
  font-family: FontAwesome;
  font-size: 12px;
  color: #d47154
}
/***/

.workflow ul li.active .chevron:before {
  border-left: 14px solid #fff
}

.workflow ul li .badge {
  margin-right: 8px
}

.workflow ul li:first-child {
  -webkit-border-radius: 2px 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 0 0 0;
  -moz-background-clip: padding;
  border-radius: 2px 0 0 0;
  background-clip: padding-box;
  padding-left: 20px
}
