<!--<div class="header_box header_margin">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<label class="seer_font">查询区域</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="header_border"></div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">品牌名称</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" id="brandId" [(ngModel)]="brandId">-->
        <!--<option value="">请选择</option>-->
        <!--<option *ngFor="let data of brandIdDict" [value]="data.brandNumber">{{data.brandName}}</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">商品分类</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" id="goodsType" [(ngModel)]="goodsType">-->
        <!--<option value="">请选择</option>-->
        <!--<option *ngFor="let data of goodsTypeDict" [value]="data.dictValueId">{{data.dictValueName}}</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">是否赠品</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" [(ngModel)]="isGift">-->
        <!--<option value="">请选择</option>-->
        <!--<option *ngFor="let data of isGiftDict" [value]="data.dictValueId">{{data.dictValueName}}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-sm-1">-->
      <!--<label class="pull-right contract_label">是否物料</label>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
      <!--<select class="form-control" [(ngModel)]="isMaterial">-->
        <!--<option value="">请选择</option>-->
        <!--<option *ngFor="let data of isMaterialDict" [value]="data.dictValueId">{{data.dictValueName}}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row spbrow">-->
    <!--<div class="col-xs-12">-->
      <!--&lt;!&ndash;<div class="col-xs-1"></div>&ndash;&gt;-->
      <!--<button type="button" class="btn btn-primary" (click)="searchGoods()">搜索</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<seer-card [title]="title">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>品牌名称</label>
        <select class="form-control" [(ngModel)]="brandId">
          <option value="">请选择</option>
          <option *ngFor="let data of brandIdDict" [value]="data.id">{{data.brandName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>商品分类</label>
        <select class="form-control" [(ngModel)]="goodsType">
          <option value="">请选择</option>
          <option *ngFor="let data of goodsTypeDict" [value]="data.dictValueId">{{data.dictValueName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>是否赠品</label>
        <select class="form-control" [(ngModel)]="isGift">
          <option value="">请选择</option>
          <option *ngFor="let data of isGiftDict" [value]="data.dictValueId">{{data.dictValueName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>是否赠品</label>
        <select class="form-control" [(ngModel)]="isMaterial">
          <option value="">请选择</option>
          <option *ngFor="let data of isMaterialDict" [value]="data.dictValueId">{{data.dictValueName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row col-sm-12">
    <button type="button" class="btn btn-primary" (click)="searchGoods()">搜索</button>
    <button type="button" class="btn btn-default" (click)="reset()">重置</button>
  </div>
</seer-card>
