<div dynamic-component></div>
<div class="form-page-header" *ngIf="!orderId">
  <button type="button" class="btn btn-default" (click)="goBack()">关闭</button>
  <button type="button" class="btn btn-default" (click)="export()">导出</button>

  <!--<select #s (change)="printPreview(s.value)">
    <option [value]="" disabled selected>请选择打印模板</option>
    <option *ngFor="let item of templates" value='{{item.id}}'>{{item.templateName}}</option>
  </select>
  <button type="button" class="btn btn-default" (click)="print()">打印</button>-->

  <button *ngIf="lastHistory?.orderState==ORDER_STATE.VOTE_PASS && purchaseOrder.poState=='01'&&confirmCensorDTO.taskId" type="button" class="btn btn-info" (click)="confirmOrder()">确认采购</button>
  <button *ngIf="lastHistory?.orderState==ORDER_STATE.VOTE_FAIL&&purchaseOrder.poState!='-1'&&confirmCensorDTO.taskId" type="button" class="btn btn-info" (click)="editOrder()">编辑</button>
  <button *ngIf="lastHistory?.orderState==ORDER_STATE.VOTE_FAIL&&purchaseOrder.poState!='-1'&&confirmCensorDTO.taskId" type="button" class="btn btn-default" (click)="abandonOrder()">放弃</button>
</div>
<seer-card [bigPadding]="false">
  <seer-workflow [orderId]="purchaseOrder.id" [processKey]="process?.key"></seer-workflow>
</seer-card>
<tabset style="margin-top:15px;">
  <tab heading='{{orderType}}详情'>
    <seer-card [bigPadding]="false">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <td class="title">采购订单编号</td>
          <td colspan="4">
            <span>{{purchaseOrder.poNum}}</span>
          </td>
          <td class="title" colspan="4">供应商名称</td>
          <td colspan="4">
            <span>{{purchaseOrder.supplierName}}</span>
          </td>
        </tr>
        <tr>
          <td class="title">采购分类</td>
          <td colspan="4">
            <span dict-trans [key]="'PO_CATEGORY'"
                  [value]="purchaseOrder.poCategory">{{purchaseOrder.poCategory}}</span>
          </td>
          <td class="title" colspan="4">币种</td>
          <td colspan="4">
            <span dict-trans [key]="'CUR_TYPE'" [value]="purchaseOrder.curType">{{purchaseOrder.curType}}</span>
          </td>
        </tr>
        <tr>
          <td class="title">开单时间</td>
          <td colspan="4">
            <span>{{purchaseOrder.poDate}}</span>
          </td>
          <td class="title" colspan="4">我方人员</td>
          <td colspan="4">
            <span>{{purchaseOrder.staffName}}</span>
          </td>
        </tr>
        <tr>
          <td class="title">付款方式</td>
          <td colspan="4">
            <span dict-trans [key]="'PAYMENT_METHOD'" [value]="purchaseOrder.paymentMethod">{{purchaseOrder.paymentMethod}}</span>
          </td>
          <td class="title" colspan="4">有无发票</td>
          <td colspan="4">
            <span dict-trans [key]="'INVOICE_RECEIPT'" [value]="purchaseOrder.invoiceReceipt">{{purchaseOrder.invoiceReceipt}}</span>
          </td>
        </tr>
        <tr style="height: 1em"></tr>
        <tr>
          <td class="title">订单金额</td>
          <td colspan="4">
            <span>{{purchaseOrder.poTotalAmount}}</span>
          </td>
          <td class="title" colspan="4">商品总数量</td>
          <td colspan="4">
            <span>{{totalQuantity}}</span>
          </td>
        </tr>
        <tr>
          <td class="title">商品总重量</td>
          <td colspan="4">
            <span>{{purchaseOrder.poTotalWeight}}</span>
          </td>
          <td class="title" colspan="4">商品总体积</td>
          <td colspan="4">
            <span>{{purchaseOrder.poTotalVolume}}</span>
          </td>
        </tr>
        <tr>
          <td class="title">备注</td>
          <td colspan="12">
            <span>
              {{purchaseOrder.poRemark}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </seer-card>
  </tab>
  <tab heading='商品列表'>
    <seer-card>
      <seerlisttable #selectedGoodsTable [data]="purchaseGoods" [titles]="purchaseGoodsTitles"
                     (notify)="onSelectedGoodsTableNotify($event)"></seerlisttable>
    </seer-card>
  </tab>
  <tab heading='采购限制'>
    <seer-card></seer-card>
  </tab>
  <tab heading='采购订单分析'>
    <seer-card></seer-card>
  </tab>
</tabset>
