@import 'conf/conf';
.content-top {
  position: relative;
  z-index: 902;
  margin-top: -1px;
  margin-bottom: 8px;
  padding: ($sidebar-item-height - $button-height) / 2 - 1px $card-content-padding-horizontal;
  background-color: $default;
  border-width: 1px 0;
  border-color: $input-border;
  border-style: solid;
  
  
}
.content-top.fixedTop {
  position: fixed;
  top: $page-top-height;
  right: 0;
  left: $sidebar-width;
  margin-bottom: 0;
  transition: left 0.5s ease;
  
}
@mixin layout-collapsed() {
  .content-top.fixedTop {
    left: $sidebar-item-width;
  }
}

@media (min-width: 1200px) {
  :host-context(.menu-collapsed) {
    @include layout-collapsed();
  }
}
@media (max-width: 1200px) and (min-width: $resXS) {
	@include layout-collapsed();
}

@media (max-width: $resXS) {
	@include layout-collapsed();
}

.content-top-pad {
	
}