<div class="widgets">
  <div style="margin-bottom: 24px;">
    <button class="btn btn-primary" (click)="handleBackBtnClick()">返回</button>
    <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
  </div>
  <!---->
  <div class="row">
    <div class="col-md-12">
      <seer-collapse-card title="基本信息" cardClass="with-scroll" [canCollapse]=true>
        <div class="row">
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">用户姓名</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">{{project.memberInfo.realName}}</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">手机号</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">{{project.memberInfo.mobilePhone}}</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">身份证号</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">211425548751458</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">性别</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">男</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">年龄</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">55</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">学历</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">大专</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">婚姻状况</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">已婚</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="row">
              <label class="col-md-2 col-xlg-1 control-label">户籍地址</label>
              <div class="col-md-10 col-xlg-11">
                <label class="col-sm-4 form-control">辽宁省 大连市 沙河口区 现代股物业大厦22楼</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="row">
              <label class="col-md-2 col-xlg-1 control-label">现居住地</label>
              <div class="col-md-10 col-xlg-11">
                <label class="col-sm-4 form-control">辽宁省 大连市 沙河口区 现代股物业大厦22楼</label>
              </div>
            </div>
          </div>
        </div>
      </seer-collapse-card>
      <seer-collapse-card title="借款信息" cardClass="with-scroll" [canCollapse]=true>
        <div class="row">
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">借款金额</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">{{project.loanInfo.jkje}}</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">借款期限</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">3个月</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">年利率</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">10%</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">借款类型</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">汇车贷</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">还款方式</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">按月付息，到期还本</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">招标开始日</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">2017-08-17  00:00:00</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">招标结束日</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">汇车贷-HCD201707190001</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">项目名称</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">汇车贷-HCD201707190001</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">项目名称</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">汇车贷-HCD201707190001</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">借款用途</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">资金周转</label>
              </div>
            </div>
          </div>
        </div>
        <!---->
        <div class="row">
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">XXX费</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">1200元</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">XXX费</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">1200元</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
            <div class="row">
              <label class="col-sm-4 control-label">XXX费</label>
              <div class="col-sm-8 ">
                <label class="col-sm-4 form-control">1200元</label>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </seer-collapse-card>
      <seer-collapse-card title="抵押车辆信息" cardClass="with-scroll" [canCollapse]=true>
        <seer-simple-table
          #simpleTable
          [data]="pawnVehicle"
          [titles]="titlesPawnVehicle"
          [hidePagination]="true"
          [hideActions]="true"

          (notify)="handleSimpleTableNotify($event)"
        >
        </seer-simple-table>
      </seer-collapse-card>
      <seer-collapse-card title="抵押房产信息" cardClass="with-scroll" [canCollapse]=true>
        <seer-simple-table
          #simpleTable
          [data]="pawnHouse"
          [titles]="titlesPawnHouse"
          [hidePagination]="true"
          [hideActions]="true"
          (notify)="handleSimpleTableNotify($event)"
        >
        </seer-simple-table>
      </seer-collapse-card>
      <seer-collapse-card title="个人征信信息" cardClass="with-scroll" [canCollapse]=true>
      </seer-collapse-card>
      <seer-collapse-card title="附件信息" cardClass="with-scroll" [canCollapse]=true>
      </seer-collapse-card>
      <seer-collapse-card title="投资记录" cardClass="with-scroll" [canCollapse]=true>
      </seer-collapse-card>
      <seer-collapse-card title="项目信息" cardClass="with-scroll" [canCollapse]=true>
      </seer-collapse-card>
      <seer-collapse-card title="还款记录" cardClass="with-scroll" [canCollapse]=true>
      </seer-collapse-card>
      <seer-collapse-card title="审批流程" cardClass="with-scroll" [canCollapse]=true>
      </seer-collapse-card>
    </div>
  </div>
  <!---->
</div>
