<div class="card {{cardType}} {{baCardClass || ''}}" [class.card--open]="_isExpanded">
  <div
    class="card-header clearfix"
    *ngIf="title"
    (click)="handleHeaderClick()"
    [style.cursor]="canCollapse ? 'pointer' : 'auto'"
    >
    <h3 class="card-title">{{title}}<i *ngIf="canCollapse" class="fa fa-chevron-right cardTitle__icon" style="margin-left: 8px"></i></h3>
  </div>
  <div class="card-body" [@slideInOut]="isExpanded()" style="overflow: auto;">
    <div class="card-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>