@import '../../../theme/sass/conf/conf';
.card.table-card{
	margin-left:20px;
	margin-right: 20px;
}
.card-body {
	overflow: visible;
	padding: 0;
}
.with-scroll{
	margin-top: 20px;
	margin-right:5px; 
}

.card-content {
	padding: 15px $card-content-padding-horizontal;
}
.card-header {
	position: relative;
}
.card-title {
	margin-bottom: 0;
    width: auto;
}
.cardTitle__icon {
	$size: 16px;
	//position: absolute;
	//top: 50%;
	//right: $card-content-padding-horizontal;
	//margin-top: -($size / 2);
	display: inline-block;
	margin-left: 8px;
	width: $size;
	height: $size;
	font-size: $size;
	color: $icon-color-light;
	font-style: normal;
	-webkit-transform: rotate3d(0, 0, 1, 0);
	        transform: rotate3d(0, 0, 1, 0);
	transition: -webkit-transform 0.2s linear;
	transition: transform 0.2s linear;
	transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.card--open {
	.cardTitle__icon {
		-webkit-transform: rotate3d(0, 0, 1, 180deg);
	        	transform: rotate3d(0, 0, 1, 180deg);
	}
}
.card-header-actions {
	position: relative;
	margin-top: ($card-header-height - $button-height) / 2 - $card-header-vertical-padding;
	button {
		margin-left: 8px;
		&:last-child {
			margin-left: 0;
		}
	}
	.saveandmore{
		display: inline-block;
		margin-right: 20px;
	}
}