<div class="card {{cardType}} {{baCardClass || ''}}" [class.card--open]="_isExpanded">
  <div
    class="card-header clearfix"
    *ngIf="title"
    (click)="handleHeaderClick()"
    [style.cursor]="canCollapse ? 'pointer' : 'auto'"
    >
    <h3 class="card-title">{{title}}</h3>
    <i *ngIf="canCollapse" class="icon-angle-double-down cardTitle__icon"></i>
  </div>
  <div class="card-body" [@slideInOut]="isExpanded()">
    <div class="card-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>