.table_nombre {
  position:absolute;
  background-color: #80b9e9;
  padding:10px;
  color:white;
}
.header_border {
  border-bottom: solid;
  border-color: #00abff;
}
td{
  width: 245px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.seer_font{
  font-size: 11px;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
}
