<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary right-button" [disabled]="true" (click)="memberInfoClick()">基本信息</button>
  <button class="btn btn-primary right-button"  (click)="investInfoClick()">投资信息</button>
  <button class="btn btn-primary right-button"  (click)="loanInfoClick()">贷款信息</button>
  <button class="btn btn-primary right-button"  (click)="tradeInfoClick()">交易记录</button>
</seer-content-top>
<div style="margin:10px 30px; background: #c12e2a">
  <seer-card>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <seer-collapse-card title="基本信息" cardClass="with-scroll" >
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">用户名:</label>
                  <div class="col-sm-8" >{{baseInfo.userName}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">真实姓名:</label>
                  <div class="col-sm-8" >{{baseInfo.trueName}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">身份证号:</label>
                  <div class="col-sm-8" >{{baseInfo.idNumber}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">性别:</label>
                  <div class="col-sm-8" dict-trans [key]="'M_SEX'" [value]="baseInfo.mSex"></div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">年龄:</label>
                  <div class="col-sm-8" >{{baseInfo.mAge}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">学历:</label>
                  <div class="col-sm-8" dict-trans [key]="'EDUCATION'" [value]="baseInfo.education"></div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">婚姻状况:</label>
                  <div class="col-sm-8" dict-trans [key]="'MARRAGE_STATUS'" [value]="baseInfo.maritaStatus"></div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">年收入:</label>
                  <div class="col-sm-8" >{{baseInfo.yearIncome}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">社保:</label>
                  <div class="col-sm-8" >{{baseInfo.socialNo}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">手机号:</label>
                  <div class="col-sm-8" >{{baseInfo.phoneNumber}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">电子邮件:</label>
                  <div class="col-sm-8" >{{baseInfo.eMail}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                <div class="row">
                  <label class="col-sm-4">住房情况:</label>
                  <div class="col-sm-8" >{{baseInfo.houseAbout}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label class="col-sm-1">户籍地址:</label>
                  <div class="col-sm-8" >
                    <seer-address-picker  [defaultItemCode]="baseInfo.domicileDistrict" [defaultAddress]="baseInfo.domicileAddress" disabled="true" ></seer-address-picker>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label class="col-sm-1">现居住地:</label>
                  <div class="col-sm-8 preview">
                    <seer-address-picker  [defaultItemCode]="baseInfo.liveDistrict" [defaultAddress]="baseInfo.liveAddress" disabled="true" ></seer-address-picker>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label class="col-sm-1">资产介绍:</label>
                  <div class="col-sm-8" >{{baseInfo.assetDesc}}</div>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                  <label class="col-sm-1">债务介绍:</label>
                  <div class="col-sm-8" >{{baseInfo.debtDesc}}</div>
                </div>
              </div>
            </div>
        </seer-collapse-card>
        <seer-collapse-card title="紧急联系人" cardClass="with-scroll" *ngIf="emergencyContact.length>0" >
          <seer-simple-table
            [data]="emergencyContact"
            [titles]="titlesEmergencyContact"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
          >
          </seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card title="账户信息" cardClass="with-scroll"  >
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                账户归属:国汇财富
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                账户用户名:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                开户行:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                银行账户:
              </div>
            </div>
        </seer-collapse-card>
        <seer-collapse-card title="财务状况" cardClass="with-scroll"  >
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                自有房产:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                每月房屋按揭金额:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                每月信用卡还款金额:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                自有汽车:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                每月汽车按揭金额:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                每月无抵押货款还款额:
              </div>
            </div>
        </seer-collapse-card>
        <seer-collapse-card title="工作信息" cardClass="with-scroll"  >
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                公司名称:XXX
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                公司性质:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                公司规模:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                职务:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                工作年限:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                工作电话:
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                月收入:
              </div>
              <div class="form-group col-sm-12">
                工作地点:
              </div>
            </div>
        </seer-collapse-card>
        <seer-collapse-card title="车辆信息" cardClass="with-scroll" *ngIf="vehicleInfo.length>0">
          <seer-simple-table
            [data]="vehicleInfo"
            [titles]="titlesVehicleInfo"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
            [showSeq]="true"
          >
          </seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card title="房屋信息" cardClass="with-scroll" *ngIf="houseInfo.length>0" >
          <seer-simple-table
            [data]="houseInfo"
            [titles]="titlesHouseInfo"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
            [showSeq]="true"
          >
          </seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card title="个人征信信息" cardClass="with-scroll" *ngIf="creditInfo.length>0" >
          <seer-table
            [data]="creditInfo"
            [titles]="titlesCreditInfo"
            [hidePagination]="true"
            [hideAddButton]="true"
            [hideExport]="true"
            [hidePrint]="true"
            [hideCheckbox]="true"
            [hideColumns]="true"
            [hideRemoveAll]="true"
            [showSeq]="true"
            [hideActions]="true"
          >
          </seer-table>
        </seer-collapse-card>
      </div>
    </div>
  </seer-card>
</div>
