
<div style="margin:10px 30px; background: #c12e2a">
  <seer-card>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <seer-collapse-card cardTitle="基本信息" cardClass="with-scroll" >
          <div class="row info">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">用户名</label>
                <div class="col-sm-8 ">
                  <label  class="form-control">{{baseInfo.userName}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">真实姓名</label>
                <div class="col-sm-8">
                  <label  class="form-control">{{baseInfo.trueName}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">身份证号</label>
                <div class="col-sm-8">
                  <label  class="form-control">{{baseInfo.idNumber}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">性别</label>
                <div class="col-sm-8">
                  <label  class="form-control" dict-trans [key]="'M_SEX'" [value]="baseInfo.mSex"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">年龄</label>
                <div class="col-sm-8">
                  <label  class="form-control">{{baseInfo.mAge}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">学历</label>
                <div class="col-sm-8">
                  <label class="form-control" dict-trans [key]="'EDUCATION'" [value]="baseInfo.education"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">婚姻状况</label>
                <div class="col-sm-8">
                  <label class="form-control" dict-trans [key]="'MARRAGE_STATUS'" [value]="baseInfo.maritaStatus"></label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">年均收入（元）</label>
                <div class="col-sm-8">
                  <label  class="form-control number">{{baseInfo.yearIncome | coinFormate}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">社保账号</label>
                <div class="col-sm-8">
                  <label  class="form-control">{{baseInfo.socialNo}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label class="col-sm-4 control-label">手机号</label>
                <div class="col-sm-8">
                  <label  class="form-control">{{baseInfo.phoneNumber}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label  class="col-sm-4 control-label">电子邮件</label>
                <div class="col-sm-8">
                  <label  class="form-control">{{baseInfo.eMail}}</label>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <label for="domicilePlace" class="col-sm-4 col-md-2 col-xlg-1 control-label">户口所在地</label>
                <div class="col-sm-8 col-md-10 col-xlg-10" id="domicilePlace">
                  <seer-address-picker (notify)="domicilePlaceChanged($event)" [defaultItemCode]="baseInfo.domicileDistrict" [defaultAddress]="baseInfo.domicileAddress" disabled="true"></seer-address-picker>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xlg-12">
              <div class="row">
                <label for="currentResidence" class="col-sm-4 col-md-2 col-xlg-1 control-label">现居住地</label>
                <div class="col-sm-8 col-md-10 col-xlg-10" id="currentResidence">
                  <seer-address-picker  [defaultItemCode]="baseInfo.liveDistrict" [defaultAddress]="baseInfo.liveAddress" disabled="true">
                  </seer-address-picker>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="row">
                  <label  class="col-sm-4 col-md-2 col-xlg-1 control-label">住房情况</label>
                  <div class="col-sm-8 col-md-10 col-xlg-11">
                    <textarea  class="form-control"  rows="2" disabled>{{baseInfo.houseAbout}}</textarea>
                  </div>
                </div>
              </div>

            <div class="form-group col-sm-12">
              <div class="row">
                <label  class="col-sm-4 col-md-2 col-xlg-1 control-label">资产介绍</label>
                <div class="col-sm-8 col-md-10 col-xlg-11">
                  <textarea class="form-control" disabled>{{baseInfo.assetDesc}}</textarea>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <div class="row">
                <label  class="col-sm-4 col-md-2 col-xlg-1 control-label">债务介绍</label>
                <div class="col-sm-8 col-md-10 col-xlg-11">
                  <textarea class="form-control" disabled>{{baseInfo.debtDesc}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="紧急联系人" cardClass="with-scroll" *ngIf="emergencyContact.length>0" >
          <seer-simple-table
            [data]="emergencyContact"
            [titles]="titlesEmergencyContact"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
          >
          </seer-simple-table>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="账户信息" cardClass="with-scroll"  >
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                账户归属:<span dict-trans [key]="'ACCOUNT_SOURSE'" [value]="accountInfo.accountSource"></span>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                账户姓名: {{baseInfo.trueName}}
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                开户银行: {{accountInfo.bankName}}
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                银行卡号: {{accountInfo.bankNo}}
              </div>
            </div>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="财务状况" cardClass="with-scroll"  >
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                自有住房数量:{{financialInfo.hasHouse}}套
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                月均住房贷款还款金额: {{financialInfo.houseRepayMonth | coinFormate}}元
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                月均信用卡还款金额: {{financialInfo.cardRepayMonth | coinFormate}}元
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                自有车辆数量:{{financialInfo.hasCar}}辆
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                月均车辆贷款还款金额: {{financialInfo.carRepayMonth | coinFormate}}元
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-4">
                月无抵押货款还款额: {{financialInfo.unsecuredRepayMonth | coinFormate}}元
              </div>
            </div>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="工作信息" cardClass="with-scroll"  >
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                公司名称: {{workInfo.companyName}}
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                公司性质: {{workInfo.companyType}}
              </div>
              <!--<div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                公司规模:
              </div>-->
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                职务: {{workInfo.jobPost}}
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                工作年限: {{workInfo.workYear||0}}年
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                联系电话: {{workInfo.workTel}}
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
                月净收入: {{workInfo.monthIncome | coinFormate}}元
              </div>
              <!-- <div class="form-group col-sm-12">
                详细地址: {{workInfo.workAddress}}
              </div> -->
              <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
                <div class="row">
                    <div  class="workAddressLable">详细地址:</div>
                    <div class="col-sm-8 col-md-10 col-xlg-10" id="workPlace">
                        <seer-address-picker  [defaultItemCode]="workInfo.workDistrict" [defaultAddress]="workInfo.workAddress" disabled="true"></seer-address-picker>
                    </div>
                </div>
              </div>
            </div>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="车辆信息" cardClass="with-scroll" *ngIf="vehicleInfo.length>0">
          <seer-table
            [data]="vehicleInfo"
            [titles]="titlesVehicleInfo"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
            [showSeq]="true"
            [hideAddButton]=true
            [hideRemoveAll]=true
            [hideCheckbox]="true"
            [hidePrint]="true"
            [hideColumns]="true"
            [hideExport]="true"
          >
          </seer-table>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="房屋信息" cardClass="with-scroll" *ngIf="houseInfo.length>0" >
          <seer-table
            [data]="houseInfo"
            [titles]="titlesHouseInfo"
            [hidePagination]="true"
            [hideActions]="true"
            [hideAddButton]="true"
            [showSeq]="true"
            [hideAddButton]=true
            [hideRemoveAll]=true
            [hideCheckbox]="true"
            [hidePrint]="true"
            [hideColumns]="true"
            [hideExport]="true"
          >
          </seer-table>
        </seer-collapse-card>
        <seer-collapse-card cardTitle="个人征信信息" cardClass="with-scroll" *ngIf="creditInfo.length>0" >
          <seer-table
            [data]="creditInfo"
            [titles]="titlesCreditInfo"
            [hidePagination]="true"
            [hideAddButton]="true"
            [hideExport]="true"
            [hidePrint]="true"
            [hideCheckbox]="true"
            [hideColumns]="true"
            [hideRemoveAll]="true"
            [showSeq]="true"
            [hideActions]="true"
            (notify)="openLink($event)"
          >
          </seer-table>
        </seer-collapse-card>
      </div>
    </div>
  </seer-card>
</div>
