<div class="widgets">
  <div style="margin-bottom: 24px;">
    <button class="btn btn-primary" (click)="handleBackBtnClick()">返回</button>
    <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card title="加息劵基本信息" cardClass="with-scroll" [canCollapse]=true>
        <form class="form-horizontal">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="couponTheme" class="col-sm-4 control-label">加息劵主题</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="couponTheme" placeholder="加息劵主题"
                         [(ngModel)]="coupon.couponTheme"
                         [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="startSum" class="col-sm-4 control-label">最低适用额度</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="startSum" placeholder="最低适用额度"
                         [(ngModel)]="coupon.startSum" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="raiseInterestRates" class="col-sm-4 control-label">加息点</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="raiseInterestRates" placeholder="加息点"
                         [(ngModel)]="coupon.raiseInterestRates"
                         [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="validDays" class="col-sm-4 control-label">有效天数</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="validDays" placeholder="有效天数"
                         [(ngModel)]="coupon.validDays"
                         [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="raiseInterestTerm" class="col-sm-4 control-label">加息期限</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="raiseInterestTerm" placeholder="加息期限"
                         [(ngModel)]="coupon.raiseInterestTerm"
                         [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="applicableProduct" class="col-sm-4 control-label">适用产品</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="applicableProduct" placeholder="适用产品"
                         [(ngModel)]="coupon.applicableProduct" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="superpositionRedPacket" class="col-sm-4 control-label">红包叠加使用</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="superpositionRedPacket" placeholder="红包叠加适用"
                         [(ngModel)]="coupon.superpositionRedPacket" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="superpositionCoupon" class="col-sm-4 control-label">加息劵叠加使用</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="superpositionCoupon" placeholder="加息劵叠加使用"
                         [(ngModel)]="coupon.superpositionCoupon" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>
        </form>
      </seer-collapse-card>
    </div>
    <div class="col-md-12">
      <seer-collapse-card title="发送参数信息" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=false>
        <form class="form-horizontal">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="sendMode" class="col-sm-4 control-label">发送方式</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="sendMode" placeholder="加息劵主题"
                         [(ngModel)]="coupon.sendMode"
                         [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="sendDate" class="col-sm-4 control-label">发送日期</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="sendDate" placeholder="发送日期"
                         [(ngModel)]="coupon.sendDate"
                         [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>
        </form>
      </seer-collapse-card>
    </div>
  </div>
</div>
