<div
  class="input-group">
  <input
    [id]="id"
    [name]="name"
    class="form-control"
    type="text"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [(bsValue)]="date"
    [disabled]="disabled"
    [readonly]="readonly"
    #dp="bsDatepicker"
    bsDatepicker
    [bsConfig]="bsConfig"
    value="{{ date | date: dateFormatingRules }}"
    >
  <span class="input-group-btn">
    <button class="btn btn-default" (click)="dp.show()" [disabled]="disabled"><i class="fa fa-calendar"></i></button>
  </span>
</div>
