<seer-content-top>
  <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
</seer-content-top>
<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal">
        <seer-collapse-card cardTitle="风险等级设置" [canCollapse]=false>
          <div class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xlg-6">
              <div class="row">
                <label class="col-sm-6 control-label">风险级别:&nbsp;&nbsp;{{riskRating.name}}</label>
                <label class="col-sm-6 control-label">对应分值:&nbsp;&nbsp;{{riskRating.scoreStart}}—{{riskRating.scoreEnd}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xlg-6">
              <div class="row">
                <label class="col-sm-6 control-label">推荐投资等级:&nbsp;&nbsp;<span  dict-trans [key]="'INVEST_GRADE'" [value]="riskRating.investGrade"></span></label>
                <label class="col-sm-6 control-label" >投资总额上线:&nbsp;&nbsp;{{riskRating.investTotal}} 元</label>
              </div>
            </div>
          </div>
          <div  class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xlg-6">
              <div class="row">
                <label  class="col-sm-12 control-label">备注: {{riskRating.remarks}}</label>
              </div>
            </div>
          </div>
        </seer-collapse-card>
      </form>
    </div>
  </div>
</div>
