.contract_label{
  margin-top:10px;
  font-size: 10px;
}

.spbrow{
  margin-top:15px;
}

.header_border {
  border-bottom: solid;
  border-color: #00abff;
}

.header_box{
  background-color: white;
  margin-bottom: 20px;
  margin-left:-25px;
  margin-right:-20px;
  padding:15px;
}

.header_margin{
  margin-top:-10px;
}

label.required:after {
  content: " *";
  color: red;
}
.seer_font{
  font-size: 14px;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
}


