<modal [animation]="true" [backdrop]="true" [size]="size" >
  <div (clickOutside)="onClickOutside($event)">
    <modal-header>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{title}}</h4>
    </modal-header>
    <modal-body>
      <div class="col-sm-12">
        <seertable
          [data]="data"
          [titles]="titles"
          [titleOption]="titlesOptional"
          [hideActions]="true"
          [hideAddButton]="true"
          [hideExport]="true"
          [hideRemoveAll]="true"
          [hidePrint]="true"
          [hideColonnes]="hideColonnes"
          [hideFilter]="hideFilter"
          (notify)="onChange($event)"
        ></seertable>
      </div>
    </modal-body>
    <modal-footer>
      <button class="btn btn-primary" type="button" (click)="save()">确定</button>
      <button class="btn btn-default" type="button" (click)="clearAll()">清空已选</button>
    </modal-footer>
  </div>
</modal>
