<seer-collapse-card title="选择抵押物" cardClass="with-scroll" [canCollapse]=true [defaultExpand]=true>

  <div class="row">
    <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
      <div class="row">
        <button *ngIf="!disabled" class="btn btn-primary" type="button" (click)="openModal(vehicleTemplate)">新增车辆</button>
      </div>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="row">
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
        <div class="row">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">车牌号：辽B·12345</h4>
              <h6 class="card-subtitle mb-2 text-muted"> </h6>
              <p class="card-text">简介：摩根 Plus 4，200公里，3年车龄，评估价格为70万。</p>
              <a *ngIf="!disabled" href="#" class="card-link">设为抵押物</a>
              <a *ngIf="!disabled" href="#" class="card-link">查看详情</a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
        <div class="row">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">车牌号：辽B·12345</h4>
              <h6 class="card-subtitle mb-2 text-muted"> </h6>
              <p class="card-text">简介：摩根 Plus 4，200公里，3年车龄，评估价格为70万。</p>
              <a *ngIf="!disabled" href="#" class="card-link">设为抵押物</a>
              <a *ngIf="!disabled" href="#" class="card-link">查看详情</a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
        <div class="row">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">车牌号：辽B·12345</h4>
              <h6 class="card-subtitle mb-2 text-muted"> </h6>
              <p class="card-text">简介：摩根 Plus 4，200公里，3年车龄，评估价格为70万。</p>
              <a *ngIf="!disabled" href="#" class="card-link">设为抵押物</a>
              <a *ngIf="!disabled" href="#" class="card-link">查看详情</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
      <div class="row">
        <button *ngIf="!disabled" class="btn btn-primary" type="button" (click)="openModal(houseTemplate)">新增房产</button>
      </div>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="row">
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
        <div class="row">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">产权证号：12345678</h4>
              <h6 class="card-subtitle mb-2 text-muted"> </h6>
              <p class="card-text">简介：甘井子区，建筑面积100平米，商品房，2012年承建，评估价格为200万。</p>
              <a *ngIf="!disabled" href="#" class="card-link">设为抵押物</a>
              <a *ngIf="!disabled" href="#" class="card-link">查看详情</a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
        <div class="row">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">产权证号：12345678</h4>
              <h6 class="card-subtitle mb-2 text-muted"> </h6>
              <p class="card-text">简介：甘井子区，建筑面积100平米，商品房，2012年承建，评估价格为200万。</p>
              <a *ngIf="!disabled" href="#" class="card-link">设为抵押物</a>
              <a *ngIf="!disabled" href="#" class="card-link">查看详情</a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xlg-3">
        <div class="row">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">产权证号：12345678</h4>
              <h6 class="card-subtitle mb-2 text-muted"> </h6>
              <p class="card-text">简介：甘井子区，建筑面积100平米，商品房，2012年承建，评估价格为200万。</p>
              <a *ngIf="!disabled" href="#" class="card-link">设为抵押物</a>
              <a *ngIf="!disabled" href="#" class="card-link">查看详情</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</seer-collapse-card>

<!-- create vehicle modal -->
<template #vehicleTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">新增车辆</h5>
    <!--<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>-->
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="brand" class="col-sm-4 control-label text-right">车辆品牌</label>
            <div class="col-sm-8">
              <input class="form-control" id="brand" placeholder="车辆品牌" [(ngModel)]="vehicle.brand" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="model" class="col-sm-4 control-label text-right">车辆型号</label>
            <div class="col-sm-8">
              <input class="form-control" id="model" placeholder="车辆型号" [(ngModel)]="vehicle.model" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="vin" class="col-sm-4 control-label text-right">车架号</label>
            <div class="col-sm-8">
              <input class="form-control" id="vin" placeholder="车架号" [(ngModel)]="vehicle.vin" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="lpn" class="col-sm-4 control-label text-right">车牌号</label>
            <div class="col-sm-8">
              <input class="form-control" id="lpn" placeholder="车牌号" [(ngModel)]="vehicle.lpn" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="certificateNumber" class="col-sm-4 control-label text-right">登记证号</label>
            <div class="col-sm-8">
              <input class="form-control" id="certificateNumber" placeholder="登记证号" [(ngModel)]="vehicle.certificateNumber" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="autoAge" class="col-sm-4 control-label text-right">车龄</label>
            <div class="col-sm-8">
              <input class="form-control" id="autoAge" placeholder="车龄" [(ngModel)]="vehicle.autoAge" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="range" class="col-sm-4 control-label text-right">行驶里程</label>
            <div class="col-sm-8">
              <input class="form-control" id="range" placeholder="行驶里程" [(ngModel)]="vehicle.range" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="evaluatedPrice" class="col-sm-4 control-label text-right">评估价格</label>
            <div class="col-sm-8">
              <input class="form-control" id="evaluatedPrice" placeholder="评估价格" [(ngModel)]="vehicle.evaluatedPrice" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sx btn-info" (click)="modalRef.hide()">确定</button>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
  </div>
</template>

<!-- create house modal -->
<template #houseTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">新增房屋</h5>
    <!--<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>-->
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="brand" class="col-sm-4 control-label text-right">房产地址</label>
            <div class="col-sm-8">
              <input class="form-control" id="brand" placeholder="房产地址" [(ngModel)]="house.address" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="houseType" class="col-sm-4 control-label text-right">房屋类型</label>
            <div class="col-sm-8">
              <input class="form-control" id="houseType" placeholder="房屋类型" [(ngModel)]="house.houseType" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="floorage" class="col-sm-4 control-label text-right">建筑面积</label>
            <div class="col-sm-8">
              <input class="form-control" id="floorage" placeholder="建筑面积" [(ngModel)]="house.floorage" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="houseAge" class="col-sm-4 control-label text-right">房龄</label>
            <div class="col-sm-8">
              <input class="form-control" id="houseAge" placeholder="房龄" [(ngModel)]="house.houseAge" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="debt" class="col-sm-4 control-label text-right">尚欠贷余额</label>
            <div class="col-sm-8">
              <input class="form-control" id="debt" placeholder="尚欠贷余额" [(ngModel)]="house.debt" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="landCertificate" class="col-sm-4 control-label text-right">土地所有证号</label>
            <div class="col-sm-8">
              <input class="form-control" id="landCertificate" placeholder="土地所有证号" [(ngModel)]="house.landCertificate" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="houseCertificate" class="col-sm-4 control-label text-right">房屋产权所有证号</label>
            <div class="col-sm-8">
              <input class="form-control" id="houseCertificate" placeholder="房屋产权所有证号" [(ngModel)]="house.houseCertificate" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xlg-12">
          <div class="row">
            <label for="evaluatedPrice" class="col-sm-4 control-label text-right">评估价格</label>
            <div class="col-sm-8">
              <input class="form-control" id="evaluatedPrice" placeholder="评估价格" [(ngModel)]="house.evaluatedPrice" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sx btn-info" (click)="modalRef.hide()">确定</button>
    <button type="button"  class="btn btn-default" (click)="modalRef.hide()">取消</button>
  </div>
</template>
