<seer-content-top>
  <button class="btn btn-outline-dark" (click)="handleBackBtnClick()">返回</button>
  <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleSaveBtnClick()">提交</button>
</seer-content-top>
<div class="widgets">
  <div class="row justify-content-center">

    <!-- 会员信息 -->
    <div class="col-md-12">
      <loan-member-info [disabled]="false" [member]="member"></loan-member-info>
    </div>

    <!-- 贷款信息 -->
    <div class="col-md-12">
      <loan-info [disabled]="false" [loan]="loan"></loan-info>
    </div>

    <!-- 抵押信息 -->
    <div class="col-md-12">
      <pwan-info [disabled]="false" [vehicles]="vehicles" [houses]="houses"></pwan-info>
    </div>

    <!-- 个人征信信息 -->
    <div class="col-md-12">
      <credit-info [disabled]="false" [credits]="credits"></credit-info>
    </div>

    <!-- 抵押资料（附件） -->
    <div class="col-md-12">
      <audit-material [disabled]="false" [attachments]="attachments"></audit-material>
    </div>

    <!--&lt;!&ndash; 审批流程 &ndash;&gt;
    <div class="col-md-12">
      <audit-process [data]="datas"></audit-process>
    </div>

    &lt;!&ndash; 投资流程 &ndash;&gt;
    <div class="col-md-12">
      <invest-record [investRecords]="datas"></invest-record>
    </div>-->


    <!-- 审批意见 -->
    <div class="col-md-12">
      <audit-operation></audit-operation>
    </div>


  </div>
</div>
