<!-- <div class="row">
  <ba-card [title]="title" baCardClass="with-scroll">
    <div class="col-sm-12">
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="UserID">UserID</label>
          <input type="text" class="form-control" id="UserID" placeholder="">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputUserName">Username</label>
          <input type="text" class="form-control" id="inputUserName" placeholder="Username">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputAge">Age</label>
          <input type="number" class="form-control" id="inputAge" placeholder="Age">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="number" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="inputRepeatPassword">RepeatPassword</label>
          <input type="number" class="form-control" id="inputRepeatPassword" placeholder="RepeatPassword">
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary">保存</button>
        <button type="button" class="btn btn-primary">取消</button>
      </div>
    </div>
  </ba-card>
</div> -->




<!--<modal [animation]="animation" [backdrop]="backdrop" [size]="'lg'">-->
<!-- <modal [animation]="animation" [backdrop]="backdrop"> -->
  <!-- <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
  </modal-header>
  <modal-body> -->
    <!--<div class="header_box1">-->
      <!--<div class="row spbrow">-->
<!-- <form (submit)="save()"> -->
  <div class="form-page-header">
      <button type="button" class="btn btn-default" (click)="goBack()">返回列表</button>
      <button type="submit" class="btn btn-primary" (click)="onEdit()">保存</button>
  </div>
  <div class="row">
    <ba-card [title]="newTitle" baCardClass="with-scroll">
      <div class="form-group ">
        <div class="row">
            <label for="account" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">用户账号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="account"  >  
                <!-- [(ngModel)]="sysUser.account"   -->
            </div> 
            <label for="usName" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">用户名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="usName"> 
                <!-- [(ngModel)]="sysUser.userName"  -->
            </div>
        </div>
      </div>  
      <!-- <div class="form-group ">
        
      </div>  -->
      <!-- <div class="form-group ">
        <div class="row">
            <label for="idNumber" class="col-sm-2 control-label" style="text-align:right; height:35px; line-height:35px;">用户密码</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="idNumber"  [(ngModel)]="sysUser.password">   
            </div>
        </div>
      </div>  -->
      <div class="form-group ">
        <div class="row">
         
              <label for="psw" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">用户密码</label>
              <div class="col-sm-4">
                  <!-- <input type="button" class="form-control" id="idNumber">    -->
                  <button type="button" class="btn btn-primary" (click) = reset();>重置密码</button>
              
            </div>
            <label for="usRoles" class="col-sm-1 control-label" style="text-align:right; height:35px; line-height:35px;">用户角色</label>
            <div class="col-sm-4">
              <div class="form-group">
                <div data-spy="scroll" data-offset="0" class="scrollspy-example">
                  <div class="form-check" *ngFor="let data of roles">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input" [(ngModel)]="data.selected">{{data.roleName}} 
                       <!-- <input type="checkbox" class="form-check-input">{{data.roleName}} -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div> 
      
    <!-- </modal-body>
    <modal-footer> -->
      <!-- <button type="button" class="btn btn-primary" *ngIf="buttonFlag" (click)="onSave()">保存</button>
      <button type="button" class="btn btn-primary" *ngIf="!buttonFlag" (click)="onEdit()">保存</button>
      <button type="button" class="btn btn-default" (click)="onDestroy()">关闭</button> -->
    <!-- </modal-footer> -->
  <!-- </modal> -->
    </ba-card>
  </div>
<!-- </form>    -->


