<div class="row">
  <seer-card>
    <form #resourceForm="ngForm" (ngSubmit)="onSubmit()">

    <!--<div class="col-sm-12">-->
      <!--<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">-->
        <!--<div class="form-group">-->
          <!--<label for="resource_id">资源编号</label>-->
          <!--<input type="text" class="form-control" id="resource_id" placeholder="" [(ngModel)]="resource.resource_id" name="resource_id">-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">-->
        <!--<div class="form-group">-->
          <!--<label for="resource_name">资源名称</label>-->
          <!--<input type="text" class="form-control" id="resource_name" placeholder="" [(ngModel)]="resource.resource_name"  name="resource_name">-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->

    <div class="col-sm-12">
      <div class="col-sm-12">
        <!--<button type="submit" class="btn btn-primary" (click)="searchResource()">搜索</button>-->
        <button type="button" class="btn btn-primary" (click)="newResource()">新增</button>
        <button type="button" class="btn btn-primary" (click)="deleteResource()">批量删除</button>
      </div>
    </div>

    </form>
  </seer-card>
</div>
