<form (ngSubmit)="saveDict()">
  <div  *ngIf="currentDict">
    <div style="margin-bottom: 24px;">
      <button class="btn btn-primary" (click)="handleBackBtnClick()">返回</button>
      <button class="btn btn-primary" [disabled]="forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
    </div>
  </div>

  <div *ngIf="!currentDict" >
    <seer-collapse-card
    >
      <seer-filter
        [hasGlobalFilter]="hasGlobalFilter"
        [filters]="filters"
        (onFiltersChanged)=handleFiltersChanged($event)
        (onSearchBtnClicked)=handleSearchBtnClicked($event)
      ></seer-filter>
    </seer-collapse-card>
    <seer-collapse-card
    >
      <seer-table
        [data]="data"
        [titles]="titles"
        [pageNum]="pageInfo.pageNum"
        [pageSize]="pageInfo.pageSize"
        [total]="pageInfo.total"
        [paginationRules]="0"
        [translate]="translate"
        (notify)="onChange($event)"
        (changePage)="handlePageChange($event)"
        [hideExport]="true"
        [hidePrint]="true"
        [hideRemoveAll]="true"
        [hideColumns]="true"
      ></seer-table>
    </seer-collapse-card>
  </div>
  <div class="row" *ngIf="currentDict">
    
  </div>
</form>

