<div class="widgets">
  <seer-content-top>
    <button class="btn btn-outline-dark left-button" (click)="handleBackBtnClick()">返回</button>
    <button class="btn btn-primary left-button" [disabled]="(_editType === 'edit' && !form.dirty && content === subject.content) || (_editType === 'add' && (!form.valid || subject.content === '')) || !form.valid || forbidSaveBtn" (click)="handleSaveBtnClick()">保存</button>
  </seer-content-top>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <seer-collapse-card cardTitle="专题基本信息" cardClass="with-scroll" [canCollapse]=true>
        <form class="form-horizontal info" [formGroup]="form">
          <div class="form-group col-sm-12" style="margin-bottom:0;">
            <div class="row">

              <div class="form-group">
                <label for="subjectName" class="col-sm-4 col-md-2 col-xlg-1 control-label text-center">专题标题</label>
                <div class="col-sm-4 col-md-3">
                  <input type="text" class="form-control" id="subjectName" [(ngModel)]="subject.subjectName" formControlName="subjectName" [required]=true />
                  <p *ngIf="form.controls.subjectName.errors?.required" class="text-danger">*必填项</p>
                </div>
              </div>
              <div class="form-group">
                <label for="subjectType" class="col-sm-4 col-md-2 col-xlg-1 control-label text-center">专题类型</label>
                <div class="col-sm-4 col-md-3">
                  <select
                    class="form-control"
                    id="subjectType"
                    [(ngModel)]="subject.subjectType"
                    [required]=true
                    dict-select
                    formControlName="subjectType"
                    [key]="'SUBJECT_TYPE'"
                    [topOption]="{itemid:'',itemName:'请选择'}"
                    >
                  </select>
                  <p *ngIf="form.controls.subjectType.errors?.required" class="text-danger">*必填项</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="form-group">
                <label for="device" class="col-sm-4 col-md-2 col-xlg-1 control-label text-center">设备</label>
                <div class="col-sm-4 col-md-3">
                  <select
                    class="form-control"
                    id="device"
                    [(ngModel)]="subject.device"
                    [required]=true
                    dict-select
                    formControlName="device"
                    [key]="'SUBJECT_PUTENV'"
                    [topOption]="{itemid:'',itemName:'请选择'}"
                    >
                  </select>
                  <p *ngIf="form.controls.device.errors?.required" class="text-danger">*必填项</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="row">
              <label for="mainBody" class="col-sm-4 col-md-2 col-xlg-1 control-label text-center">专题正文</label>
              <div class="col-sm-8 col-md-8 col-xlg-8">
                <seer-editor [(data)]="subject.content" name="content"></seer-editor>
                <p *ngIf="!subject.content" class="text-danger">*必填项</p>
              </div>
            </div>
          </div>
        </form>
      </seer-collapse-card>

    </div>
  </div>
</div>
