<seer-content-top [fixedTop]="false">
  <seer-filter
    [hasGlobalFilter]="hasGlobalFilter"
    [filters]="filters"
    (onFiltersChanged)=handleFiltersChanged($event)
    (onSearchBtnClicked)=handleSearchBtnClicked($event)
  ></seer-filter>
</seer-content-top>
<seer-collapse-card>
  <seer-table
    [data]="dicts"
    [titles]="titles"
    [paginationRules]="1"
    (notify)="handleNotify($event)"
    [hideExport]="true"
    [hidePrint]="true"
    [hideRemoveAll]="true"
    [hideColumns]="true"
  ></seer-table>
</seer-collapse-card>