/* You can add global styles to this file, and also import other style files */

.hidden {
  display: none;
}

//edit by lily 20180410
.info {
  .form-group {
    //label右对齐
    .control-label {
      padding-top: 8px;
      text-align: right;
    } //金额数字等设置右对齐
    .form-control {
      &.number {
        text-align: right;
        position: relative;
        &.addUnit {
          padding-right: 30px;
        }
      }
      +.unit {
        position: absolute;
        right: 10px;
        top: 7px; //color:#000;
        font-size: 12px
      }
    }
  }
  .text-danger{ text-align: left}
  .ng-touched:not(form),.ng-invalid:not(form) {
    border: 1px solid #f00;
  }

  .ng-valid:not(form),.ng-untouched:not(form) {
    border: 1px solid #ddd;
  }


}
.modal-body {
  .info .form-group .form-control + .unit{
    right: 25px;
  }


}
