@import '../../../../../theme/sass/conf/conf';

.tree-header_box{
  background-color: white;
  margin-bottom: 50px;
  padding:15px;
}
.modal-header {
  border-bottom: 3px solid #fff;
  border-color: #5db2ff !important;
}

