
<modal [animation]="true" [backdrop]="true">
  <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
  </modal-header>
  <modal-body>

    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label class="control-label">输入当前密码<span class="text-danger" *ngIf="promptCode == '0'">({{promptMessage}})</span></label>
          <input type="password" class="form-control" id="oldPassword" placeholder="" [(ngModel)]="oldPassword" name="oldPassword"   value="{oldPassword}" required >
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label class="control-label">输入新密码<span class="text-danger" *ngIf="promptCode == '1'">({{promptMessage}})</span></label>
          <input type="password" class="form-control" id="newPassword" placeholder="" [(ngModel)]="newPassword" name="newPassword"   value="{newPassword}" required >
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12 col-xs-12 col-md-2 col-lg-12">
        <div class="form-group">
          <label class="control-label">验证新密码<span class="text-danger" *ngIf="promptCode == '2'">({{promptMessage}})</span></label>
          <input type="password" class="form-control" id="resourceName" placeholder="" [(ngModel)]="verifyPassword" name="verifyPassword"   value="{verifyPassword}" required >
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-primary" (click)="save()">保存</button>
    <button type="button" class="btn btn-default" (click)="closeModal()">关闭</button>
  </modal-footer>
</modal>









