<modal [animation]="animation" [backdrop]="backdrop" [size]="'lg'">
  <modal-header class="bordered-blue">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">{{title}}</div>
  </modal-header>
  <modal-body>
    <div class="row-title-check"><i class="fa fa-list"></i> 基本信息</div>
    <table class="table table-bordered">
      <!--<thead>-->
      <!--<tr>-->
      <!--<th>First Name</th>-->
      <!--<th>Last Name</th>-->
      <!--<th>Username</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <tbody>
      <tr>
        <td class="caption">商品名称</td>
        <td>{{goodsDetail.goodsName}}</td>
        <td class="caption">商品编号</td>
        <td>{{goodsDetail.goodsNumber}}</td>
      </tr>
      <tr>
        <td class="caption">供应商</td>
        <td>{{goodsDetail.supplierName}}</td>
        <td class="caption">品牌</td>
        <td>{{goodsDetail.brandName}}</td>
      </tr>
      <tr>
        <td class="caption">系列</td>
        <td>{{goodsDetail.goodsSeries}}</td>
        <td class="caption">分类</td>
        <td>{{goodsDetail.goodsType}}</td>
      </tr>
      <tr>
        <td class="caption">箱规</td>
        <td>{{goodsDetail.boxRule}}</td>
        <td class="caption">重量</td>
        <td>{{goodsDetail.goodsWeight}}</td>
      </tr>
      <tr>
        <td class="caption">体积</td>
        <td>{{goodsDetail.goodsVolume}}</td>
        <td class="caption">基本单位</td>
        <td>{{goodsDetail.goodsUnits}}</td>
      </tr>
      <tr>
        <td class="caption">条形码</td>
        <td>{{goodsDetail.goodsBarCode}}</td>
        <td class="caption">规格(长)</td>
        <td>{{goodsDetail.goodsLength}}</td>
      </tr>
      <tr>
        <td class="caption">规格(宽)</td>
        <td>{{goodsDetail.goodsWidth}}</td>
        <td class="caption">规格(高)</td>
        <td>{{goodsDetail.goodsHeight}}</td>
      </tr>
      <tr>
        <td class="caption">进价</td>
        <td>{{goodsDetail.goodsPrice}}</td>
        <td class="caption">建议零售价</td>
        <td>{{goodsDetail.goodsRetailPrice}}</td>
      </tr>
      <tr>
        <td class="caption">包装系数</td>
        <td>{{goodsDetail.goodsPacking}}</td>
      </tr>
      </tbody>
    </table>
    <div class="row-title-check"><i class="fa fa-list"></i> 扩展信息</div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th style="text-align: left">动态字段名称</th>
        <th>动态字段值</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customFields of customFieldsList">
        <td style="text-align: left">{{customFields.fieldsName}}</td>
        <td>{{customFields.fieldsValue}}</td>
      </tr>
      </tbody>
    </table>
    <div class="row-title-check"><i class="fa fa-list"></i> 终端信息</div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th style="text-align: left">终端名称</th>
        <th>终端码</th>
        <th>终端价格</th>
        <th>变价主题</th>
        <th>变价商品数量</th>
        <th>变价价格</th>
        <th>变价时段</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let terminal of terminalSource">
        <td style="text-align: left">{{terminal.terminalName}}</td>
        <td>{{terminal.terminalCode}}</td>
        <td>{{terminal.terminalPrice}}</td>
        <td>{{terminal.variableValenceTheme}}</td>
        <td>{{terminal.variableValenceAmount}}</td>
        <td>{{terminal.variableValencePrice}}</td>
        <td>{{terminal.variableValenceTime}}</td>
      </tr>
      </tbody>
    </table>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="onDestroy()">关闭</button>
  </modal-footer>
</modal>

