<div *ngIf="!currentCar" class="header_box header_margin">
  <div class="row">
    <div class="col-xs-12">
      <label class="seer_font">车辆列表</label>
    </div>
  </div>
  <div class="row">
    <div class="header_border">

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
          <input type="text" class="form-control" [(ngModel)]=query
                 (keyup)=filter() placeholder="车牌号过滤"/>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12" *ngFor="let car of filteredList">
      <div class="car_box_head">
        <div class="car_box_head_text"><span>{{car.vehicleNumber}}</span></div>
      </div>
      <div class="car_box_content">
        <div class="row car_box_content_padding">
          <div class="col-xs-12">
            <div class="col-xs-4 car_box_content_text">
              运单金额（万）
            </div>
            <div class="col-xs-4 car_box_content_text">
              方数
            </div>
            <div class="col-xs-4 car_box_content_text">
              效率
            </div>
          </div>
        </div>

        <div class="row spbrow">
          <div class="col-xs-12">
            <div class="col-xs-4 car_box_content_text">
              <a>210.23</a>
            </div>
            <div class="col-xs-4 car_box_content_text">
              {{car.vehicleSquare}}
            </div>
            <div class="col-xs-4 car_box_content_text">
              17万元/方
            </div>
          </div>
        </div>

        <div class="row doublespbrow">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <button type="button" class="btn pull-right"
                      (click)="editVehicle(car)"
                      *ngIf="car.vehicleState"
                      [ngClass]="{'btn-info':car.vehicleState=='02', 'btn-default':car.vehicleState=='01'}">
                {{renderVehicleState(car.vehicleState)}}
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="header" *ngIf="currentCar&&currentVehicle">

  <button type="button" class="btn btn-default" (click)="cancel()">返回列表</button>
  <button type="button"
          class="btn btn-info"
          *ngIf="!currentVehicle.id"
          [disabled]="!currentVehicle.orderIds[0]"
          (click)="save()"
  >保存
  </button>

  <button type="button"
          class="btn btn-info"
          *ngIf="currentVehicle.id&&currentUser.userName==currentVehicle.driverName"
          (click)="applyDelivery()"
  >交车
  </button>
</div>

<div *ngIf="currentCar&&currentVehicle" class="header_box header_margin">
  <div class="row">
    <div class="col-xs-12">
      <label class="seer_font">车辆调配</label>
    </div>
  </div>
  <div class="row">
    <div class="header_border">

    </div>
  </div>
  <div class="row spbrow">
    <div class="col-xs-12">
      <label>车牌号</label>
      <input class="form-control" [(ngModel)]="currentCar.vehicleNumber" disabled type="text"/>
    </div>
  </div>
  <div class="row spbrow">
    <div class="col-xs-12">
      <label>司机</label>
      <input class="form-control" [(ngModel)]="currentVehicle.driverName" disabled type="text"/>
    </div>
  </div>
  <div class="row spbrow">
    <div class="col-xs-12">
      <label class="required">关联单号</label>
      <input class="form-control" [(ngModel)]="currentVehicle.orderIds[0]" [disabled]="currentVehicle.id" type="text"/>
    </div>
  </div>
  <div class="row spbrow">
    <div class="col-xs-12">
      <label>配送员</label>
      <input class="form-control" [(ngModel)]="currentVehicle.deliveryStaffName" [disabled]="currentVehicle.id" type="text"/>
    </div>
  </div>
  <div class="row spbrow"   *ngIf="currentVehicle.id">
    <div class="col-xs-12">
      <label>开始时间</label>
      <input class="form-control" [(ngModel)]="currentVehicle.startTime" [disabled]="currentVehicle.id" type="text"/>
    </div>
  </div>
</div>
