<div class="row">
  <div class="col-sm-5">
    <div class="col-xs-12">
      <seer-card [title]="treeTitle">
        <div class="col-sm-12">
          <seer-tree
            (notify)="onNotify($event) "
            [permissions]="treePermissions"
            [nodes]="treeNode"
            [defaultNodeName]="'新建部门'"
            [loadingText]="''">
          </seer-tree>
        </div>
        <!--<button class="btn btn-primary" (click)="getOperationRecords()">保存</button>-->
      </seer-card>
    </div>

  </div>
  <div class="col-sm-7">
    <div class="col-xs-12">
      <seer-card [title]="title">
        <seertable
          [data]="source"
          [titles]="titles"
          [titleOption]="titleOption"
          (notify)="onChange($event)"
          [hideColonnes] = "true"
          [hideRemoveAll] = "true"
          [hideExport] = "true"
          [hidePrint] = "true"
        ></seertable>
      </seer-card>
    </div>
  </div>
</div>

<div dynamic-component></div>


