<div style="margin:10px 30px; background: #c12e2a">
  <seer-card>
    <!--<div class="row" style="margin-bottom: 10px;" >
      <seer-checkbox *ngFor="let process of processDefinition;let i=index" (click)="taskFiler(process.key)" [isChecked]="process.isChecked" [label]="process.name+' ('+process.total+')'"></seer-checkbox>
    </div>-->
    <div class="row" >
      <table class="table table-hover" *ngIf="tasks.length>0">
        <tbody>
        <tr *ngFor="let task of tasks">
          <td><p (click)="loadForm(task)"><span class="label"  >{{!task.endTime ? '进行中' : '已结束'}}</span>  {{task.instanceName}} {{task.activityId}}</p></td>
          <td>{{task.createTime}}</td>
        </tr>
        </tbody>
      </table>
      <seer-pagination
        [rowCount]="pageInfo.total"
        [rowsOnPageSet]="[10, 15, 30]"
        [rowsOnPage]="pageInfo.pageSize"
        [pageNumber]="pageInfo.currentPage"
        (notify)="onPageChange($event)"
      ></seer-pagination>

    </div>
  </seer-card>
</div>
