
/* * {
  background-color: #1C2B36;
} */

.card-content[_ngcontent-c11]{  padding: 15px 10px;}
.card > .card-body{  padding: 0;  }
.form-control2{  border: none; border-bottom: 1px solid #ccc; width: 80px;}
.control-label{ text-align: right;}
