<div  class="header_box header_margin">
  <div class="row">
    <div class="col-xs-12">
      <label class="seer_font">商品明细</label>
    </div>
  </div>
  <div class="row">
    <div class="header_border">

    </div>
  </div>

  <div class="row spbrow">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>品牌名称</label>
        <select class="form-control" [(ngModel)]="search.brandId">
          <option value="">请选择</option>
          <option *ngFor="let data of brandIdDict" [value]="data.id">{{data.brandName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>商品分类</label>
        <select class="form-control"
                dict-select
                [key]="'GOODS_TYPE'"
                [selected]="search.goodsType"
                [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                [(ngModel)]="search.goodsType"></select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>是否赠品</label>
        <select class="form-control"
                dict-select
                [key]="'IS_GIFT'"
                [selected]="search.isGift"
                [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                [(ngModel)]="search.isGift"></select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>是否物料</label>
        <select class="form-control"
                dict-select
                [key]="'IS_MATERIAL'"
                [selected]="search.isMaterial"
                [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                [(ngModel)]="search.isMaterial"></select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-info" (click)="searchGoods()"
      >搜索
      </button>
      <button type="button" class="btn btn-default" (click)="reset()"
      >重置
      </button>
    </div>
  </div>

</div>

<div class="header_box" >
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <seerlisttable
          [data]="goodsList"
          [titles]="titles"
          (notify)="onChange($event)"
        ></seerlisttable>
      </div>
    </div>
  </div>
</div>












