<!--<seer-card [title]="title">-->
    <!--<form>-->
      <!--<div class="col-sm-12">-->
          <!--<div class="form-group">-->

            <!--<label for="brandCountry" class="col-sm-1 control-label">品牌地区</label>-->
            <!--<div class="col-sm-3">-->
              <!--<select class="form-control" id="brandCountry"  [(ngModel)]="brand.brandCountry" name="brandCountry" >-->
                <!--<option value="">全部</option>-->
                <!--<option value="01">国内</option>-->
                <!--<option value="02">国外</option>-->
              <!--</select>-->
            <!--</div>-->

            <!--<label for="supplierId" class="col-sm-1 control-label">供应商</label>-->
            <!--<div class="col-sm-3">-->
              <!--<div class="input-group">-->
              <!--&lt;!&ndash;<input type="text" class="form-control" id="supplierId" placeholder="" [(ngModel)]="brand.supplierId"  name="supplierId">&ndash;&gt;-->
              <!--<input type="text" class="form-control" readonly="readonly" id="supplierId" placeholder="全部" [(ngModel)]="brand.supplierId"   name="supplierId" style="display: none">-->
              <!--<input type="text" class="form-control" readonly="readonly" id="supplierName" placeholder="全部" [(ngModel)]="brand.supplierName"   name="supplierName">-->

                <!--<supplierClientPicker class="input-group-btn"-->
                                      <!--(notify)="onSelectSupplier($event)"-->
                                      <!--[type]="'supplier'"-->
                <!--&gt;</supplierClientPicker>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-12" style="margin-top: 5px">-->
        <!--<div class="col-sm-12">-->
          <!--<button type="submit" class="btn btn-primary" (click)="onSubmit()" >搜索</button>-->
          <!--<button type="button" class="btn btn-default" (click)="reset()">重置</button>-->
          <!--&lt;!&ndash;<button type="button" class="btn btn-primary" (click)="deleteResource()">批量删除</button>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</seer-card>-->



<seer-card [title]="title">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="brandCountry">品牌地区</label>
        <select class="form-control" id="brandCountry"  [(ngModel)]="brand.brandCountry" name="brandCountry" >
          <option value="">全部</option>
          <option value="01">国内</option>
          <option value="02">国外</option>
        </select>
      </div>
    </div>


    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="supplierId">供应商</label>
        <div class="input-group">

          <input type="text" class="form-control" readonly="readonly" id="supplierId" placeholder="全部" [(ngModel)]="brand.supplierId"   name="supplierId" style="display: none">
          <input type="text" class="form-control" readonly="readonly" id="supplierName" placeholder="全部" [(ngModel)]="brand.supplierName"   name="supplierName">


          <supplierClientPicker class="input-group-btn"
                                (notify)="onSelectSupplier($event)"
                                [type]="'supplier'"
          ></supplierClientPicker>
        </div>

      </div>
    </div>

  </div>
  <div class="row col-lg-12">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">搜索</button>
    <button type="button" class="btn btn-default" (click)="reset()">重置</button>
  </div>
</seer-card>







