.car_label{
  margin-top:10px;
}

.spbrow{
  margin-top:15px;
}

.header_border {
border-bottom: solid;
  border-color: #00abff;
}

.header_box{
  background-color: white;
  margin-bottom: 20px;
  padding:15px;
}

label.required:after {
  content: " *";
  color: red;
}


.header_box{
  background-color: white;
  margin-bottom: 20px;
  margin-left:-25px;
  margin-right:-25px;
  padding:15px;
}

.header_margin{
  margin-top:-10px;
}

.header{
  background-color: white;
  position: relative;
  top:-24px;
  left:-36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:5px;
  margin-right: -100px;
}
.seer_span_alert{
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  padding:7px;
  position: absolute;
  margin-left: 5px;
}
