<div *ngIf="!currentCar" class="header_box">
  <div class="row">
    <div class="col-xs-12">
      <label>查询区域</label>
      <div class="col-xs-12 header_border">

      </div>
    </div>
  </div>

  <div class="row spbrow">
    <div class="col-xs-4">
      <label class=" car_label">购入起始时间</label>
      <input
        class="form-control"
        [(ngModel)]="search.start"
        close-on-select="true"
        date-only="true"
        readonly
        ng2-datetime-picker
      />
    </div>

    <div class="col-xs-4">
      <label class=" car_label">购入结束时间</label>
      <input
        class="form-control"
        [(ngModel)]="search.end"
        close-on-select="true"
        date-only="true"
        readonly
        ng2-datetime-picker
      />
    </div>

  </div>

  <div class="row spbrow">
    <div class="col-xs-12">
      <button type="button" class="btn btn-info"
              (click)="searchByDate()"
              [disabled]="!search.start&&!search.end"
      >搜索
      </button>
      <button type="button" class="btn btn-default"
              (click)="cancel()"
      >取消
      </button>
    </div>
  </div>

</div>

<div class="header_box header_margin" *ngIf="!currentCar">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <seertable
          [data]="data"
          [titles]="titles"

          [titleOption]="titleOption"
          (notify)="onChange($event)"
        ></seertable>
        <!--       <seertotaltable
                 [data]="data"
                 [titles]="titles"
                 [translate]="translate"
                 [titleOption]="titleOption"
                 [totalText]="'总价 100万'"
                 (notify)="onChange($event)"
               ></seertotaltable>-->
      </div>
    </div>
  </div>
</div>
<form (ngSubmit)="saveCar()">
  <div class="header" *ngIf="currentCar">

    <button type="button" class="btn btn-default" (click)="cancel()">返回列表</button>
    <button type="submit"
            class="btn btn-info"
            [disabled]="showerror&&!currentCar.purchaseTime"
            (click)="showerror=true">保存
    </button>
    <span *ngIf="showerror&&!currentCar.purchaseTime"  class="seer_span_alert" >* 为必须填写项！</span>

  </div>


  <div class="header_box header_margin" *ngIf="currentCar">

    <div class="row">
      <div class="col-xs-12">
        <label>车辆</label>
        <div class="col-xs-12 header_border">

        </div>
      </div>
    </div>


    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label required">车牌号</label>
        </div>
        <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentCar.vehicleNumber}">
          <input class="form-control"
                 name="vehicleNumber"
                 fv
                 [message]="'车牌号不能为空！'" required
                 type="text"
                 [(ngModel)]="currentCar.vehicleNumber"/>
        </div>


        <div class="col-xs-offset-1 col-xs-2 required">
          <label class="pull-right car_label required">购入时间</label>
        </div>
        <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentCar.purchaseTime}">
          <input
            class="form-control"
            [(ngModel)]="currentCar.purchaseTime"
            close-on-select="true"
            date-only="true"
            name="purchaseTime"
            fv
            [message]="'购入时间不能为空！'" required
            readonly
            ng2-datetime-picker
          />
        </div>

      </div>
    </div>


    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label required">车辆类型</label>
        </div>
        <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentCar.vehicleType}">
          <!--     <select class="form-control" name="sel"
                       [(ngModel)]="currentCar.vehicleType">
                 <option *ngFor="let x of translate.vehicleType"
                         [ngValue]="x.dictValueId">
                   {{x.dictValueName}}
                 </option>
               </select>-->
          <select class="form-control"
                  dict-select
                  [key]="'VEHICLE_TYPE'"
                  name="vehicleType"
                  fv
                  [message]="'车辆类型不能为空！'" required
                  [selected]="currentCar.vehicleType"
                  [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                  [(ngModel)]="currentCar.vehicleType"></select>
        </div>

        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label required">使用性质</label>
        </div>
        <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentCar.vehicleNature}">
          <!--   <select class="form-control" name="sel"
                     [(ngModel)]="currentCar.vehicleNature">
               <option *ngFor="let x of translate.vehicleNature"
                       [ngValue]="x.dictValueId">
                 {{x.dictValueName}}
               </option>
             </select>-->
          <select class="form-control"
                  dict-select
                  [key]="'VEHICLE_NATURE'"
                  name="vehicleNature"
                  fv
                  [message]="'使用性质不能为空！'" required
                  [selected]="currentCar.vehicleNature"
                  [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                  [(ngModel)]="currentCar.vehicleNature"></select>
        </div>
      </div>
    </div>

    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label">载重(吨)</label>
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="number" name="vehicleLoad" [(ngModel)]="currentCar.vehicleLoad"/>
        </div>

        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label required">方数( m³)</label>
        </div>
        <div class="col-xs-3" [ngClass]="{'has-error': showerror&&!currentCar.vehicleSquare}">
          <input class="form-control"
                 type="number"
                 name="vehicleSquare"
                 fv
                 [message]="'方数不能为空！'" required
                 [(ngModel)]="currentCar.vehicleSquare"/>
        </div>
      </div>
    </div>

    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label">车辆识别码</label>
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="text" name="vehicleCode" [(ngModel)]="currentCar.vehicleCode"/>
        </div>

        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label">品牌型号</label>
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="text" name="vehicleBrand" [(ngModel)]="currentCar.vehicleBrand"/>
        </div>
      </div>
    </div>

    <div class="row spbrow">
      <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right car_label">发动机号</label>
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="text" name="engineCode" [(ngModel)]="currentCar.engineCode"/>
        </div>

        <!--     <div class="col-xs-offset-1 col-xs-2">
               <label class="pull-right car_label required">车辆状态</label>
             </div>
             <div class="col-xs-3" [ngClass]="{'has-error': !currentCar.vehicleState}">
         &lt;!&ndash;      <select class="form-control" name="sel"
                       [(ngModel)]="currentCar.vehicleState">
                 <option *ngFor="let x of translate.vehicleState"
                         [ngValue]="x.dictValueId">
                   {{x.dictValueName}}
                 </option>
               </select>&ndash;&gt;
               <select class="form-control"
                       dict-select
                       disabled
                       [key]="'VEHICLE_STATE'"
                       [selected]="currentCar.vehicleState"
                       [topOption]="{dictValueId:'',dictValueName:'请选择'}"
                       [(ngModel)]="currentCar.vehicleState"></select>
             </div>-->
      </div>
    </div>

    <div class="row spbrow">
      <div class="col-xs-12">

        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label">备注</label>
        </div>
        <div class="col-xs-8">
          <textarea rows="3" class="form-control" name="vehicleRemark"
                    [(ngModel)]="currentCar.vehicleRemark"></textarea>
        </div>

      </div>
    </div>


    <div class="row spbrow">
      <div class="col-xs-12">

        <div class="col-xs-offset-1 col-xs-2">
          <label class="pull-right contract_label">附件</label>
        </div>
        <div class="col-xs-8">

          <div class="col-xs-2">
            <div>
              <!--       <div class="picture-wrapper" (click)="bringFileSelector();">
                       <div class="loading" *ngIf="uploadInProgress">
                         <div class="spinner">
                           <div class="double-bounce1"></div>
                           <div class="double-bounce2"></div>
                         </div>
                       </div>
                     </div>-->
              <!--      <i class="ion-ios-close-outline" (click)="removePicture();" *ngIf="picture && canDelete"></i>-->
              <!--            <a href class="change-picture" (click)="bringFileSelector();">添加附件</a>-->
              <button type="button" class="btn btn-default" (click)="bringFileSelector()">添加附件</button>
              <input #fileUpload style="display: none" type="file" name="file" hidden="true" id="uploadFile"
                     (change)="onFiles()">
            </div>
          </div>


        </div>

      </div>

      <div class="col-xs-12">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8" style="max-height: 250px; overflow-y: auto">
          <table class="table table-bordered">
            <tr>
              <th class="text-center"><b>名称</b></th>
              <th class="text-center"><b>操作</b></th>
            </tr>
            <tr *ngFor="let x of currentAttachments; let index=index">
              <td class="text-center">
                <input type="text" class="form-control" name="attachName" [(ngModel)]="x.attachName"/>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-info btn-xs" (click)="downloadAttach(x)">
                  <i class="ion-edit"></i> 查看
                </button>
                <button type="button" class="btn btn-danger btn-xs" (click)="removeAttach(index)">
                  <i class="ion-close-round"></i> 删除
                </button>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>


    <!--  <div class="row spbrow">
        <div class="col-xs-12"
             *ngIf="!currentCar.vehicleNumber||!currentCar.purchaseTime
             ||!currentCar.vehicleNature||!currentCar.vehicleType
    ||!currentCar.vehicleSquare">
          <div class="alert alert-danger">
            * 为必须填写项
          </div>
        </div>
        &lt;!&ndash;    <div class="col-xs-12">
              <button type="button"
                      class="btn btn-info"
                      [disabled]="!currentCar.vehicleNumber||!currentCar.purchaseTime||!currentCar.vehicleNature||!currentCar.vehicleType"
                      (click)="saveCar()">保存
              </button>
              <button type="button" class="btn btn-default" (click)="cancel()">取消</button>
            </div>&ndash;&gt;
      </div>-->
  </div>

</form>
