<div class="header" *ngIf="id&&orderDetail">

  <button type="button" class="btn btn-default" (click)="cancel()">返回列表</button>

</div>
<div class="header_box header_margin" *ngIf="id">


  <tabset style="margin-top:15px;">
    <tab>
      <template tabHeading>订单详情</template>

      <div style="margin-top:15px;" *ngIf="(type=='in'&&orderType=='00')||(type=='ex'&&orderType=='01')" >

        <div class="row">
          <div class="col-xs-2">
            <label>订单编号</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.poNum}}
          </div>
          <div class="col-xs-2">
            <label>供应商</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.supplierName}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <label>订单类型</label>
          </div>
          <div class="col-xs-4">
            <!--  {{orderDetail.poCategory}}-->
            <span *ngIf="orderDetail.poCategory" dict-trans [key]="'PO_CATEGORY'" [value]="orderDetail.poCategory"></span>
          </div>
          <div class="col-xs-2">
            <label>订单状态</label>
          </div>
          <div class="col-xs-4">
            <span *ngIf="orderDetail.poState" dict-trans [key]="'PO_STATE'" [value]="orderDetail.poState"></span>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-2">
            <label>订单时间</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.poDate}}
          </div>
          <div class="col-xs-2">
            <label>付款方式</label>
          </div>
          <div class="col-xs-4">
            <!--        {{orderDetail.paymentMethod}}-->
            <span *ngIf="orderDetail.paymentMethod" dict-trans [key]="'PAYMENT_METHOD'"
                  [value]="orderDetail.paymentMethod"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <label>员工名称</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.staffName}}
          </div>
          <div class="col-xs-2">
            <label>店长名称</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.poStoreKeeperName}}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <label>订单总金额</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.poTotalAmount}}
          </div>
          <div class="col-xs-2">
            <label>备注</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.poRemark}}
            <!--    <span *ngIf="orderDetail.poRemark" dict-trans [key]="'PO_REMARK'" [value]="orderDetail.poRemark"></span>-->
          </div>
        </div>


        <div class="row">
          <div class="col-xs-2">
            <label>订单来源</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.poSource}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>币种</label>
          </div>
          <div class="col-xs-4">
            <!--   {{orderDetail.curType}}-->
            <span *ngIf="orderDetail.curType" dict-trans [key]="'CUR_TYPE'" [value]="orderDetail.curType"></span>
          </div>
        </div>

        <!--    <pre>{{ orderDetail| json}}</pre>-->
      </div>




      <div style="margin-top:15px;" *ngIf="(type=='in'&&orderType=='01')||(type=='ex'&&orderType=='00')">
        <!--        <pre>{{ orderDetail| json}}</pre>-->
        <div class="row">
          <div class="col-xs-2">
            <label>销售订单编号</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.soNum}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>终端单号</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.storeOrderNum}}
          </div>
        </div>

        <div class="row spbrow">
          <div class="col-xs-2">
            <label>销售分类</label>
          </div>
          <div class="col-xs-4">
            <span *ngIf="orderDetail.soCategory" dict-trans [key]="'SO_CATEGORY'" [value]="orderDetail.soCategory"></span>
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>收款方式</label>
          </div>
          <div class="col-xs-4">
            <span *ngIf="orderDetail.receiptMethod" dict-trans [key]="'RECEIPT_METHOD'" [value]="orderDetail.receiptMethod"></span>
          </div>
        </div>



        <div class="row spbrow">
          <div class="col-xs-2">
            <label>账期时间</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.paymentDate}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>配送方式</label>
          </div>
          <div class="col-xs-4">
            <span *ngIf="orderDetail.shippingMethod" dict-trans [key]="'SHIPPING_METHOD'" [value]="orderDetail.shippingMethod"></span>
<!--            {{orderDetail.shippingMethod}}-->
          </div>
        </div>

        <div class="row spbrow">
          <div class="col-xs-2">
            <label>送货截止时间</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.deliveryEndDate}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>对方代表</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.partner}}
          </div>
        </div>



        <div class="row spbrow">
          <div class="col-xs-2">
            <label>订单类型</label>
          </div>
          <div class="col-xs-4">
            <span *ngIf="orderDetail.soType" dict-trans [key]="'SO_TYPE'" [value]="orderDetail.soType"></span>
         <!--   {{orderDetail.soType}}-->
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>币种</label>
          </div>
          <div class="col-xs-4">
            <span *ngIf="orderDetail.curType" dict-trans [key]="'CUR_TYPE'" [value]="orderDetail.curType"></span>
          </div>
        </div>


        <div class="row spbrow">
          <div class="col-xs-2">
            <label>发票回执</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.invoiceReceipt}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>订单来源</label>
          </div>
          <div class="col-xs-4">
            <span *ngIf="orderDetail.soSource" dict-trans [key]="'SO_SOURCE'" [value]="orderDetail.soSource"></span>
          </div>
        </div>


        <div class="row spbrow">
          <div class="col-xs-2">
            <label>订单状态</label>
          </div>
          <div class="col-xs-4">
       <!--     {{orderDetail.soState}}-->
            <span *ngIf="orderDetail.soState" dict-trans [key]="'SO_STATE'" [value]="orderDetail.soState"></span>
          </div>
          <div class="col-xs-2">
            <label>订单总金额</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.soTotalAmount}}
          </div>
        </div>


        <div class="row spbrow">
          <div class="col-xs-2">
            <label>验收时间</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.acceptDate}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>客户名称</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.customerName}}
          </div>
        </div>

        <div class="row spbrow">
          <div class="col-xs-2">
            <label>商店名称</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.storeName}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
          <div class="col-xs-2">
            <label>员工</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.staffName}}
          </div>
        </div>

        <div class="row spbrow">
          <div class="col-xs-2">
            <label>库管人员</label>
          </div>
          <div class="col-xs-4">
            {{orderDetail.storekeeperName}}
            <!--            <span *ngIf="orderDetail.poSource" dict-trans [key]="'PO_SOURCE'" [value]="orderDetail.poSource"></span>-->
          </div>
        </div>

      </div>

    </tab>





    <tab>
      <template tabHeading>订单商品列表</template>

      <div style="margin-top:15px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <seerlisttable
                [data]="orderDetailList"
                [titles]="orderDetailListTitles"
              ></seerlisttable>
            </div>
          </div>
        </div>
        <!--        <pre>{{ orderDetailList| json}}</pre>-->
      </div>

    </tab>
    <tab>
      <template tabHeading>关联订单列表</template>

      <div style="margin-top:15px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <seerlisttable
                [titleOption]="associatedOrderListTitles"
                [data]="associatedOrderList"
                [titles]="associatedOrderListTitles"
              ></seerlisttable>
            </div>
          </div>
        </div>
<!--        <pre>{{associatedOrderList | json}}</pre>-->

      </div>

    </tab>
    <tab *ngIf="(type == 'in'&&orderType=='01')||(type == 'ex'&&orderType=='00')">
      <template tabHeading>赠品列表</template>

      <div style="margin-top:15px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <seerlisttable
                [data]="gift"
                [titles]="goodstitles"
              ></seerlisttable>
            </div>
          </div>
        </div>
  <!--      <pre>{{ gift| json}}</pre>-->
      </div>

    </tab>
    <tab *ngIf="(type == 'in'&&orderType=='01')||(type == 'ex'&&orderType=='00')">
      <template tabHeading>物料列表</template>

      <div style="margin-top:15px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <seerlisttable
                [data]="material"
                [titles]="goodstitles"
              ></seerlisttable>
            </div>
          </div>
        </div>
      <!--  <pre>{{ material| json}}</pre>-->
      </div>

    </tab>
  </tabset>

</div>

