<form (submit)="save()">
  <div class="form-page-header">
    <button type="button" class="btn btn-default" (click)="goBack()">返回列表</button>
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
  <seer-card [title]="title" >
    <div class="form-group" style="margin-top:20px;">
        <div class="row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="name" class="col-sm-4 control-label" style="height:35px; line-height:35px;">模板名称</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="name" placeholder="模板名称">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xlg-3">
              <div class="row">
                <label for="name" class="col-sm-4 control-label" style="height:35px; line-height:35px;">业务类型</label>
                <div class="col-sm-8 ">
                  <input type="text" class="form-control" id="name" placeholder="业务类型">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="row">
                    <label for="debtIntroduction" class="col-sm-4 col-md-2 col-xlg-1 control-label">模板内容</label>
                    <div class="col-sm-8 col-md-10 col-xlg-11">
                        <textarea class="form-control" id="debtIntroduction" placeholder="模板内容"></textarea>
                    </div>
                </div>
            </div> 
              <!-- <div>
          根据后端传来的字段，已{{}}方式输出（用ngif判断 是从修改来还是新增来，来确定是否显示这个盒子）
        </div> -->
        </div>
    </div> 
  </seer-card>
</form>


 
