<seer-card [title]="title">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="time-begin">订单开始日期</label>
        <input type="text"
               [(ngModel)]="term.timeBegin"
               class="form-control"
               id="time-begin"
               ng2-datetime-picker
               [close-on-select]="true"
               [date-only]="true"
               placeholder="不限">
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="time-end">订单结束日期</label>
        <input type="text"
               [(ngModel)]="term.timeEnd"
               class="form-control"
               id="time-end"
               ng2-datetime-picker
               [close-on-select]="true"
               [date-only]="true"
               placeholder="不限">
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>我方人员</label>
        <div class="input-group">
          <input type="text" class="form-control" readonly="readonly" placeholder="全部"
                 [(ngModel)]="selectedStaffName">
          <span class="input-group-btn">
          <button class="btn btn-default" tree-picker [data]="staffs" (notify)="onTreePickerNotify($event)" [excludeFolders]="true" [multiSelect]="false" [selectParentCascade]="false"><i class="fa fa-search"></i></button>
        </span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="supplier">供应商</label>
        <div class="input-group">
          <input type="text" class="form-control" readonly="readonly" id="supplier" placeholder="全部" [(ngModel)]="supplierName">
          <supplierClientPicker class="input-group-btn"
            (notify)="onSelectSupplier($event)"
            [type]="'supplier'"
          ></supplierClientPicker>
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>采购分类</label>
        <select class="form-control" dict-select [key]="'PO_CATEGORY'" [(ngModel)]="term.poCategory" [topOption]="{dictValueId:'',dictValueName:'全部'}">
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label>订单状态</label>
        <select class="form-control" dict-select [key]="'PO_STATE'" [(ngModel)]="term.poState" [topOption]="{dictValueId:'',dictValueName:'全部'}">
        </select>
      </div>
    </div>
  </div>
  <div class="row col-lg-12">
    <button type="button" class="btn btn-primary" (click)="search()" [disabled]="!term">搜索</button>
    <button type="button" class="btn btn-default" (click)="reset()">重置</button>
  </div>
</seer-card>
