<div>
  <span style="display:flex;">
    <input *ngIf="checkPermissions(treePermissions.SHOW_FILTER)" #filter class="filter form-control" (keyup)="filterNodes(filter.value, tree)"
      placeholder="{{filterText}}" />
    <button *ngIf="checkPermissions(treePermissions.SHOW_ADD_ROOT,treePermissions.MULTI_ROOT)" (click)="addRootNode($event)"
      class="top-button">
      <i class="ion-android-add" style="margin-left:-1px"></i>
    </button>
  </span>
  <angular2-tree #tree [nodes]="nodes" [focused]="true" [options]="seerTreeOptions" (onEvent)="onEvent($event)">
    <ng-template #treeNodeTemplate let-node>
      <div style="overflow: hidden; white-space: nowrap;">
        <i *ngIf="!node.isLeaf && checkPermissions(treePermissions.MULTI_SELECT)" (dblclick)="stopPropagation($event)" (click)="onToggleChildren($event,node)"
          class="virtual-checkbox" [class.ion-android-checkbox-outline-blank]="!node.isActive" [class.ion-android-checkbox-outline]="node.isActive && !node.isAllChildrenActive"
          [class.ion-android-checkbox]="node.isActive && node.isAllChildrenActive"></i>
        <i *ngIf="node.isLeaf && checkPermissions(treePermissions.MULTI_SELECT)" (dblclick)="stopPropagation($event)" (click)="onToggleLeaf($event,node)"
          class="virtual-checkbox" [class.ion-android-checkbox-outline-blank]="!node.isActive" [class.ion-android-checkbox-outline]="node.isActive"></i>
        <span *ngIf="!node.isInEditing" title="{{node.data.name}}">
          <i class="virtual-checkbox icon-padding" [class.icon-bag-open]="node.canExpand && node.isExpanded && !node.customIconField" [class.icon-bag-close]="node.canExpand && !node.isExpanded && !node.customIconField" [class.icon-doc]="!node.canExpand && !node.hasChildren && !node.customIconField"
            [ngClass]="node.customIconField"></i>{{ node.data.name }}</span>
        <input *ngIf="node.isInEditing" [(ngModel)]="node.data.name" (click)="stopPropagation($event)" (dblclick)="stopPropagation($event)"
        />
        <span>
          <!-- <button *ngIf="node.isInEditing && !node.hasChildren && !node.forbidChangeTypeField" (click)="changeType($event, node)" class="options-button"><i [class]="node.canExpand ? 'ion-android-folder-open':'ion-document'" [style.margin-left]="node.canExpand ? '-3px':'-1px'"></i></button> -->
          <button *ngIf="node.isInEditing" (click)="saveEditing($event, node)" class="options-button">
            <i class="ion-checkmark-round" style="margin-left:-3px"></i>
          </button>
          <button *ngIf="node.isInEditing" (click)="cancelEditing($event, node)" class="options-button">
            <i class="ion-close-round" style="margin-left:-2px"></i>
          </button>
        </span>
        <span *ngIf="childrenCount(node)" class="children-count">{{ childrenCount(node) }}</span>
      </div>
      <div class="tree-node-actions">
            <!-- <span *ngIf="checkPermissions(treePermissions.EDIT)">···</span> -->
            <div class="tree-node-action-list">
              <button *ngIf="!node.isInEditing && node.children && checkPermissions(treePermissions.ADD) && !node.data.isLast" (click)="addNode($event, node)" class="options-button"><i class="ion-android-add" style="margin-left:-1px"></i></button>
              <button *ngIf="!node.isInEditing && checkPermissions(treePermissions.EDIT)" (click)="edit($event, node)" class="options-button"><i class="ion-edit" style="margin-left:-3px"></i></button>
              <button *ngIf="!node.isInEditing && checkPermissions(treePermissions.DELETE) && !node.isRoot" (click)="deleteNode($event, node)" class="options-button"><i class="ion-android-delete" style="margin-left:-1px"></i></button>
            </div>
          </div>
      <!-- <div class="">
        <span *ngIf="checkPermissions(treePermissions.EDIT)">···</span>
        <div class="">
          <button *ngIf="!node.isInEditing && node.children && checkPermissions(treePermissions.ADD) && !node.data.isLast" (click)="addNode($event, node)"
            class="options-button">
            <i class="icon-org-add" style="margin-left:-1px"></i>
          </button>
          <button *ngIf="!node.isInEditing && checkPermissions(treePermissions.EDIT)" (click)="edit($event, node)" class="options-button">
            <i class="icon-org-edit" style="margin-left:-3px"></i>
          </button>
          <button *ngIf="!node.isInEditing && checkPermissions(treePermissions.DELETE) && !node.isRoot" (click)="deleteNode($event, node)"
            class="options-button">
            <i class="icon-org-delete" style="margin-left:-1px"></i>
          </button>
        </div>
      </div> -->


    </ng-template>
    <ng-template #loadingTemplate>{{loadingText}}</ng-template>
  </angular2-tree>
</div>
